/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.EncounterConditionDetail
import org.openapitools.client.model.EncounterConditionValueDetail
import org.openapitools.client.model.EncounterMethodDetail
import org.openapitools.client.model.PaginatedEncounterConditionSummaryList
import org.openapitools.client.model.PaginatedEncounterConditionValueSummaryList
import org.openapitools.client.model.PaginatedEncounterMethodSummaryList
import org.openapitools.client.model.PokemonEncountersRetrieve200ResponseInner
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EncountersApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new EncountersApi(baseUrl)
}

class EncountersApi(baseUrl: String) {

  /**
   * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
   * 
   * Expected answers:
   *   code 200 : PaginatedEncounterConditionSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def encounterConditionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedEncounterConditionSummaryList] =
    ApiRequest[PaginatedEncounterConditionSummaryList](ApiMethods.GET, baseUrl, "/api/v2/encounter-condition/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedEncounterConditionSummaryList](200)
      

  /**
   * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
   * 
   * Expected answers:
   *   code 200 : EncounterConditionDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def encounterConditionRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[EncounterConditionDetail] =
    ApiRequest[EncounterConditionDetail](ApiMethods.GET, baseUrl, "/api/v2/encounter-condition/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[EncounterConditionDetail](200)
      

  /**
   * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
   * 
   * Expected answers:
   *   code 200 : PaginatedEncounterConditionValueSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def encounterConditionValueList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedEncounterConditionValueSummaryList] =
    ApiRequest[PaginatedEncounterConditionValueSummaryList](ApiMethods.GET, baseUrl, "/api/v2/encounter-condition-value/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedEncounterConditionValueSummaryList](200)
      

  /**
   * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
   * 
   * Expected answers:
   *   code 200 : EncounterConditionValueDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def encounterConditionValueRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[EncounterConditionValueDetail] =
    ApiRequest[EncounterConditionValueDetail](ApiMethods.GET, baseUrl, "/api/v2/encounter-condition-value/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[EncounterConditionValueDetail](200)
      

  /**
   * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
   * 
   * Expected answers:
   *   code 200 : PaginatedEncounterMethodSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def encounterMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedEncounterMethodSummaryList] =
    ApiRequest[PaginatedEncounterMethodSummaryList](ApiMethods.GET, baseUrl, "/api/v2/encounter-method/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedEncounterMethodSummaryList](200)
      

  /**
   * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
   * 
   * Expected answers:
   *   code 200 : EncounterMethodDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def encounterMethodRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[EncounterMethodDetail] =
    ApiRequest[EncounterMethodDetail](ApiMethods.GET, baseUrl, "/api/v2/encounter-method/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[EncounterMethodDetail](200)
      

  /**
   * Handles Pokemon Encounters as a sub-resource.
   * 
   * Expected answers:
   *   code 200 : Seq[PokemonEncountersRetrieve200ResponseInner] ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param pokemonId 
   */
  def pokemonEncountersRetrieve(pokemonId: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[Seq[PokemonEncountersRetrieve200ResponseInner]] =
    ApiRequest[Seq[PokemonEncountersRetrieve200ResponseInner]](ApiMethods.GET, baseUrl, "/api/v2/pokemon/{pokemon_id}/encounters", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("pokemon_id", pokemonId)
      .withSuccessResponse[Seq[PokemonEncountersRetrieve200ResponseInner]](200)
      



}

