/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.LocationAreaDetail
import org.openapitools.client.model.LocationDetail
import org.openapitools.client.model.PaginatedLocationAreaSummaryList
import org.openapitools.client.model.PaginatedLocationSummaryList
import org.openapitools.client.model.PaginatedPalParkAreaSummaryList
import org.openapitools.client.model.PaginatedRegionSummaryList
import org.openapitools.client.model.PalParkAreaDetail
import org.openapitools.client.model.RegionDetail
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LocationApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new LocationApi(baseUrl)
}

class LocationApi(baseUrl: String) {

  /**
   * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
   * 
   * Expected answers:
   *   code 200 : PaginatedLocationAreaSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   */
  def locationAreaList(limit: Option[Int] = None, offset: Option[Int] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedLocationAreaSummaryList] =
    ApiRequest[PaginatedLocationAreaSummaryList](ApiMethods.GET, baseUrl, "/api/v2/location-area/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withSuccessResponse[PaginatedLocationAreaSummaryList](200)
      

  /**
   * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
   * 
   * Expected answers:
   *   code 200 : LocationAreaDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id A unique integer value identifying this location area.
   */
  def locationAreaRetrieve(id: Int)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[LocationAreaDetail] =
    ApiRequest[LocationAreaDetail](ApiMethods.GET, baseUrl, "/api/v2/location-area/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[LocationAreaDetail](200)
      

  /**
   * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
   * 
   * Expected answers:
   *   code 200 : PaginatedLocationSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def locationList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedLocationSummaryList] =
    ApiRequest[PaginatedLocationSummaryList](ApiMethods.GET, baseUrl, "/api/v2/location/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedLocationSummaryList](200)
      

  /**
   * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
   * 
   * Expected answers:
   *   code 200 : LocationDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def locationRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[LocationDetail] =
    ApiRequest[LocationDetail](ApiMethods.GET, baseUrl, "/api/v2/location/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[LocationDetail](200)
      

  /**
   * Areas used for grouping Pokémon encounters in Pal Park. They're like habitats that are specific to Pal Park.
   * 
   * Expected answers:
   *   code 200 : PaginatedPalParkAreaSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def palParkAreaList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedPalParkAreaSummaryList] =
    ApiRequest[PaginatedPalParkAreaSummaryList](ApiMethods.GET, baseUrl, "/api/v2/pal-park-area/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedPalParkAreaSummaryList](200)
      

  /**
   * Areas used for grouping Pokémon encounters in Pal Park. They're like habitats that are specific to Pal Park.
   * 
   * Expected answers:
   *   code 200 : PalParkAreaDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def palParkAreaRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PalParkAreaDetail] =
    ApiRequest[PalParkAreaDetail](ApiMethods.GET, baseUrl, "/api/v2/pal-park-area/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[PalParkAreaDetail](200)
      

  /**
   * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
   * 
   * Expected answers:
   *   code 200 : PaginatedRegionSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def regionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedRegionSummaryList] =
    ApiRequest[PaginatedRegionSummaryList](ApiMethods.GET, baseUrl, "/api/v2/region/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedRegionSummaryList](200)
      

  /**
   * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
   * 
   * Expected answers:
   *   code 200 : RegionDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def regionRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[RegionDetail] =
    ApiRequest[RegionDetail](ApiMethods.GET, baseUrl, "/api/v2/region/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[RegionDetail](200)
      



}

