/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.MoveBattleStyleDetail
import org.openapitools.client.model.MoveDetail
import org.openapitools.client.model.MoveLearnMethodDetail
import org.openapitools.client.model.MoveMetaAilmentDetail
import org.openapitools.client.model.MoveMetaCategoryDetail
import org.openapitools.client.model.MoveTargetDetail
import org.openapitools.client.model.PaginatedMoveBattleStyleSummaryList
import org.openapitools.client.model.PaginatedMoveLearnMethodSummaryList
import org.openapitools.client.model.PaginatedMoveMetaAilmentSummaryList
import org.openapitools.client.model.PaginatedMoveMetaCategorySummaryList
import org.openapitools.client.model.PaginatedMoveSummaryList
import org.openapitools.client.model.PaginatedMoveTargetSummaryList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object MovesApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new MovesApi(baseUrl)
}

class MovesApi(baseUrl: String) {

  /**
   * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveMetaAilmentSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveAilmentList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveMetaAilmentSummaryList] =
    ApiRequest[PaginatedMoveMetaAilmentSummaryList](ApiMethods.GET, baseUrl, "/api/v2/move-ailment/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveMetaAilmentSummaryList](200)
      

  /**
   * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
   * 
   * Expected answers:
   *   code 200 : MoveMetaAilmentDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveAilmentRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveMetaAilmentDetail] =
    ApiRequest[MoveMetaAilmentDetail](ApiMethods.GET, baseUrl, "/api/v2/move-ailment/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveMetaAilmentDetail](200)
      

  /**
   * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveBattleStyleSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveBattleStyleList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveBattleStyleSummaryList] =
    ApiRequest[PaginatedMoveBattleStyleSummaryList](ApiMethods.GET, baseUrl, "/api/v2/move-battle-style/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveBattleStyleSummaryList](200)
      

  /**
   * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
   * 
   * Expected answers:
   *   code 200 : MoveBattleStyleDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveBattleStyleRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveBattleStyleDetail] =
    ApiRequest[MoveBattleStyleDetail](ApiMethods.GET, baseUrl, "/api/v2/move-battle-style/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveBattleStyleDetail](200)
      

  /**
   * Very general categories that loosely group move effects.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveMetaCategorySummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveMetaCategorySummaryList] =
    ApiRequest[PaginatedMoveMetaCategorySummaryList](ApiMethods.GET, baseUrl, "/api/v2/move-category/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveMetaCategorySummaryList](200)
      

  /**
   * Very general categories that loosely group move effects.
   * 
   * Expected answers:
   *   code 200 : MoveMetaCategoryDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveCategoryRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveMetaCategoryDetail] =
    ApiRequest[MoveMetaCategoryDetail](ApiMethods.GET, baseUrl, "/api/v2/move-category/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveMetaCategoryDetail](200)
      

  /**
   * Methods by which Pokémon can learn moves.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveLearnMethodSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveLearnMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveLearnMethodSummaryList] =
    ApiRequest[PaginatedMoveLearnMethodSummaryList](ApiMethods.GET, baseUrl, "/api/v2/move-learn-method/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveLearnMethodSummaryList](200)
      

  /**
   * Methods by which Pokémon can learn moves.
   * 
   * Expected answers:
   *   code 200 : MoveLearnMethodDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveLearnMethodRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveLearnMethodDetail] =
    ApiRequest[MoveLearnMethodDetail](ApiMethods.GET, baseUrl, "/api/v2/move-learn-method/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveLearnMethodDetail](200)
      

  /**
   * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveSummaryList] =
    ApiRequest[PaginatedMoveSummaryList](ApiMethods.GET, baseUrl, "/api/v2/move/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveSummaryList](200)
      

  /**
   * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
   * 
   * Expected answers:
   *   code 200 : MoveDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveDetail] =
    ApiRequest[MoveDetail](ApiMethods.GET, baseUrl, "/api/v2/move/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveDetail](200)
      

  /**
   * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
   * 
   * Expected answers:
   *   code 200 : PaginatedMoveTargetSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def moveTargetList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedMoveTargetSummaryList] =
    ApiRequest[PaginatedMoveTargetSummaryList](ApiMethods.GET, baseUrl, "/api/v2/move-target/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedMoveTargetSummaryList](200)
      

  /**
   * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
   * 
   * Expected answers:
   *   code 200 : MoveTargetDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def moveTargetRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[MoveTargetDetail] =
    ApiRequest[MoveTargetDetail](ApiMethods.GET, baseUrl, "/api/v2/move-target/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[MoveTargetDetail](200)
      



}

