/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ContestEffectDetail;
import org.openapitools.model.ContestTypeDetail;
import org.openapitools.model.PaginatedContestEffectSummaryList;
import org.openapitools.model.PaginatedContestTypeSummaryList;
import org.openapitools.model.PaginatedSuperContestEffectSummaryList;
import org.openapitools.model.SuperContestEffectDetail;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T04:16:49.114765561Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ContestsApi {
    /**
     * List contest effects
     * Contest effects refer to the effects of moves when used in contests.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedContestEffectSummaryList
     */
    @Get(uri="/api/v2/contest-effect/")
    @Consumes({"application/json"})
    Mono<PaginatedContestEffectSummaryList> contestEffectList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get contest effect
     * Contest effects refer to the effects of moves when used in contests.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ContestEffectDetail
     */
    @Get(uri="/api/v2/contest-effect/{id}/")
    @Consumes({"application/json"})
    Mono<ContestEffectDetail> contestEffectRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List contest types
     * Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedContestTypeSummaryList
     */
    @Get(uri="/api/v2/contest-type/")
    @Consumes({"application/json"})
    Mono<PaginatedContestTypeSummaryList> contestTypeList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get contest type
     * Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ContestTypeDetail
     */
    @Get(uri="/api/v2/contest-type/{id}/")
    @Consumes({"application/json"})
    Mono<ContestTypeDetail> contestTypeRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List super contest effects
     * Super contest effects refer to the effects of moves when used in super contests.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedSuperContestEffectSummaryList
     */
    @Get(uri="/api/v2/super-contest-effect/")
    @Consumes({"application/json"})
    Mono<PaginatedSuperContestEffectSummaryList> superContestEffectList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get super contest effect
     * Super contest effects refer to the effects of moves when used in super contests.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return SuperContestEffectDetail
     */
    @Get(uri="/api/v2/super-contest-effect/{id}/")
    @Consumes({"application/json"})
    Mono<SuperContestEffectDetail> superContestEffectRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
