/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.EncounterConditionDetail;
import org.openapitools.model.EncounterConditionValueDetail;
import org.openapitools.model.EncounterMethodDetail;
import org.openapitools.model.PaginatedEncounterConditionSummaryList;
import org.openapitools.model.PaginatedEncounterConditionValueSummaryList;
import org.openapitools.model.PaginatedEncounterMethodSummaryList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T15:22:54.857535619Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface EncountersApi {
    /**
     * List encounter conditions
     * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedEncounterConditionSummaryList
     */
    @Get(uri="/api/v2/encounter-condition/")
    @Consumes({"application/json"})
    Mono<PaginatedEncounterConditionSummaryList> encounterConditionList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get encounter condition
     * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return EncounterConditionDetail
     */
    @Get(uri="/api/v2/encounter-condition/{id}/")
    @Consumes({"application/json"})
    Mono<EncounterConditionDetail> encounterConditionRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List encounter condition values
     * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedEncounterConditionValueSummaryList
     */
    @Get(uri="/api/v2/encounter-condition-value/")
    @Consumes({"application/json"})
    Mono<PaginatedEncounterConditionValueSummaryList> encounterConditionValueList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get encounter condition value
     * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return EncounterConditionValueDetail
     */
    @Get(uri="/api/v2/encounter-condition-value/{id}/")
    @Consumes({"application/json"})
    Mono<EncounterConditionValueDetail> encounterConditionValueRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List encounter methods
     * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedEncounterMethodSummaryList
     */
    @Get(uri="/api/v2/encounter-method/")
    @Consumes({"application/json"})
    Mono<PaginatedEncounterMethodSummaryList> encounterMethodList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get encounter method
     * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return EncounterMethodDetail
     */
    @Get(uri="/api/v2/encounter-method/{id}/")
    @Consumes({"application/json"})
    Mono<EncounterMethodDetail> encounterMethodRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
