/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.GenerationDetail;
import org.openapitools.model.PaginatedGenerationSummaryList;
import org.openapitools.model.PaginatedPokedexSummaryList;
import org.openapitools.model.PaginatedVersionGroupSummaryList;
import org.openapitools.model.PaginatedVersionSummaryList;
import org.openapitools.model.PokedexDetail;
import org.openapitools.model.VersionDetail;
import org.openapitools.model.VersionGroupDetail;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T15:22:54.857535619Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface GamesApi {
    /**
     * List genrations
     * A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedGenerationSummaryList
     */
    @Get(uri="/api/v2/generation/")
    @Consumes({"application/json"})
    Mono<PaginatedGenerationSummaryList> generationList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get genration
     * A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return GenerationDetail
     */
    @Get(uri="/api/v2/generation/{id}/")
    @Consumes({"application/json"})
    Mono<GenerationDetail> generationRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokedex
     * A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokedexSummaryList
     */
    @Get(uri="/api/v2/pokedex/")
    @Consumes({"application/json"})
    Mono<PaginatedPokedexSummaryList> pokedexList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokedex
     * A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokedexDetail
     */
    @Get(uri="/api/v2/pokedex/{id}/")
    @Consumes({"application/json"})
    Mono<PokedexDetail> pokedexRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List version groups
     * Version groups categorize highly similar versions of the games.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedVersionGroupSummaryList
     */
    @Get(uri="/api/v2/version-group/")
    @Consumes({"application/json"})
    Mono<PaginatedVersionGroupSummaryList> versionGroupList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get version group
     * Version groups categorize highly similar versions of the games.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return VersionGroupDetail
     */
    @Get(uri="/api/v2/version-group/{id}/")
    @Consumes({"application/json"})
    Mono<VersionGroupDetail> versionGroupRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List versions
     * Versions of the games, e.g., Red, Blue or Yellow.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedVersionSummaryList
     */
    @Get(uri="/api/v2/version/")
    @Consumes({"application/json"})
    Mono<PaginatedVersionSummaryList> versionList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get version
     * Versions of the games, e.g., Red, Blue or Yellow.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return VersionDetail
     */
    @Get(uri="/api/v2/version/{id}/")
    @Consumes({"application/json"})
    Mono<VersionDetail> versionRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
