/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ItemAttributeDetail;
import org.openapitools.model.ItemCategoryDetail;
import org.openapitools.model.ItemDetail;
import org.openapitools.model.ItemFlingEffectDetail;
import org.openapitools.model.ItemPocketDetail;
import org.openapitools.model.PaginatedItemAttributeSummaryList;
import org.openapitools.model.PaginatedItemCategorySummaryList;
import org.openapitools.model.PaginatedItemFlingEffectSummaryList;
import org.openapitools.model.PaginatedItemPocketSummaryList;
import org.openapitools.model.PaginatedItemSummaryList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T15:22:54.857535619Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ItemsApi {
    /**
     * List item attributes
     * Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedItemAttributeSummaryList
     */
    @Get(uri="/api/v2/item-attribute/")
    @Consumes({"application/json"})
    Mono<PaginatedItemAttributeSummaryList> itemAttributeList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get item attribute
     * Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ItemAttributeDetail
     */
    @Get(uri="/api/v2/item-attribute/{id}/")
    @Consumes({"application/json"})
    Mono<ItemAttributeDetail> itemAttributeRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List item categories
     * Item categories determine where items will be placed in the players bag.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedItemCategorySummaryList
     */
    @Get(uri="/api/v2/item-category/")
    @Consumes({"application/json"})
    Mono<PaginatedItemCategorySummaryList> itemCategoryList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get item category
     * Item categories determine where items will be placed in the players bag.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ItemCategoryDetail
     */
    @Get(uri="/api/v2/item-category/{id}/")
    @Consumes({"application/json"})
    Mono<ItemCategoryDetail> itemCategoryRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List item fling effects
     * The various effects of the move\&quot;Fling\&quot; when used with different items.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedItemFlingEffectSummaryList
     */
    @Get(uri="/api/v2/item-fling-effect/")
    @Consumes({"application/json"})
    Mono<PaginatedItemFlingEffectSummaryList> itemFlingEffectList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get item fling effect
     * The various effects of the move\&quot;Fling\&quot; when used with different items.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ItemFlingEffectDetail
     */
    @Get(uri="/api/v2/item-fling-effect/{id}/")
    @Consumes({"application/json"})
    Mono<ItemFlingEffectDetail> itemFlingEffectRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List items
     * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedItemSummaryList
     */
    @Get(uri="/api/v2/item/")
    @Consumes({"application/json"})
    Mono<PaginatedItemSummaryList> itemList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * List item pockets
     * Pockets within the players bag used for storing items by category.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedItemPocketSummaryList
     */
    @Get(uri="/api/v2/item-pocket/")
    @Consumes({"application/json"})
    Mono<PaginatedItemPocketSummaryList> itemPocketList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get item pocket
     * Pockets within the players bag used for storing items by category.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ItemPocketDetail
     */
    @Get(uri="/api/v2/item-pocket/{id}/")
    @Consumes({"application/json"})
    Mono<ItemPocketDetail> itemPocketRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Get item
     * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return ItemDetail
     */
    @Get(uri="/api/v2/item/{id}/")
    @Consumes({"application/json"})
    Mono<ItemDetail> itemRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
