/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.LocationAreaDetail;
import org.openapitools.model.LocationDetail;
import org.openapitools.model.PaginatedLocationAreaSummaryList;
import org.openapitools.model.PaginatedLocationSummaryList;
import org.openapitools.model.PaginatedPalParkAreaSummaryList;
import org.openapitools.model.PaginatedRegionSummaryList;
import org.openapitools.model.PalParkAreaDetail;
import org.openapitools.model.RegionDetail;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T15:22:54.857535619Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface LocationApi {
    /**
     * List location areas
     * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedLocationAreaSummaryList
     */
    @Get(uri="/api/v2/location-area/")
    @Consumes({"application/json"})
    Mono<PaginatedLocationAreaSummaryList> locationAreaList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset
    );

    /**
     * Get location area
     * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
     *
     * @param id A unique integer value identifying this location area. (required)
     * @return LocationAreaDetail
     */
    @Get(uri="/api/v2/location-area/{id}/")
    @Consumes({"application/json"})
    Mono<LocationAreaDetail> locationAreaRetrieve(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List locations
     * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedLocationSummaryList
     */
    @Get(uri="/api/v2/location/")
    @Consumes({"application/json"})
    Mono<PaginatedLocationSummaryList> locationList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get location
     * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return LocationDetail
     */
    @Get(uri="/api/v2/location/{id}/")
    @Consumes({"application/json"})
    Mono<LocationDetail> locationRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pal park areas
     * Areas used for grouping Pokémon encounters in Pal Park. They&#39;re like habitats that are specific to Pal Park.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPalParkAreaSummaryList
     */
    @Get(uri="/api/v2/pal-park-area/")
    @Consumes({"application/json"})
    Mono<PaginatedPalParkAreaSummaryList> palParkAreaList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pal park area
     * Areas used for grouping Pokémon encounters in Pal Park. They&#39;re like habitats that are specific to Pal Park.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PalParkAreaDetail
     */
    @Get(uri="/api/v2/pal-park-area/{id}/")
    @Consumes({"application/json"})
    Mono<PalParkAreaDetail> palParkAreaRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List regions
     * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedRegionSummaryList
     */
    @Get(uri="/api/v2/region/")
    @Consumes({"application/json"})
    Mono<PaginatedRegionSummaryList> regionList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get region
     * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return RegionDetail
     */
    @Get(uri="/api/v2/region/{id}/")
    @Consumes({"application/json"})
    Mono<RegionDetail> regionRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
