/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.MoveBattleStyleDetail;
import org.openapitools.model.MoveDetail;
import org.openapitools.model.MoveLearnMethodDetail;
import org.openapitools.model.MoveMetaAilmentDetail;
import org.openapitools.model.MoveMetaCategoryDetail;
import org.openapitools.model.MoveTargetDetail;
import org.openapitools.model.PaginatedMoveBattleStyleSummaryList;
import org.openapitools.model.PaginatedMoveLearnMethodSummaryList;
import org.openapitools.model.PaginatedMoveMetaAilmentSummaryList;
import org.openapitools.model.PaginatedMoveMetaCategorySummaryList;
import org.openapitools.model.PaginatedMoveSummaryList;
import org.openapitools.model.PaginatedMoveTargetSummaryList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T04:16:49.114765561Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface MovesApi {
    /**
     * List move meta ailments
     * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveMetaAilmentSummaryList
     */
    @Get(uri="/api/v2/move-ailment/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveMetaAilmentSummaryList> moveAilmentList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move meta ailment
     * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveMetaAilmentDetail
     */
    @Get(uri="/api/v2/move-ailment/{id}/")
    @Consumes({"application/json"})
    Mono<MoveMetaAilmentDetail> moveAilmentRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List move battle styles
     * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveBattleStyleSummaryList
     */
    @Get(uri="/api/v2/move-battle-style/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveBattleStyleSummaryList> moveBattleStyleList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move battle style
     * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveBattleStyleDetail
     */
    @Get(uri="/api/v2/move-battle-style/{id}/")
    @Consumes({"application/json"})
    Mono<MoveBattleStyleDetail> moveBattleStyleRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List move meta categories
     * Very general categories that loosely group move effects.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveMetaCategorySummaryList
     */
    @Get(uri="/api/v2/move-category/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveMetaCategorySummaryList> moveCategoryList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move meta category
     * Very general categories that loosely group move effects.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveMetaCategoryDetail
     */
    @Get(uri="/api/v2/move-category/{id}/")
    @Consumes({"application/json"})
    Mono<MoveMetaCategoryDetail> moveCategoryRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List move learn methods
     * Methods by which Pokémon can learn moves.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveLearnMethodSummaryList
     */
    @Get(uri="/api/v2/move-learn-method/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveLearnMethodSummaryList> moveLearnMethodList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move learn method
     * Methods by which Pokémon can learn moves.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveLearnMethodDetail
     */
    @Get(uri="/api/v2/move-learn-method/{id}/")
    @Consumes({"application/json"})
    Mono<MoveLearnMethodDetail> moveLearnMethodRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List moves
     * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveSummaryList
     */
    @Get(uri="/api/v2/move/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveSummaryList> moveList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move
     * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveDetail
     */
    @Get(uri="/api/v2/move/{id}/")
    @Consumes({"application/json"})
    Mono<MoveDetail> moveRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List move targets
     * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveTargetSummaryList
     */
    @Get(uri="/api/v2/move-target/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveTargetSummaryList> moveTargetList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move target
     * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveTargetDetail
     */
    @Get(uri="/api/v2/move-target/{id}/")
    @Consumes({"application/json"})
    Mono<MoveTargetDetail> moveTargetRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
