/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AbilityDetail;
import org.openapitools.model.CharacteristicDetail;
import org.openapitools.model.EggGroupDetail;
import org.openapitools.model.GenderDetail;
import org.openapitools.model.GrowthRateDetail;
import org.openapitools.model.MoveDamageClassDetail;
import org.openapitools.model.NatureDetail;
import org.openapitools.model.PaginatedAbilitySummaryList;
import org.openapitools.model.PaginatedCharacteristicSummaryList;
import org.openapitools.model.PaginatedEggGroupSummaryList;
import org.openapitools.model.PaginatedGenderSummaryList;
import org.openapitools.model.PaginatedGrowthRateSummaryList;
import org.openapitools.model.PaginatedMoveDamageClassSummaryList;
import org.openapitools.model.PaginatedNatureSummaryList;
import org.openapitools.model.PaginatedPokeathlonStatSummaryList;
import org.openapitools.model.PaginatedPokemonColorSummaryList;
import org.openapitools.model.PaginatedPokemonFormSummaryList;
import org.openapitools.model.PaginatedPokemonHabitatSummaryList;
import org.openapitools.model.PaginatedPokemonShapeSummaryList;
import org.openapitools.model.PaginatedPokemonSpeciesSummaryList;
import org.openapitools.model.PaginatedPokemonSummaryList;
import org.openapitools.model.PaginatedStatSummaryList;
import org.openapitools.model.PaginatedTypeSummaryList;
import org.openapitools.model.PokeathlonStatDetail;
import org.openapitools.model.PokemonColorDetail;
import org.openapitools.model.PokemonDetail;
import org.openapitools.model.PokemonFormDetail;
import org.openapitools.model.PokemonHabitatDetail;
import org.openapitools.model.PokemonShapeDetail;
import org.openapitools.model.PokemonSpeciesDetail;
import org.openapitools.model.StatDetail;
import org.openapitools.model.TypeDetail;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-02-07T04:16:49.114765561Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface PokemonApi {
    /**
     * Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible abilities but can have only one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedAbilitySummaryList
     */
    @Get(uri="/api/v2/ability/")
    @Consumes({"application/json"})
    Mono<PaginatedAbilitySummaryList> abilityList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible abilities but can have only one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return AbilityDetail
     */
    @Get(uri="/api/v2/ability/{id}/")
    @Consumes({"application/json"})
    Mono<AbilityDetail> abilityRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List charecterictics
     * Characteristics indicate which stat contains a Pokémon&#39;s highest IV. A Pokémon&#39;s Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedCharacteristicSummaryList
     */
    @Get(uri="/api/v2/characteristic/")
    @Consumes({"application/json"})
    Mono<PaginatedCharacteristicSummaryList> characteristicList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get characteristic
     * Characteristics indicate which stat contains a Pokémon&#39;s highest IV. A Pokémon&#39;s Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return CharacteristicDetail
     */
    @Get(uri="/api/v2/characteristic/{id}/")
    @Consumes({"application/json"})
    Mono<CharacteristicDetail> characteristicRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List egg groups
     * Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedEggGroupSummaryList
     */
    @Get(uri="/api/v2/egg-group/")
    @Consumes({"application/json"})
    Mono<PaginatedEggGroupSummaryList> eggGroupList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get egg group
     * Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return EggGroupDetail
     */
    @Get(uri="/api/v2/egg-group/{id}/")
    @Consumes({"application/json"})
    Mono<EggGroupDetail> eggGroupRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List genders
     * Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedGenderSummaryList
     */
    @Get(uri="/api/v2/gender/")
    @Consumes({"application/json"})
    Mono<PaginatedGenderSummaryList> genderList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get gender
     * Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return GenderDetail
     */
    @Get(uri="/api/v2/gender/{id}/")
    @Consumes({"application/json"})
    Mono<GenderDetail> genderRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List growth rates
     * Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedGrowthRateSummaryList
     */
    @Get(uri="/api/v2/growth-rate/")
    @Consumes({"application/json"})
    Mono<PaginatedGrowthRateSummaryList> growthRateList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get growth rate
     * Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return GrowthRateDetail
     */
    @Get(uri="/api/v2/growth-rate/{id}/")
    @Consumes({"application/json"})
    Mono<GrowthRateDetail> growthRateRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List move damage classes
     * Damage classes moves can have, e.g. physical, special, or non-damaging.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedMoveDamageClassSummaryList
     */
    @Get(uri="/api/v2/move-damage-class/")
    @Consumes({"application/json"})
    Mono<PaginatedMoveDamageClassSummaryList> moveDamageClassList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get move damage class
     * Damage classes moves can have, e.g. physical, special, or non-damaging.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return MoveDamageClassDetail
     */
    @Get(uri="/api/v2/move-damage-class/{id}/")
    @Consumes({"application/json"})
    Mono<MoveDamageClassDetail> moveDamageClassRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List natures
     * Natures influence how a Pokémon&#39;s stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedNatureSummaryList
     */
    @Get(uri="/api/v2/nature/")
    @Consumes({"application/json"})
    Mono<PaginatedNatureSummaryList> natureList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get nature
     * Natures influence how a Pokémon&#39;s stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return NatureDetail
     */
    @Get(uri="/api/v2/nature/{id}/")
    @Consumes({"application/json"})
    Mono<NatureDetail> natureRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokeathlon stats
     * Pokeathlon Stats are different attributes of a Pokémon&#39;s performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokeathlonStatSummaryList
     */
    @Get(uri="/api/v2/pokeathlon-stat/")
    @Consumes({"application/json"})
    Mono<PaginatedPokeathlonStatSummaryList> pokeathlonStatList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokeathlon stat
     * Pokeathlon Stats are different attributes of a Pokémon&#39;s performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokeathlonStatDetail
     */
    @Get(uri="/api/v2/pokeathlon-stat/{id}/")
    @Consumes({"application/json"})
    Mono<PokeathlonStatDetail> pokeathlonStatRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemon colors
     * Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon&#39;s body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonColorSummaryList
     */
    @Get(uri="/api/v2/pokemon-color/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonColorSummaryList> pokemonColorList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemon color
     * Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon&#39;s body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonColorDetail
     */
    @Get(uri="/api/v2/pokemon-color/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonColorDetail> pokemonColorRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemon forms
     * Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the &#39;Pokémon&#39; entity is used to represent such a variety.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonFormSummaryList
     */
    @Get(uri="/api/v2/pokemon-form/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonFormSummaryList> pokemonFormList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemon form
     * Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the &#39;Pokémon&#39; entity is used to represent such a variety.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonFormDetail
     */
    @Get(uri="/api/v2/pokemon-form/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonFormDetail> pokemonFormRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemom habitas
     * Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonHabitatSummaryList
     */
    @Get(uri="/api/v2/pokemon-habitat/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonHabitatSummaryList> pokemonHabitatList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemom habita
     * Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonHabitatDetail
     */
    @Get(uri="/api/v2/pokemon-habitat/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonHabitatDetail> pokemonHabitatRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemon
     * Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonSummaryList
     */
    @Get(uri="/api/v2/pokemon/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonSummaryList> pokemonList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemon
     * Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonDetail
     */
    @Get(uri="/api/v2/pokemon/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonDetail> pokemonRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemon shapes
     * Shapes used for sorting Pokémon in a Pokédex.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonShapeSummaryList
     */
    @Get(uri="/api/v2/pokemon-shape/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonShapeSummaryList> pokemonShapeList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemon shape
     * Shapes used for sorting Pokémon in a Pokédex.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonShapeDetail
     */
    @Get(uri="/api/v2/pokemon-shape/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonShapeDetail> pokemonShapeRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List pokemon species
     * A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedPokemonSpeciesSummaryList
     */
    @Get(uri="/api/v2/pokemon-species/")
    @Consumes({"application/json"})
    Mono<PaginatedPokemonSpeciesSummaryList> pokemonSpeciesList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get pokemon species
     * A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return PokemonSpeciesDetail
     */
    @Get(uri="/api/v2/pokemon-species/{id}/")
    @Consumes({"application/json"})
    Mono<PokemonSpeciesDetail> pokemonSpeciesRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List stats
     * Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedStatSummaryList
     */
    @Get(uri="/api/v2/stat/")
    @Consumes({"application/json"})
    Mono<PaginatedStatSummaryList> statList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get stat
     * Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return StatDetail
     */
    @Get(uri="/api/v2/stat/{id}/")
    @Consumes({"application/json"})
    Mono<StatDetail> statRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List types
     * Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
     *
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property.  (optional)
     * @return PaginatedTypeSummaryList
     */
    @Get(uri="/api/v2/type/")
    @Consumes({"application/json"})
    Mono<PaginatedTypeSummaryList> typeList(
        @QueryValue(value="limit") @Nullable Integer limit, 
        @QueryValue(value="offset") @Nullable Integer offset, 
        @QueryValue(value="q") @Nullable String q
    );

    /**
     * Get types
     * Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
     *
     * @param id This parameter can be a string or an integer. (required)
     * @return TypeDetail
     */
    @Get(uri="/api/v2/type/{id}/")
    @Consumes({"application/json"})
    Mono<TypeDetail> typeRetrieve(
        @PathVariable(name="id") @NotNull String id
    );

}
