=begin
#PokéAPI

#All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     

The version of the OpenAPI document: 2.7.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module PokeApiClient
  class ContestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List contest effects
    # Contest effects refer to the effects of moves when used in contests.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedContestEffectSummaryList]
    def contest_effect_list(opts = {})
      data, _status_code, _headers = contest_effect_list_with_http_info(opts)
      data
    end

    # List contest effects
    # Contest effects refer to the effects of moves when used in contests.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedContestEffectSummaryList, Integer, Hash)>] PaginatedContestEffectSummaryList data, response status code and response headers
    def contest_effect_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.contest_effect_list ...'
      end
      # resource path
      local_var_path = '/api/v2/contest-effect/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedContestEffectSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.contest_effect_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#contest_effect_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contest effect
    # Contest effects refer to the effects of moves when used in contests.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ContestEffectDetail]
    def contest_effect_retrieve(id, opts = {})
      data, _status_code, _headers = contest_effect_retrieve_with_http_info(id, opts)
      data
    end

    # Get contest effect
    # Contest effects refer to the effects of moves when used in contests.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContestEffectDetail, Integer, Hash)>] ContestEffectDetail data, response status code and response headers
    def contest_effect_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.contest_effect_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContestsApi.contest_effect_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/contest-effect/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContestEffectDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.contest_effect_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#contest_effect_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contest types
    # Contest types are categories judges used to weigh a Pokémon's condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedContestTypeSummaryList]
    def contest_type_list(opts = {})
      data, _status_code, _headers = contest_type_list_with_http_info(opts)
      data
    end

    # List contest types
    # Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedContestTypeSummaryList, Integer, Hash)>] PaginatedContestTypeSummaryList data, response status code and response headers
    def contest_type_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.contest_type_list ...'
      end
      # resource path
      local_var_path = '/api/v2/contest-type/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedContestTypeSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.contest_type_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#contest_type_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contest type
    # Contest types are categories judges used to weigh a Pokémon's condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ContestTypeDetail]
    def contest_type_retrieve(id, opts = {})
      data, _status_code, _headers = contest_type_retrieve_with_http_info(id, opts)
      data
    end

    # Get contest type
    # Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContestTypeDetail, Integer, Hash)>] ContestTypeDetail data, response status code and response headers
    def contest_type_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.contest_type_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContestsApi.contest_type_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/contest-type/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContestTypeDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.contest_type_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#contest_type_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List super contest effects
    # Super contest effects refer to the effects of moves when used in super contests.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedSuperContestEffectSummaryList]
    def super_contest_effect_list(opts = {})
      data, _status_code, _headers = super_contest_effect_list_with_http_info(opts)
      data
    end

    # List super contest effects
    # Super contest effects refer to the effects of moves when used in super contests.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedSuperContestEffectSummaryList, Integer, Hash)>] PaginatedSuperContestEffectSummaryList data, response status code and response headers
    def super_contest_effect_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.super_contest_effect_list ...'
      end
      # resource path
      local_var_path = '/api/v2/super-contest-effect/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedSuperContestEffectSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.super_contest_effect_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#super_contest_effect_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get super contest effect
    # Super contest effects refer to the effects of moves when used in super contests.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [SuperContestEffectDetail]
    def super_contest_effect_retrieve(id, opts = {})
      data, _status_code, _headers = super_contest_effect_retrieve_with_http_info(id, opts)
      data
    end

    # Get super contest effect
    # Super contest effects refer to the effects of moves when used in super contests.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuperContestEffectDetail, Integer, Hash)>] SuperContestEffectDetail data, response status code and response headers
    def super_contest_effect_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContestsApi.super_contest_effect_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContestsApi.super_contest_effect_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/super-contest-effect/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuperContestEffectDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ContestsApi.super_contest_effect_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContestsApi#super_contest_effect_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
