=begin
#PokéAPI

#All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     

The version of the OpenAPI document: 2.7.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PokeApiClient
  class EncountersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List encounter conditions
    # Conditions which affect what pokemon might appear in the wild, e.g., day or night.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedEncounterConditionSummaryList]
    def encounter_condition_list(opts = {})
      data, _status_code, _headers = encounter_condition_list_with_http_info(opts)
      data
    end

    # List encounter conditions
    # Conditions which affect what pokemon might appear in the wild, e.g., day or night.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedEncounterConditionSummaryList, Integer, Hash)>] PaginatedEncounterConditionSummaryList data, response status code and response headers
    def encounter_condition_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_condition_list ...'
      end
      # resource path
      local_var_path = '/api/v2/encounter-condition/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEncounterConditionSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_condition_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_condition_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get encounter condition
    # Conditions which affect what pokemon might appear in the wild, e.g., day or night.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [EncounterConditionDetail]
    def encounter_condition_retrieve(id, opts = {})
      data, _status_code, _headers = encounter_condition_retrieve_with_http_info(id, opts)
      data
    end

    # Get encounter condition
    # Conditions which affect what pokemon might appear in the wild, e.g., day or night.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncounterConditionDetail, Integer, Hash)>] EncounterConditionDetail data, response status code and response headers
    def encounter_condition_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_condition_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EncountersApi.encounter_condition_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/encounter-condition/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncounterConditionDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_condition_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_condition_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List encounter condition values
    # Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedEncounterConditionValueSummaryList]
    def encounter_condition_value_list(opts = {})
      data, _status_code, _headers = encounter_condition_value_list_with_http_info(opts)
      data
    end

    # List encounter condition values
    # Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedEncounterConditionValueSummaryList, Integer, Hash)>] PaginatedEncounterConditionValueSummaryList data, response status code and response headers
    def encounter_condition_value_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_condition_value_list ...'
      end
      # resource path
      local_var_path = '/api/v2/encounter-condition-value/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEncounterConditionValueSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_condition_value_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_condition_value_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get encounter condition value
    # Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [EncounterConditionValueDetail]
    def encounter_condition_value_retrieve(id, opts = {})
      data, _status_code, _headers = encounter_condition_value_retrieve_with_http_info(id, opts)
      data
    end

    # Get encounter condition value
    # Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncounterConditionValueDetail, Integer, Hash)>] EncounterConditionValueDetail data, response status code and response headers
    def encounter_condition_value_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_condition_value_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EncountersApi.encounter_condition_value_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/encounter-condition-value/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncounterConditionValueDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_condition_value_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_condition_value_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List encounter methods
    # Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedEncounterMethodSummaryList]
    def encounter_method_list(opts = {})
      data, _status_code, _headers = encounter_method_list_with_http_info(opts)
      data
    end

    # List encounter methods
    # Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedEncounterMethodSummaryList, Integer, Hash)>] PaginatedEncounterMethodSummaryList data, response status code and response headers
    def encounter_method_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_method_list ...'
      end
      # resource path
      local_var_path = '/api/v2/encounter-method/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEncounterMethodSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_method_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_method_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get encounter method
    # Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [EncounterMethodDetail]
    def encounter_method_retrieve(id, opts = {})
      data, _status_code, _headers = encounter_method_retrieve_with_http_info(id, opts)
      data
    end

    # Get encounter method
    # Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncounterMethodDetail, Integer, Hash)>] EncounterMethodDetail data, response status code and response headers
    def encounter_method_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncountersApi.encounter_method_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EncountersApi.encounter_method_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/encounter-method/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncounterMethodDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"EncountersApi.encounter_method_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncountersApi#encounter_method_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
