=begin
#PokéAPI

#All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     

The version of the OpenAPI document: 2.7.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PokeApiClient
  class ItemsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List item attributes
    # Item attributes define particular aspects of items, e.g.\"usable in battle\" or \"consumable\".
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedItemAttributeSummaryList]
    def item_attribute_list(opts = {})
      data, _status_code, _headers = item_attribute_list_with_http_info(opts)
      data
    end

    # List item attributes
    # Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedItemAttributeSummaryList, Integer, Hash)>] PaginatedItemAttributeSummaryList data, response status code and response headers
    def item_attribute_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_attribute_list ...'
      end
      # resource path
      local_var_path = '/api/v2/item-attribute/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedItemAttributeSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_attribute_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_attribute_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item attribute
    # Item attributes define particular aspects of items, e.g.\"usable in battle\" or \"consumable\".
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ItemAttributeDetail]
    def item_attribute_retrieve(id, opts = {})
      data, _status_code, _headers = item_attribute_retrieve_with_http_info(id, opts)
      data
    end

    # Get item attribute
    # Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemAttributeDetail, Integer, Hash)>] ItemAttributeDetail data, response status code and response headers
    def item_attribute_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_attribute_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItemsApi.item_attribute_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/item-attribute/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_attribute_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_attribute_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List item categories
    # Item categories determine where items will be placed in the players bag.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedItemCategorySummaryList]
    def item_category_list(opts = {})
      data, _status_code, _headers = item_category_list_with_http_info(opts)
      data
    end

    # List item categories
    # Item categories determine where items will be placed in the players bag.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedItemCategorySummaryList, Integer, Hash)>] PaginatedItemCategorySummaryList data, response status code and response headers
    def item_category_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_category_list ...'
      end
      # resource path
      local_var_path = '/api/v2/item-category/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedItemCategorySummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_category_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_category_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item category
    # Item categories determine where items will be placed in the players bag.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ItemCategoryDetail]
    def item_category_retrieve(id, opts = {})
      data, _status_code, _headers = item_category_retrieve_with_http_info(id, opts)
      data
    end

    # Get item category
    # Item categories determine where items will be placed in the players bag.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemCategoryDetail, Integer, Hash)>] ItemCategoryDetail data, response status code and response headers
    def item_category_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_category_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItemsApi.item_category_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/item-category/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCategoryDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_category_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_category_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List item fling effects
    # The various effects of the move\"Fling\" when used with different items.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedItemFlingEffectSummaryList]
    def item_fling_effect_list(opts = {})
      data, _status_code, _headers = item_fling_effect_list_with_http_info(opts)
      data
    end

    # List item fling effects
    # The various effects of the move\&quot;Fling\&quot; when used with different items.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedItemFlingEffectSummaryList, Integer, Hash)>] PaginatedItemFlingEffectSummaryList data, response status code and response headers
    def item_fling_effect_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_fling_effect_list ...'
      end
      # resource path
      local_var_path = '/api/v2/item-fling-effect/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedItemFlingEffectSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_fling_effect_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_fling_effect_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item fling effect
    # The various effects of the move\"Fling\" when used with different items.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ItemFlingEffectDetail]
    def item_fling_effect_retrieve(id, opts = {})
      data, _status_code, _headers = item_fling_effect_retrieve_with_http_info(id, opts)
      data
    end

    # Get item fling effect
    # The various effects of the move\&quot;Fling\&quot; when used with different items.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemFlingEffectDetail, Integer, Hash)>] ItemFlingEffectDetail data, response status code and response headers
    def item_fling_effect_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_fling_effect_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItemsApi.item_fling_effect_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/item-fling-effect/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemFlingEffectDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_fling_effect_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_fling_effect_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List items
    # An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedItemSummaryList]
    def item_list(opts = {})
      data, _status_code, _headers = item_list_with_http_info(opts)
      data
    end

    # List items
    # An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedItemSummaryList, Integer, Hash)>] PaginatedItemSummaryList data, response status code and response headers
    def item_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_list ...'
      end
      # resource path
      local_var_path = '/api/v2/item/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedItemSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List item pockets
    # Pockets within the players bag used for storing items by category.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedItemPocketSummaryList]
    def item_pocket_list(opts = {})
      data, _status_code, _headers = item_pocket_list_with_http_info(opts)
      data
    end

    # List item pockets
    # Pockets within the players bag used for storing items by category.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedItemPocketSummaryList, Integer, Hash)>] PaginatedItemPocketSummaryList data, response status code and response headers
    def item_pocket_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_pocket_list ...'
      end
      # resource path
      local_var_path = '/api/v2/item-pocket/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedItemPocketSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_pocket_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_pocket_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item pocket
    # Pockets within the players bag used for storing items by category.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ItemPocketDetail]
    def item_pocket_retrieve(id, opts = {})
      data, _status_code, _headers = item_pocket_retrieve_with_http_info(id, opts)
      data
    end

    # Get item pocket
    # Pockets within the players bag used for storing items by category.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemPocketDetail, Integer, Hash)>] ItemPocketDetail data, response status code and response headers
    def item_pocket_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_pocket_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItemsApi.item_pocket_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/item-pocket/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPocketDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_pocket_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_pocket_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item
    # An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [ItemDetail]
    def item_retrieve(id, opts = {})
      data, _status_code, _headers = item_retrieve_with_http_info(id, opts)
      data
    end

    # Get item
    # An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemDetail, Integer, Hash)>] ItemDetail data, response status code and response headers
    def item_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.item_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItemsApi.item_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/item/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"ItemsApi.item_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#item_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
