=begin
#PokéAPI

#All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     

The version of the OpenAPI document: 2.7.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module PokeApiClient
  class MovesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List move meta ailments
    # Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveMetaAilmentSummaryList]
    def move_ailment_list(opts = {})
      data, _status_code, _headers = move_ailment_list_with_http_info(opts)
      data
    end

    # List move meta ailments
    # Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveMetaAilmentSummaryList, Integer, Hash)>] PaginatedMoveMetaAilmentSummaryList data, response status code and response headers
    def move_ailment_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_ailment_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move-ailment/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveMetaAilmentSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_ailment_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_ailment_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move meta ailment
    # Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveMetaAilmentDetail]
    def move_ailment_retrieve(id, opts = {})
      data, _status_code, _headers = move_ailment_retrieve_with_http_info(id, opts)
      data
    end

    # Get move meta ailment
    # Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveMetaAilmentDetail, Integer, Hash)>] MoveMetaAilmentDetail data, response status code and response headers
    def move_ailment_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_ailment_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_ailment_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move-ailment/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveMetaAilmentDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_ailment_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_ailment_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List move battle styles
    # Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveBattleStyleSummaryList]
    def move_battle_style_list(opts = {})
      data, _status_code, _headers = move_battle_style_list_with_http_info(opts)
      data
    end

    # List move battle styles
    # Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveBattleStyleSummaryList, Integer, Hash)>] PaginatedMoveBattleStyleSummaryList data, response status code and response headers
    def move_battle_style_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_battle_style_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move-battle-style/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveBattleStyleSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_battle_style_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_battle_style_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move battle style
    # Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveBattleStyleDetail]
    def move_battle_style_retrieve(id, opts = {})
      data, _status_code, _headers = move_battle_style_retrieve_with_http_info(id, opts)
      data
    end

    # Get move battle style
    # Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveBattleStyleDetail, Integer, Hash)>] MoveBattleStyleDetail data, response status code and response headers
    def move_battle_style_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_battle_style_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_battle_style_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move-battle-style/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveBattleStyleDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_battle_style_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_battle_style_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List move meta categories
    # Very general categories that loosely group move effects.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveMetaCategorySummaryList]
    def move_category_list(opts = {})
      data, _status_code, _headers = move_category_list_with_http_info(opts)
      data
    end

    # List move meta categories
    # Very general categories that loosely group move effects.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveMetaCategorySummaryList, Integer, Hash)>] PaginatedMoveMetaCategorySummaryList data, response status code and response headers
    def move_category_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_category_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move-category/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveMetaCategorySummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_category_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_category_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move meta category
    # Very general categories that loosely group move effects.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveMetaCategoryDetail]
    def move_category_retrieve(id, opts = {})
      data, _status_code, _headers = move_category_retrieve_with_http_info(id, opts)
      data
    end

    # Get move meta category
    # Very general categories that loosely group move effects.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveMetaCategoryDetail, Integer, Hash)>] MoveMetaCategoryDetail data, response status code and response headers
    def move_category_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_category_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_category_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move-category/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveMetaCategoryDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_category_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_category_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List move learn methods
    # Methods by which Pokémon can learn moves.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveLearnMethodSummaryList]
    def move_learn_method_list(opts = {})
      data, _status_code, _headers = move_learn_method_list_with_http_info(opts)
      data
    end

    # List move learn methods
    # Methods by which Pokémon can learn moves.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveLearnMethodSummaryList, Integer, Hash)>] PaginatedMoveLearnMethodSummaryList data, response status code and response headers
    def move_learn_method_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_learn_method_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move-learn-method/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveLearnMethodSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_learn_method_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_learn_method_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move learn method
    # Methods by which Pokémon can learn moves.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveLearnMethodDetail]
    def move_learn_method_retrieve(id, opts = {})
      data, _status_code, _headers = move_learn_method_retrieve_with_http_info(id, opts)
      data
    end

    # Get move learn method
    # Methods by which Pokémon can learn moves.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveLearnMethodDetail, Integer, Hash)>] MoveLearnMethodDetail data, response status code and response headers
    def move_learn_method_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_learn_method_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_learn_method_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move-learn-method/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveLearnMethodDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_learn_method_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_learn_method_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List moves
    # Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveSummaryList]
    def move_list(opts = {})
      data, _status_code, _headers = move_list_with_http_info(opts)
      data
    end

    # List moves
    # Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveSummaryList, Integer, Hash)>] PaginatedMoveSummaryList data, response status code and response headers
    def move_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move
    # Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveDetail]
    def move_retrieve(id, opts = {})
      data, _status_code, _headers = move_retrieve_with_http_info(id, opts)
      data
    end

    # Get move
    # Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveDetail, Integer, Hash)>] MoveDetail data, response status code and response headers
    def move_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List move targets
    # Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [PaginatedMoveTargetSummaryList]
    def move_target_list(opts = {})
      data, _status_code, _headers = move_target_list_with_http_info(opts)
      data
    end

    # List move targets
    # Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return per page.
    # @option opts [Integer] :offset The initial index from which to return the results.
    # @option opts [String] :q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. 
    # @return [Array<(PaginatedMoveTargetSummaryList, Integer, Hash)>] PaginatedMoveTargetSummaryList data, response status code and response headers
    def move_target_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_target_list ...'
      end
      # resource path
      local_var_path = '/api/v2/move-target/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedMoveTargetSummaryList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_target_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_target_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get move target
    # Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [MoveTargetDetail]
    def move_target_retrieve(id, opts = {})
      data, _status_code, _headers = move_target_retrieve_with_http_info(id, opts)
      data
    end

    # Get move target
    # Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
    # @param id [String] This parameter can be a string or an integer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoveTargetDetail, Integer, Hash)>] MoveTargetDetail data, response status code and response headers
    def move_target_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MovesApi.move_target_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MovesApi.move_target_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/move-target/{id}/'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoveTargetDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'cookieAuth']

      new_options = opts.merge(
        :operation => :"MovesApi.move_target_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MovesApi#move_target_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
