/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ContestEffectDetail
import org.openapitools.client.model.ContestTypeDetail
import org.openapitools.client.model.PaginatedContestEffectSummaryList
import org.openapitools.client.model.PaginatedContestTypeSummaryList
import org.openapitools.client.model.PaginatedSuperContestEffectSummaryList
import org.openapitools.client.model.SuperContestEffectDetail
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ContestsApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new ContestsApi(baseUrl)
}

class ContestsApi(baseUrl: String) {

  /**
   * Contest effects refer to the effects of moves when used in contests.
   * 
   * Expected answers:
   *   code 200 : PaginatedContestEffectSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def contestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedContestEffectSummaryList] =
    ApiRequest[PaginatedContestEffectSummaryList](ApiMethods.GET, baseUrl, "/api/v2/contest-effect/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedContestEffectSummaryList](200)
      

  /**
   * Contest effects refer to the effects of moves when used in contests.
   * 
   * Expected answers:
   *   code 200 : ContestEffectDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def contestEffectRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ContestEffectDetail] =
    ApiRequest[ContestEffectDetail](ApiMethods.GET, baseUrl, "/api/v2/contest-effect/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ContestEffectDetail](200)
      

  /**
   * Contest types are categories judges used to weigh a Pokémon's condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
   * 
   * Expected answers:
   *   code 200 : PaginatedContestTypeSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def contestTypeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedContestTypeSummaryList] =
    ApiRequest[PaginatedContestTypeSummaryList](ApiMethods.GET, baseUrl, "/api/v2/contest-type/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedContestTypeSummaryList](200)
      

  /**
   * Contest types are categories judges used to weigh a Pokémon's condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
   * 
   * Expected answers:
   *   code 200 : ContestTypeDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def contestTypeRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ContestTypeDetail] =
    ApiRequest[ContestTypeDetail](ApiMethods.GET, baseUrl, "/api/v2/contest-type/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ContestTypeDetail](200)
      

  /**
   * Super contest effects refer to the effects of moves when used in super contests.
   * 
   * Expected answers:
   *   code 200 : PaginatedSuperContestEffectSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def superContestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedSuperContestEffectSummaryList] =
    ApiRequest[PaginatedSuperContestEffectSummaryList](ApiMethods.GET, baseUrl, "/api/v2/super-contest-effect/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedSuperContestEffectSummaryList](200)
      

  /**
   * Super contest effects refer to the effects of moves when used in super contests.
   * 
   * Expected answers:
   *   code 200 : SuperContestEffectDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def superContestEffectRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[SuperContestEffectDetail] =
    ApiRequest[SuperContestEffectDetail](ApiMethods.GET, baseUrl, "/api/v2/super-contest-effect/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[SuperContestEffectDetail](200)
      



}

