/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.EvolutionChainDetail
import org.openapitools.client.model.EvolutionTriggerDetail
import org.openapitools.client.model.PaginatedEvolutionChainSummaryList
import org.openapitools.client.model.PaginatedEvolutionTriggerSummaryList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EvolutionApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new EvolutionApi(baseUrl)
}

class EvolutionApi(baseUrl: String) {

  /**
   * Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
   * 
   * Expected answers:
   *   code 200 : PaginatedEvolutionChainSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def evolutionChainList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedEvolutionChainSummaryList] =
    ApiRequest[PaginatedEvolutionChainSummaryList](ApiMethods.GET, baseUrl, "/api/v2/evolution-chain/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedEvolutionChainSummaryList](200)
      

  /**
   * Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
   * 
   * Expected answers:
   *   code 200 : EvolutionChainDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def evolutionChainRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[EvolutionChainDetail] =
    ApiRequest[EvolutionChainDetail](ApiMethods.GET, baseUrl, "/api/v2/evolution-chain/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[EvolutionChainDetail](200)
      

  /**
   * Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution) for greater detail.
   * 
   * Expected answers:
   *   code 200 : PaginatedEvolutionTriggerSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def evolutionTriggerList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedEvolutionTriggerSummaryList] =
    ApiRequest[PaginatedEvolutionTriggerSummaryList](ApiMethods.GET, baseUrl, "/api/v2/evolution-trigger/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedEvolutionTriggerSummaryList](200)
      

  /**
   * Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution) for greater detail.
   * 
   * Expected answers:
   *   code 200 : EvolutionTriggerDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def evolutionTriggerRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[EvolutionTriggerDetail] =
    ApiRequest[EvolutionTriggerDetail](ApiMethods.GET, baseUrl, "/api/v2/evolution-trigger/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[EvolutionTriggerDetail](200)
      



}

