/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ItemAttributeDetail
import org.openapitools.client.model.ItemCategoryDetail
import org.openapitools.client.model.ItemDetail
import org.openapitools.client.model.ItemFlingEffectDetail
import org.openapitools.client.model.ItemPocketDetail
import org.openapitools.client.model.PaginatedItemAttributeSummaryList
import org.openapitools.client.model.PaginatedItemCategorySummaryList
import org.openapitools.client.model.PaginatedItemFlingEffectSummaryList
import org.openapitools.client.model.PaginatedItemPocketSummaryList
import org.openapitools.client.model.PaginatedItemSummaryList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ItemsApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new ItemsApi(baseUrl)
}

class ItemsApi(baseUrl: String) {

  /**
   * Item attributes define particular aspects of items, e.g.\"usable in battle\" or \"consumable\".
   * 
   * Expected answers:
   *   code 200 : PaginatedItemAttributeSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def itemAttributeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedItemAttributeSummaryList] =
    ApiRequest[PaginatedItemAttributeSummaryList](ApiMethods.GET, baseUrl, "/api/v2/item-attribute/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedItemAttributeSummaryList](200)
      

  /**
   * Item attributes define particular aspects of items, e.g.\"usable in battle\" or \"consumable\".
   * 
   * Expected answers:
   *   code 200 : ItemAttributeDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def itemAttributeRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ItemAttributeDetail] =
    ApiRequest[ItemAttributeDetail](ApiMethods.GET, baseUrl, "/api/v2/item-attribute/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ItemAttributeDetail](200)
      

  /**
   * Item categories determine where items will be placed in the players bag.
   * 
   * Expected answers:
   *   code 200 : PaginatedItemCategorySummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def itemCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedItemCategorySummaryList] =
    ApiRequest[PaginatedItemCategorySummaryList](ApiMethods.GET, baseUrl, "/api/v2/item-category/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedItemCategorySummaryList](200)
      

  /**
   * Item categories determine where items will be placed in the players bag.
   * 
   * Expected answers:
   *   code 200 : ItemCategoryDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def itemCategoryRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ItemCategoryDetail] =
    ApiRequest[ItemCategoryDetail](ApiMethods.GET, baseUrl, "/api/v2/item-category/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ItemCategoryDetail](200)
      

  /**
   * The various effects of the move\"Fling\" when used with different items.
   * 
   * Expected answers:
   *   code 200 : PaginatedItemFlingEffectSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def itemFlingEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedItemFlingEffectSummaryList] =
    ApiRequest[PaginatedItemFlingEffectSummaryList](ApiMethods.GET, baseUrl, "/api/v2/item-fling-effect/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedItemFlingEffectSummaryList](200)
      

  /**
   * The various effects of the move\"Fling\" when used with different items.
   * 
   * Expected answers:
   *   code 200 : ItemFlingEffectDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def itemFlingEffectRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ItemFlingEffectDetail] =
    ApiRequest[ItemFlingEffectDetail](ApiMethods.GET, baseUrl, "/api/v2/item-fling-effect/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ItemFlingEffectDetail](200)
      

  /**
   * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
   * 
   * Expected answers:
   *   code 200 : PaginatedItemSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def itemList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedItemSummaryList] =
    ApiRequest[PaginatedItemSummaryList](ApiMethods.GET, baseUrl, "/api/v2/item/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedItemSummaryList](200)
      

  /**
   * Pockets within the players bag used for storing items by category.
   * 
   * Expected answers:
   *   code 200 : PaginatedItemPocketSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def itemPocketList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedItemPocketSummaryList] =
    ApiRequest[PaginatedItemPocketSummaryList](ApiMethods.GET, baseUrl, "/api/v2/item-pocket/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedItemPocketSummaryList](200)
      

  /**
   * Pockets within the players bag used for storing items by category.
   * 
   * Expected answers:
   *   code 200 : ItemPocketDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def itemPocketRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ItemPocketDetail] =
    ApiRequest[ItemPocketDetail](ApiMethods.GET, baseUrl, "/api/v2/item-pocket/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ItemPocketDetail](200)
      

  /**
   * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
   * 
   * Expected answers:
   *   code 200 : ItemDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def itemRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[ItemDetail] =
    ApiRequest[ItemDetail](ApiMethods.GET, baseUrl, "/api/v2/item/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[ItemDetail](200)
      



}

