/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.LanguageDetail
import org.openapitools.client.model.PaginatedLanguageSummaryList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UtilityApi {

  def apply(baseUrl: String = "https://pokeapi.co") = new UtilityApi(baseUrl)
}

class UtilityApi(baseUrl: String) {

  /**
   * Languages for translations of API resource information.
   * 
   * Expected answers:
   *   code 200 : PaginatedLanguageSummaryList ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param limit Number of results to return per page.
   * @param offset The initial index from which to return the results.
   * @param `q` > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 
   */
  def languageList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[PaginatedLanguageSummaryList] =
    ApiRequest[PaginatedLanguageSummaryList](ApiMethods.GET, baseUrl, "/api/v2/language/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("q", `q`)
      .withSuccessResponse[PaginatedLanguageSummaryList](200)
      

  /**
   * Languages for translations of API resource information.
   * 
   * Expected answers:
   *   code 200 : LanguageDetail ()
   * 
   * Available security schemes:
   *   basicAuth (http)
   *   cookieAuth (apiKey)
   * 
   * @param id This parameter can be a string or an integer.
   */
  def languageRetrieve(id: String)(implicit basicAuth: BasicCredentials, apiKey: ApiKeyValue): ApiRequest[LanguageDetail] =
    ApiRequest[LanguageDetail](ApiMethods.GET, baseUrl, "/api/v2/language/{id}/", "application/json")
      .withCredentials(basicAuth).withApiKey(apiKey, "sessionid", COOKIE)
      .withPathParam("id", id)
      .withSuccessResponse[LanguageDetail](200)
      



}

