[tool.poetry]
name = "pokeapiclient"
version = "0.10.1-pre.0"
description = ""
authors = ["Cliffano Subagio <blah@cliffano.com>"]
license = "NoLicense"
readme = "README.md"
repository = "https://github.com/cliffano/pokeapi-clients"
keywords = ["OpenAPI", "OpenAPI-Generator", ""]
include = ["pokeapiclient/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"

urllib3 = ">= 1.25.3"
python-dateutil = ">=2.8.2"
pydantic = ">=2"
typing-extensions = ">=4.7.1"

[tool.poetry.dev-dependencies]
pytest = ">=7.2.1"
tox = ">=3.9.0"
flake8 = ">=4.0.0"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pylint.'MESSAGES CONTROL']
extension-pkg-whitelist = "pydantic"
