/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.EncounterConditionDetail;
import org.openapitools.client.model.EncounterConditionValueDetail;
import org.openapitools.client.model.EncounterMethodDetail;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PaginatedEncounterConditionSummaryList;
import org.openapitools.client.model.PaginatedEncounterConditionValueSummaryList;
import org.openapitools.client.model.PaginatedEncounterMethodSummaryList;

/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface EncountersApi  {

    /**
     * List encounter conditions
     * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
     */
    @GET
    @Path("/encounter-condition/")
    @Produces({ "application/json" })
    PaginatedEncounterConditionSummaryList encounterConditionList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get encounter condition
     * Conditions which affect what pokemon might appear in the wild, e.g., day or night.
     */
    @GET
    @Path("/encounter-condition/{id}/")
    @Produces({ "application/json" })
    EncounterConditionDetail encounterConditionRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List encounter condition values
     * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
     */
    @GET
    @Path("/encounter-condition-value/")
    @Produces({ "application/json" })
    PaginatedEncounterConditionValueSummaryList encounterConditionValueList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get encounter condition value
     * Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.
     */
    @GET
    @Path("/encounter-condition-value/{id}/")
    @Produces({ "application/json" })
    EncounterConditionValueDetail encounterConditionValueRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List encounter methods
     * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
     */
    @GET
    @Path("/encounter-method/")
    @Produces({ "application/json" })
    PaginatedEncounterMethodSummaryList encounterMethodList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get encounter method
     * Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.
     */
    @GET
    @Path("/encounter-method/{id}/")
    @Produces({ "application/json" })
    EncounterMethodDetail encounterMethodRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
