/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.ItemAttributeDetail;
import org.openapitools.client.model.ItemCategoryDetail;
import org.openapitools.client.model.ItemDetail;
import org.openapitools.client.model.ItemFlingEffectDetail;
import org.openapitools.client.model.ItemPocketDetail;
import java.util.List;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PaginatedItemAttributeSummaryList;
import org.openapitools.client.model.PaginatedItemCategorySummaryList;
import org.openapitools.client.model.PaginatedItemFlingEffectSummaryList;
import org.openapitools.client.model.PaginatedItemPocketSummaryList;
import org.openapitools.client.model.PaginatedItemSummaryList;

/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface ItemsApi  {

    /**
     * List item attributes
     * Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
     */
    @GET
    @Path("/item-attribute/")
    @Produces({ "application/json" })
    PaginatedItemAttributeSummaryList itemAttributeList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get item attribute
     * Item attributes define particular aspects of items, e.g.\&quot;usable in battle\&quot; or \&quot;consumable\&quot;.
     */
    @GET
    @Path("/item-attribute/{id}/")
    @Produces({ "application/json" })
    ItemAttributeDetail itemAttributeRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List item categories
     * Item categories determine where items will be placed in the players bag.
     */
    @GET
    @Path("/item-category/")
    @Produces({ "application/json" })
    PaginatedItemCategorySummaryList itemCategoryList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get item category
     * Item categories determine where items will be placed in the players bag.
     */
    @GET
    @Path("/item-category/{id}/")
    @Produces({ "application/json" })
    ItemCategoryDetail itemCategoryRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List item fling effects
     * The various effects of the move\&quot;Fling\&quot; when used with different items.
     */
    @GET
    @Path("/item-fling-effect/")
    @Produces({ "application/json" })
    PaginatedItemFlingEffectSummaryList itemFlingEffectList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get item fling effect
     * The various effects of the move\&quot;Fling\&quot; when used with different items.
     */
    @GET
    @Path("/item-fling-effect/{id}/")
    @Produces({ "application/json" })
    ItemFlingEffectDetail itemFlingEffectRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List items
     * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
     */
    @GET
    @Path("/item/")
    @Produces({ "application/json" })
    PaginatedItemSummaryList itemList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * List item pockets
     * Pockets within the players bag used for storing items by category.
     */
    @GET
    @Path("/item-pocket/")
    @Produces({ "application/json" })
    PaginatedItemPocketSummaryList itemPocketList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get item pocket
     * Pockets within the players bag used for storing items by category.
     */
    @GET
    @Path("/item-pocket/{id}/")
    @Produces({ "application/json" })
    ItemPocketDetail itemPocketRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * Get item
     * An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
     */
    @GET
    @Path("/item/{id}/")
    @Produces({ "application/json" })
    ItemDetail itemRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
