/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;
import org.openapitools.client.model.LocationAreaDetail;
import org.openapitools.client.model.LocationDetail;
import java.util.Map;
import java.util.Optional;
import org.openapitools.client.model.PaginatedLocationAreaSummaryList;
import org.openapitools.client.model.PaginatedLocationSummaryList;
import org.openapitools.client.model.PaginatedPalParkAreaSummaryList;
import org.openapitools.client.model.PaginatedRegionSummaryList;
import org.openapitools.client.model.PalParkAreaDetail;
import org.openapitools.client.model.RegionDetail;

/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface LocationApi  {

    /**
     * List location areas
     * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
     */
    @GET
    @Path("/location-area/")
    @Produces({ "application/json" })
    PaginatedLocationAreaSummaryList locationAreaList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset) throws ApiException, ProcessingException;

    /**
     * Get location area
     * Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.
     */
    @GET
    @Path("/location-area/{id}/")
    @Produces({ "application/json" })
    LocationAreaDetail locationAreaRetrieve(@PathParam("id") Integer id) throws ApiException, ProcessingException;

    /**
     * List locations
     * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
     */
    @GET
    @Path("/location/")
    @Produces({ "application/json" })
    PaginatedLocationSummaryList locationList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get location
     * Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.
     */
    @GET
    @Path("/location/{id}/")
    @Produces({ "application/json" })
    LocationDetail locationRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pal park areas
     * Areas used for grouping Pokémon encounters in Pal Park. They&#39;re like habitats that are specific to Pal Park.
     */
    @GET
    @Path("/pal-park-area/")
    @Produces({ "application/json" })
    PaginatedPalParkAreaSummaryList palParkAreaList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pal park area
     * Areas used for grouping Pokémon encounters in Pal Park. They&#39;re like habitats that are specific to Pal Park.
     */
    @GET
    @Path("/pal-park-area/{id}/")
    @Produces({ "application/json" })
    PalParkAreaDetail palParkAreaRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List regions
     * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
     */
    @GET
    @Path("/region/")
    @Produces({ "application/json" })
    PaginatedRegionSummaryList regionList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get region
     * A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.
     */
    @GET
    @Path("/region/{id}/")
    @Produces({ "application/json" })
    RegionDetail regionRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
