/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import java.util.List;
import java.util.Map;
import org.openapitools.client.model.MoveBattleStyleDetail;
import org.openapitools.client.model.MoveDetail;
import org.openapitools.client.model.MoveLearnMethodDetail;
import org.openapitools.client.model.MoveMetaAilmentDetail;
import org.openapitools.client.model.MoveMetaCategoryDetail;
import org.openapitools.client.model.MoveTargetDetail;
import java.util.Optional;
import org.openapitools.client.model.PaginatedMoveBattleStyleSummaryList;
import org.openapitools.client.model.PaginatedMoveLearnMethodSummaryList;
import org.openapitools.client.model.PaginatedMoveMetaAilmentSummaryList;
import org.openapitools.client.model.PaginatedMoveMetaCategorySummaryList;
import org.openapitools.client.model.PaginatedMoveSummaryList;
import org.openapitools.client.model.PaginatedMoveTargetSummaryList;

/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface MovesApi  {

    /**
     * List move meta ailments
     * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
     */
    @GET
    @Path("/move-ailment/")
    @Produces({ "application/json" })
    PaginatedMoveMetaAilmentSummaryList moveAilmentList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move meta ailment
     * Move Ailments are status conditions caused by moves used during battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition) for greater detail.
     */
    @GET
    @Path("/move-ailment/{id}/")
    @Produces({ "application/json" })
    MoveMetaAilmentDetail moveAilmentRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List move battle styles
     * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
     */
    @GET
    @Path("/move-battle-style/")
    @Produces({ "application/json" })
    PaginatedMoveBattleStyleSummaryList moveBattleStyleList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move battle style
     * Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III)) for greater detail.
     */
    @GET
    @Path("/move-battle-style/{id}/")
    @Produces({ "application/json" })
    MoveBattleStyleDetail moveBattleStyleRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List move meta categories
     * Very general categories that loosely group move effects.
     */
    @GET
    @Path("/move-category/")
    @Produces({ "application/json" })
    PaginatedMoveMetaCategorySummaryList moveCategoryList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move meta category
     * Very general categories that loosely group move effects.
     */
    @GET
    @Path("/move-category/{id}/")
    @Produces({ "application/json" })
    MoveMetaCategoryDetail moveCategoryRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List move learn methods
     * Methods by which Pokémon can learn moves.
     */
    @GET
    @Path("/move-learn-method/")
    @Produces({ "application/json" })
    PaginatedMoveLearnMethodSummaryList moveLearnMethodList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move learn method
     * Methods by which Pokémon can learn moves.
     */
    @GET
    @Path("/move-learn-method/{id}/")
    @Produces({ "application/json" })
    MoveLearnMethodDetail moveLearnMethodRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List moves
     * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
     */
    @GET
    @Path("/move/")
    @Produces({ "application/json" })
    PaginatedMoveSummaryList moveList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move
     * Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.
     */
    @GET
    @Path("/move/{id}/")
    @Produces({ "application/json" })
    MoveDetail moveRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List move targets
     * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
     */
    @GET
    @Path("/move-target/")
    @Produces({ "application/json" })
    PaginatedMoveTargetSummaryList moveTargetList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move target
     * Targets moves can be directed at during battle. Targets can be Pokémon, environments or even other moves.
     */
    @GET
    @Path("/move-target/{id}/")
    @Produces({ "application/json" })
    MoveTargetDetail moveTargetRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
