/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.BerryDetail
import org.openapitools.client.models.BerryFirmnessDetail
import org.openapitools.client.models.BerryFlavorDetail
import org.openapitools.client.models.PaginatedBerryFirmnessSummaryList
import org.openapitools.client.models.PaginatedBerryFlavorSummaryList
import org.openapitools.client.models.PaginatedBerrySummaryList
import org.openapitools.client.models.*

trait BerriesApiEndpoints[F[*]] {

  def berryFirmnessList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerryFirmnessSummaryList]
  def berryFirmnessRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryFirmnessDetail]
  def berryFlavorList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerryFlavorSummaryList]
  def berryFlavorRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryFlavorDetail]
  def berryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerrySummaryList]
  def berryRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryDetail]

}

class BerriesApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with BerriesApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def berryFirmnessList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerryFirmnessSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedBerryFirmnessSummaryList](
      method = "GET",
      path = s"/api/v2/berry-firmness/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedBerryFirmnessSummaryList]("PaginatedBerryFirmnessSummaryList", r)
    }
  }

  override def berryFirmnessRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryFirmnessDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, BerryFirmnessDetail](
      method = "GET",
      path = s"/api/v2/berry-firmness/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, BerryFirmnessDetail]("BerryFirmnessDetail", r)
    }
  }

  override def berryFlavorList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerryFlavorSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedBerryFlavorSummaryList](
      method = "GET",
      path = s"/api/v2/berry-flavor/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedBerryFlavorSummaryList]("PaginatedBerryFlavorSummaryList", r)
    }
  }

  override def berryFlavorRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryFlavorDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, BerryFlavorDetail](
      method = "GET",
      path = s"/api/v2/berry-flavor/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, BerryFlavorDetail]("BerryFlavorDetail", r)
    }
  }

  override def berryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedBerrySummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedBerrySummaryList](
      method = "GET",
      path = s"/api/v2/berry/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedBerrySummaryList]("PaginatedBerrySummaryList", r)
    }
  }

  override def berryRetrieve(id: String)(using auth: _Authorization.Basic): F[BerryDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, BerryDetail](
      method = "GET",
      path = s"/api/v2/berry/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, BerryDetail]("BerryDetail", r)
    }
  }

}


