/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.ContestEffectDetail
import org.openapitools.client.models.ContestTypeDetail
import org.openapitools.client.models.PaginatedContestEffectSummaryList
import org.openapitools.client.models.PaginatedContestTypeSummaryList
import org.openapitools.client.models.PaginatedSuperContestEffectSummaryList
import org.openapitools.client.models.SuperContestEffectDetail
import org.openapitools.client.models.*

trait ContestsApiEndpoints[F[*]] {

  def contestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedContestEffectSummaryList]
  def contestEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[ContestEffectDetail]
  def contestTypeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedContestTypeSummaryList]
  def contestTypeRetrieve(id: String)(using auth: _Authorization.Basic): F[ContestTypeDetail]
  def superContestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedSuperContestEffectSummaryList]
  def superContestEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[SuperContestEffectDetail]

}

class ContestsApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with ContestsApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def contestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedContestEffectSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedContestEffectSummaryList](
      method = "GET",
      path = s"/api/v2/contest-effect/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedContestEffectSummaryList]("PaginatedContestEffectSummaryList", r)
    }
  }

  override def contestEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[ContestEffectDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ContestEffectDetail](
      method = "GET",
      path = s"/api/v2/contest-effect/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ContestEffectDetail]("ContestEffectDetail", r)
    }
  }

  override def contestTypeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedContestTypeSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedContestTypeSummaryList](
      method = "GET",
      path = s"/api/v2/contest-type/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedContestTypeSummaryList]("PaginatedContestTypeSummaryList", r)
    }
  }

  override def contestTypeRetrieve(id: String)(using auth: _Authorization.Basic): F[ContestTypeDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ContestTypeDetail](
      method = "GET",
      path = s"/api/v2/contest-type/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ContestTypeDetail]("ContestTypeDetail", r)
    }
  }

  override def superContestEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedSuperContestEffectSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedSuperContestEffectSummaryList](
      method = "GET",
      path = s"/api/v2/super-contest-effect/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedSuperContestEffectSummaryList]("PaginatedSuperContestEffectSummaryList", r)
    }
  }

  override def superContestEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[SuperContestEffectDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, SuperContestEffectDetail](
      method = "GET",
      path = s"/api/v2/super-contest-effect/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, SuperContestEffectDetail]("SuperContestEffectDetail", r)
    }
  }

}


