/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.EncounterConditionDetail
import org.openapitools.client.models.EncounterConditionValueDetail
import org.openapitools.client.models.EncounterMethodDetail
import org.openapitools.client.models.PaginatedEncounterConditionSummaryList
import org.openapitools.client.models.PaginatedEncounterConditionValueSummaryList
import org.openapitools.client.models.PaginatedEncounterMethodSummaryList
import org.openapitools.client.models.*

trait EncountersApiEndpoints[F[*]] {

  def encounterConditionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterConditionSummaryList]
  def encounterConditionRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterConditionDetail]
  def encounterConditionValueList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterConditionValueSummaryList]
  def encounterConditionValueRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterConditionValueDetail]
  def encounterMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterMethodSummaryList]
  def encounterMethodRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterMethodDetail]

}

class EncountersApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with EncountersApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def encounterConditionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterConditionSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedEncounterConditionSummaryList](
      method = "GET",
      path = s"/api/v2/encounter-condition/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedEncounterConditionSummaryList]("PaginatedEncounterConditionSummaryList", r)
    }
  }

  override def encounterConditionRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterConditionDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, EncounterConditionDetail](
      method = "GET",
      path = s"/api/v2/encounter-condition/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, EncounterConditionDetail]("EncounterConditionDetail", r)
    }
  }

  override def encounterConditionValueList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterConditionValueSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedEncounterConditionValueSummaryList](
      method = "GET",
      path = s"/api/v2/encounter-condition-value/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedEncounterConditionValueSummaryList]("PaginatedEncounterConditionValueSummaryList", r)
    }
  }

  override def encounterConditionValueRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterConditionValueDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, EncounterConditionValueDetail](
      method = "GET",
      path = s"/api/v2/encounter-condition-value/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, EncounterConditionValueDetail]("EncounterConditionValueDetail", r)
    }
  }

  override def encounterMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEncounterMethodSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedEncounterMethodSummaryList](
      method = "GET",
      path = s"/api/v2/encounter-method/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedEncounterMethodSummaryList]("PaginatedEncounterMethodSummaryList", r)
    }
  }

  override def encounterMethodRetrieve(id: String)(using auth: _Authorization.Basic): F[EncounterMethodDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, EncounterMethodDetail](
      method = "GET",
      path = s"/api/v2/encounter-method/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, EncounterMethodDetail]("EncounterMethodDetail", r)
    }
  }

}


