/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.EvolutionChainDetail
import org.openapitools.client.models.EvolutionTriggerDetail
import org.openapitools.client.models.PaginatedEvolutionChainSummaryList
import org.openapitools.client.models.PaginatedEvolutionTriggerSummaryList
import org.openapitools.client.models.*

trait EvolutionApiEndpoints[F[*]] {

  def evolutionChainList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEvolutionChainSummaryList]
  def evolutionChainRetrieve(id: String)(using auth: _Authorization.Basic): F[EvolutionChainDetail]
  def evolutionTriggerList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEvolutionTriggerSummaryList]
  def evolutionTriggerRetrieve(id: String)(using auth: _Authorization.Basic): F[EvolutionTriggerDetail]

}

class EvolutionApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with EvolutionApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def evolutionChainList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEvolutionChainSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedEvolutionChainSummaryList](
      method = "GET",
      path = s"/api/v2/evolution-chain/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedEvolutionChainSummaryList]("PaginatedEvolutionChainSummaryList", r)
    }
  }

  override def evolutionChainRetrieve(id: String)(using auth: _Authorization.Basic): F[EvolutionChainDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, EvolutionChainDetail](
      method = "GET",
      path = s"/api/v2/evolution-chain/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, EvolutionChainDetail]("EvolutionChainDetail", r)
    }
  }

  override def evolutionTriggerList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedEvolutionTriggerSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedEvolutionTriggerSummaryList](
      method = "GET",
      path = s"/api/v2/evolution-trigger/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedEvolutionTriggerSummaryList]("PaginatedEvolutionTriggerSummaryList", r)
    }
  }

  override def evolutionTriggerRetrieve(id: String)(using auth: _Authorization.Basic): F[EvolutionTriggerDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, EvolutionTriggerDetail](
      method = "GET",
      path = s"/api/v2/evolution-trigger/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, EvolutionTriggerDetail]("EvolutionTriggerDetail", r)
    }
  }

}


