/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.GenerationDetail
import org.openapitools.client.models.PaginatedGenerationSummaryList
import org.openapitools.client.models.PaginatedPokedexSummaryList
import org.openapitools.client.models.PaginatedVersionGroupSummaryList
import org.openapitools.client.models.PaginatedVersionSummaryList
import org.openapitools.client.models.PokedexDetail
import org.openapitools.client.models.VersionDetail
import org.openapitools.client.models.VersionGroupDetail
import org.openapitools.client.models.*

trait GamesApiEndpoints[F[*]] {

  def generationList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedGenerationSummaryList]
  def generationRetrieve(id: String)(using auth: _Authorization.Basic): F[GenerationDetail]
  def pokedexList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedPokedexSummaryList]
  def pokedexRetrieve(id: String)(using auth: _Authorization.Basic): F[PokedexDetail]
  def versionGroupList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedVersionGroupSummaryList]
  def versionGroupRetrieve(id: String)(using auth: _Authorization.Basic): F[VersionGroupDetail]
  def versionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedVersionSummaryList]
  def versionRetrieve(id: String)(using auth: _Authorization.Basic): F[VersionDetail]

}

class GamesApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with GamesApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def generationList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedGenerationSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedGenerationSummaryList](
      method = "GET",
      path = s"/api/v2/generation/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedGenerationSummaryList]("PaginatedGenerationSummaryList", r)
    }
  }

  override def generationRetrieve(id: String)(using auth: _Authorization.Basic): F[GenerationDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, GenerationDetail](
      method = "GET",
      path = s"/api/v2/generation/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, GenerationDetail]("GenerationDetail", r)
    }
  }

  override def pokedexList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedPokedexSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedPokedexSummaryList](
      method = "GET",
      path = s"/api/v2/pokedex/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedPokedexSummaryList]("PaginatedPokedexSummaryList", r)
    }
  }

  override def pokedexRetrieve(id: String)(using auth: _Authorization.Basic): F[PokedexDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, PokedexDetail](
      method = "GET",
      path = s"/api/v2/pokedex/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PokedexDetail]("PokedexDetail", r)
    }
  }

  override def versionGroupList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedVersionGroupSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedVersionGroupSummaryList](
      method = "GET",
      path = s"/api/v2/version-group/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedVersionGroupSummaryList]("PaginatedVersionGroupSummaryList", r)
    }
  }

  override def versionGroupRetrieve(id: String)(using auth: _Authorization.Basic): F[VersionGroupDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, VersionGroupDetail](
      method = "GET",
      path = s"/api/v2/version-group/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, VersionGroupDetail]("VersionGroupDetail", r)
    }
  }

  override def versionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedVersionSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedVersionSummaryList](
      method = "GET",
      path = s"/api/v2/version/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedVersionSummaryList]("PaginatedVersionSummaryList", r)
    }
  }

  override def versionRetrieve(id: String)(using auth: _Authorization.Basic): F[VersionDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, VersionDetail](
      method = "GET",
      path = s"/api/v2/version/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, VersionDetail]("VersionDetail", r)
    }
  }

}


