/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.ItemAttributeDetail
import org.openapitools.client.models.ItemCategoryDetail
import org.openapitools.client.models.ItemDetail
import org.openapitools.client.models.ItemFlingEffectDetail
import org.openapitools.client.models.ItemPocketDetail
import org.openapitools.client.models.PaginatedItemAttributeSummaryList
import org.openapitools.client.models.PaginatedItemCategorySummaryList
import org.openapitools.client.models.PaginatedItemFlingEffectSummaryList
import org.openapitools.client.models.PaginatedItemPocketSummaryList
import org.openapitools.client.models.PaginatedItemSummaryList
import org.openapitools.client.models.*

trait ItemsApiEndpoints[F[*]] {

  def itemAttributeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemAttributeSummaryList]
  def itemAttributeRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemAttributeDetail]
  def itemCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemCategorySummaryList]
  def itemCategoryRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemCategoryDetail]
  def itemFlingEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemFlingEffectSummaryList]
  def itemFlingEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemFlingEffectDetail]
  def itemList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemSummaryList]
  def itemPocketList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemPocketSummaryList]
  def itemPocketRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemPocketDetail]
  def itemRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemDetail]

}

class ItemsApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with ItemsApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def itemAttributeList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemAttributeSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedItemAttributeSummaryList](
      method = "GET",
      path = s"/api/v2/item-attribute/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedItemAttributeSummaryList]("PaginatedItemAttributeSummaryList", r)
    }
  }

  override def itemAttributeRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemAttributeDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ItemAttributeDetail](
      method = "GET",
      path = s"/api/v2/item-attribute/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ItemAttributeDetail]("ItemAttributeDetail", r)
    }
  }

  override def itemCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemCategorySummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedItemCategorySummaryList](
      method = "GET",
      path = s"/api/v2/item-category/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedItemCategorySummaryList]("PaginatedItemCategorySummaryList", r)
    }
  }

  override def itemCategoryRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemCategoryDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ItemCategoryDetail](
      method = "GET",
      path = s"/api/v2/item-category/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ItemCategoryDetail]("ItemCategoryDetail", r)
    }
  }

  override def itemFlingEffectList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemFlingEffectSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedItemFlingEffectSummaryList](
      method = "GET",
      path = s"/api/v2/item-fling-effect/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedItemFlingEffectSummaryList]("PaginatedItemFlingEffectSummaryList", r)
    }
  }

  override def itemFlingEffectRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemFlingEffectDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ItemFlingEffectDetail](
      method = "GET",
      path = s"/api/v2/item-fling-effect/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ItemFlingEffectDetail]("ItemFlingEffectDetail", r)
    }
  }

  override def itemList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedItemSummaryList](
      method = "GET",
      path = s"/api/v2/item/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedItemSummaryList]("PaginatedItemSummaryList", r)
    }
  }

  override def itemPocketList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedItemPocketSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedItemPocketSummaryList](
      method = "GET",
      path = s"/api/v2/item-pocket/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedItemPocketSummaryList]("PaginatedItemPocketSummaryList", r)
    }
  }

  override def itemPocketRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemPocketDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ItemPocketDetail](
      method = "GET",
      path = s"/api/v2/item-pocket/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ItemPocketDetail]("ItemPocketDetail", r)
    }
  }

  override def itemRetrieve(id: String)(using auth: _Authorization.Basic): F[ItemDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, ItemDetail](
      method = "GET",
      path = s"/api/v2/item/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, ItemDetail]("ItemDetail", r)
    }
  }

}


