/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.LocationAreaDetail
import org.openapitools.client.models.LocationDetail
import org.openapitools.client.models.PaginatedLocationAreaSummaryList
import org.openapitools.client.models.PaginatedLocationSummaryList
import org.openapitools.client.models.PaginatedPalParkAreaSummaryList
import org.openapitools.client.models.PaginatedRegionSummaryList
import org.openapitools.client.models.PalParkAreaDetail
import org.openapitools.client.models.RegionDetail
import org.openapitools.client.models.*

trait LocationApiEndpoints[F[*]] {

  def locationAreaList(limit: Option[Int] = None, offset: Option[Int] = None)(using auth: _Authorization.Basic): F[PaginatedLocationAreaSummaryList]
  def locationAreaRetrieve(id: Int)(using auth: _Authorization.Basic): F[LocationAreaDetail]
  def locationList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedLocationSummaryList]
  def locationRetrieve(id: String)(using auth: _Authorization.Basic): F[LocationDetail]
  def palParkAreaList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedPalParkAreaSummaryList]
  def palParkAreaRetrieve(id: String)(using auth: _Authorization.Basic): F[PalParkAreaDetail]
  def regionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedRegionSummaryList]
  def regionRetrieve(id: String)(using auth: _Authorization.Basic): F[RegionDetail]

}

class LocationApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with LocationApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def locationAreaList(limit: Option[Int] = None, offset: Option[Int] = None)(using auth: _Authorization.Basic): F[PaginatedLocationAreaSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedLocationAreaSummaryList](
      method = "GET",
      path = s"/api/v2/location-area/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedLocationAreaSummaryList]("PaginatedLocationAreaSummaryList", r)
    }
  }

  override def locationAreaRetrieve(id: Int)(using auth: _Authorization.Basic): F[LocationAreaDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, LocationAreaDetail](
      method = "GET",
      path = s"/api/v2/location-area/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, LocationAreaDetail]("LocationAreaDetail", r)
    }
  }

  override def locationList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedLocationSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedLocationSummaryList](
      method = "GET",
      path = s"/api/v2/location/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedLocationSummaryList]("PaginatedLocationSummaryList", r)
    }
  }

  override def locationRetrieve(id: String)(using auth: _Authorization.Basic): F[LocationDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, LocationDetail](
      method = "GET",
      path = s"/api/v2/location/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, LocationDetail]("LocationDetail", r)
    }
  }

  override def palParkAreaList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedPalParkAreaSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedPalParkAreaSummaryList](
      method = "GET",
      path = s"/api/v2/pal-park-area/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedPalParkAreaSummaryList]("PaginatedPalParkAreaSummaryList", r)
    }
  }

  override def palParkAreaRetrieve(id: String)(using auth: _Authorization.Basic): F[PalParkAreaDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, PalParkAreaDetail](
      method = "GET",
      path = s"/api/v2/pal-park-area/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PalParkAreaDetail]("PalParkAreaDetail", r)
    }
  }

  override def regionList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedRegionSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedRegionSummaryList](
      method = "GET",
      path = s"/api/v2/region/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedRegionSummaryList]("PaginatedRegionSummaryList", r)
    }
  }

  override def regionRetrieve(id: String)(using auth: _Authorization.Basic): F[RegionDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, RegionDetail](
      method = "GET",
      path = s"/api/v2/region/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, RegionDetail]("RegionDetail", r)
    }
  }

}


