/** PokéAPI
  * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
  *
  * The version of the OpenAPI document: 2.7.0
  * Contact: blah+oapicf@cliffano.com
  *
  * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
  * https://openapi-generator.tech
  * Do not edit the class manually.
  */
package org.openapitools.client.apis

import cats.effect.Concurrent
import io.circe.Encoder
import org.http4s.Uri
import org.http4s.client.Client as Http4sClient
import org.openapitools.client.models.MoveBattleStyleDetail
import org.openapitools.client.models.MoveDetail
import org.openapitools.client.models.MoveLearnMethodDetail
import org.openapitools.client.models.MoveMetaAilmentDetail
import org.openapitools.client.models.MoveMetaCategoryDetail
import org.openapitools.client.models.MoveTargetDetail
import org.openapitools.client.models.PaginatedMoveBattleStyleSummaryList
import org.openapitools.client.models.PaginatedMoveLearnMethodSummaryList
import org.openapitools.client.models.PaginatedMoveMetaAilmentSummaryList
import org.openapitools.client.models.PaginatedMoveMetaCategorySummaryList
import org.openapitools.client.models.PaginatedMoveSummaryList
import org.openapitools.client.models.PaginatedMoveTargetSummaryList
import org.openapitools.client.models.*

trait MovesApiEndpoints[F[*]] {

  def moveAilmentList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveMetaAilmentSummaryList]
  def moveAilmentRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveMetaAilmentDetail]
  def moveBattleStyleList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveBattleStyleSummaryList]
  def moveBattleStyleRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveBattleStyleDetail]
  def moveCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveMetaCategorySummaryList]
  def moveCategoryRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveMetaCategoryDetail]
  def moveLearnMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveLearnMethodSummaryList]
  def moveLearnMethodRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveLearnMethodDetail]
  def moveList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveSummaryList]
  def moveRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveDetail]
  def moveTargetList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveTargetSummaryList]
  def moveTargetRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveTargetDetail]

}

class MovesApiEndpointsImpl[F[*]: Concurrent](
  override val baseUrl: Uri,
  defaultHeaders: Seq[(String, String)] = Nil,
  httpClient: Http4sClient[F]
) extends BaseClient[F](baseUrl, defaultHeaders, httpClient) with MovesApiEndpoints[F] {
  
  import JsonSupports.*
  import io.circe.syntax.EncoderOps
  import cats.implicits.toFlatMapOps

  override def moveAilmentList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveMetaAilmentSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveMetaAilmentSummaryList](
      method = "GET",
      path = s"/api/v2/move-ailment/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveMetaAilmentSummaryList]("PaginatedMoveMetaAilmentSummaryList", r)
    }
  }

  override def moveAilmentRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveMetaAilmentDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveMetaAilmentDetail](
      method = "GET",
      path = s"/api/v2/move-ailment/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveMetaAilmentDetail]("MoveMetaAilmentDetail", r)
    }
  }

  override def moveBattleStyleList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveBattleStyleSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveBattleStyleSummaryList](
      method = "GET",
      path = s"/api/v2/move-battle-style/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveBattleStyleSummaryList]("PaginatedMoveBattleStyleSummaryList", r)
    }
  }

  override def moveBattleStyleRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveBattleStyleDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveBattleStyleDetail](
      method = "GET",
      path = s"/api/v2/move-battle-style/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveBattleStyleDetail]("MoveBattleStyleDetail", r)
    }
  }

  override def moveCategoryList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveMetaCategorySummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveMetaCategorySummaryList](
      method = "GET",
      path = s"/api/v2/move-category/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveMetaCategorySummaryList]("PaginatedMoveMetaCategorySummaryList", r)
    }
  }

  override def moveCategoryRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveMetaCategoryDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveMetaCategoryDetail](
      method = "GET",
      path = s"/api/v2/move-category/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveMetaCategoryDetail]("MoveMetaCategoryDetail", r)
    }
  }

  override def moveLearnMethodList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveLearnMethodSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveLearnMethodSummaryList](
      method = "GET",
      path = s"/api/v2/move-learn-method/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveLearnMethodSummaryList]("PaginatedMoveLearnMethodSummaryList", r)
    }
  }

  override def moveLearnMethodRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveLearnMethodDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveLearnMethodDetail](
      method = "GET",
      path = s"/api/v2/move-learn-method/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveLearnMethodDetail]("MoveLearnMethodDetail", r)
    }
  }

  override def moveList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveSummaryList](
      method = "GET",
      path = s"/api/v2/move/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveSummaryList]("PaginatedMoveSummaryList", r)
    }
  }

  override def moveRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveDetail](
      method = "GET",
      path = s"/api/v2/move/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveDetail]("MoveDetail", r)
    }
  }

  override def moveTargetList(limit: Option[Int] = None, offset: Option[Int] = None, `q`: Option[String] = None)(using auth: _Authorization.Basic): F[PaginatedMoveTargetSummaryList] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten
    val queryParameters = (
      limit.map("limit" -> _).map(Seq(_)) ++ 
      offset.map("offset" -> _).map(Seq(_)) ++ 
      `q`.map("q" -> _).map(Seq(_))
    ).toSeq.flatten

    _executeRequest[Unit, PaginatedMoveTargetSummaryList](
      method = "GET",
      path = s"/api/v2/move-target/",
      body = None,
      formParameters = None,
      queryParameters = queryParameters,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, PaginatedMoveTargetSummaryList]("PaginatedMoveTargetSummaryList", r)
    }
  }

  override def moveTargetRetrieve(id: String)(using auth: _Authorization.Basic): F[MoveTargetDetail] = {
    val requestHeaders = Seq(
      Some("Content-Type" -> "application/json")
    ).flatten

    _executeRequest[Unit, MoveTargetDetail](
      method = "GET",
      path = s"/api/v2/move-target/${id}/",
      body = None,
      formParameters = None,
      queryParameters = Nil,
      requestHeaders = requestHeaders,
      auth = Some(auth)) {
        
        case r if r.status.code == 200 => parseJson[F, MoveTargetDetail]("MoveTargetDetail", r)
    }
  }

}


