/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.BerryDetail;
import org.openapitools.server.model.BerryFirmnessDetail;
import org.openapitools.server.model.BerryFlavorDetail;
import org.openapitools.server.model.PaginatedBerryFirmnessSummaryList;
import org.openapitools.server.model.PaginatedBerryFlavorSummaryList;
import org.openapitools.server.model.PaginatedBerrySummaryList;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface BerriesApi  {

    /**
     * List berry firmness
     *
     * Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness) for greater detail.
     *
     */
    @GET
    @Path("/berry-firmness/")
    @Produces({ "application/json" })
    PaginatedBerryFirmnessSummaryList berryFirmnessList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get berry by firmness
     *
     * Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness) for greater detail.
     *
     */
    @GET
    @Path("/berry-firmness/{id}/")
    @Produces({ "application/json" })
    BerryFirmnessDetail berryFirmnessRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List berry flavors
     *
     * Flavors determine whether a Pokémon will benefit or suffer from eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor) for greater detail.
     *
     */
    @GET
    @Path("/berry-flavor/")
    @Produces({ "application/json" })
    PaginatedBerryFlavorSummaryList berryFlavorList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get berries by flavor
     *
     * Flavors determine whether a Pokémon will benefit or suffer from eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor) for greater detail.
     *
     */
    @GET
    @Path("/berry-flavor/{id}/")
    @Produces({ "application/json" })
    BerryFlavorDetail berryFlavorRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List berries
     *
     * Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry) for greater detail.
     *
     */
    @GET
    @Path("/berry/")
    @Produces({ "application/json" })
    PaginatedBerrySummaryList berryList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get a berry
     *
     * Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry) for greater detail.
     *
     */
    @GET
    @Path("/berry/{id}/")
    @Produces({ "application/json" })
    BerryDetail berryRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
