/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.ContestEffectDetail;
import org.openapitools.server.model.ContestTypeDetail;
import org.openapitools.server.model.PaginatedContestEffectSummaryList;
import org.openapitools.server.model.PaginatedContestTypeSummaryList;
import org.openapitools.server.model.PaginatedSuperContestEffectSummaryList;
import org.openapitools.server.model.SuperContestEffectDetail;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface ContestsApi  {

    /**
     * List contest effects
     *
     * Contest effects refer to the effects of moves when used in contests.
     *
     */
    @GET
    @Path("/contest-effect/")
    @Produces({ "application/json" })
    PaginatedContestEffectSummaryList contestEffectList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get contest effect
     *
     * Contest effects refer to the effects of moves when used in contests.
     *
     */
    @GET
    @Path("/contest-effect/{id}/")
    @Produces({ "application/json" })
    ContestEffectDetail contestEffectRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List contest types
     *
     * Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
     *
     */
    @GET
    @Path("/contest-type/")
    @Produces({ "application/json" })
    PaginatedContestTypeSummaryList contestTypeList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get contest type
     *
     * Contest types are categories judges used to weigh a Pokémon&#39;s condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition) for greater detail.
     *
     */
    @GET
    @Path("/contest-type/{id}/")
    @Produces({ "application/json" })
    ContestTypeDetail contestTypeRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List super contest effects
     *
     * Super contest effects refer to the effects of moves when used in super contests.
     *
     */
    @GET
    @Path("/super-contest-effect/")
    @Produces({ "application/json" })
    PaginatedSuperContestEffectSummaryList superContestEffectList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get super contest effect
     *
     * Super contest effects refer to the effects of moves when used in super contests.
     *
     */
    @GET
    @Path("/super-contest-effect/{id}/")
    @Produces({ "application/json" })
    SuperContestEffectDetail superContestEffectRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
