/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.GenerationDetail;
import org.openapitools.server.model.PaginatedGenerationSummaryList;
import org.openapitools.server.model.PaginatedPokedexSummaryList;
import org.openapitools.server.model.PaginatedVersionGroupSummaryList;
import org.openapitools.server.model.PaginatedVersionSummaryList;
import org.openapitools.server.model.PokedexDetail;
import org.openapitools.server.model.VersionDetail;
import org.openapitools.server.model.VersionGroupDetail;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface GamesApi  {

    /**
     * List genrations
     *
     * A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.
     *
     */
    @GET
    @Path("/generation/")
    @Produces({ "application/json" })
    PaginatedGenerationSummaryList generationList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get genration
     *
     * A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.
     *
     */
    @GET
    @Path("/generation/{id}/")
    @Produces({ "application/json" })
    GenerationDetail generationRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokedex
     *
     * A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.
     *
     */
    @GET
    @Path("/pokedex/")
    @Produces({ "application/json" })
    PaginatedPokedexSummaryList pokedexList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokedex
     *
     * A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.
     *
     */
    @GET
    @Path("/pokedex/{id}/")
    @Produces({ "application/json" })
    PokedexDetail pokedexRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List version groups
     *
     * Version groups categorize highly similar versions of the games.
     *
     */
    @GET
    @Path("/version-group/")
    @Produces({ "application/json" })
    PaginatedVersionGroupSummaryList versionGroupList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get version group
     *
     * Version groups categorize highly similar versions of the games.
     *
     */
    @GET
    @Path("/version-group/{id}/")
    @Produces({ "application/json" })
    VersionGroupDetail versionGroupRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List versions
     *
     * Versions of the games, e.g., Red, Blue or Yellow.
     *
     */
    @GET
    @Path("/version/")
    @Produces({ "application/json" })
    PaginatedVersionSummaryList versionList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get version
     *
     * Versions of the games, e.g., Red, Blue or Yellow.
     *
     */
    @GET
    @Path("/version/{id}/")
    @Produces({ "application/json" })
    VersionDetail versionRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
