/*
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.server.api;

import org.openapitools.server.model.AbilityDetail;
import org.openapitools.server.model.CharacteristicDetail;
import org.openapitools.server.model.EggGroupDetail;
import org.openapitools.server.model.GenderDetail;
import org.openapitools.server.model.GrowthRateDetail;
import org.openapitools.server.model.MoveDamageClassDetail;
import org.openapitools.server.model.NatureDetail;
import org.openapitools.server.model.PaginatedAbilitySummaryList;
import org.openapitools.server.model.PaginatedCharacteristicSummaryList;
import org.openapitools.server.model.PaginatedEggGroupSummaryList;
import org.openapitools.server.model.PaginatedGenderSummaryList;
import org.openapitools.server.model.PaginatedGrowthRateSummaryList;
import org.openapitools.server.model.PaginatedMoveDamageClassSummaryList;
import org.openapitools.server.model.PaginatedNatureSummaryList;
import org.openapitools.server.model.PaginatedPokeathlonStatSummaryList;
import org.openapitools.server.model.PaginatedPokemonColorSummaryList;
import org.openapitools.server.model.PaginatedPokemonFormSummaryList;
import org.openapitools.server.model.PaginatedPokemonHabitatSummaryList;
import org.openapitools.server.model.PaginatedPokemonShapeSummaryList;
import org.openapitools.server.model.PaginatedPokemonSpeciesSummaryList;
import org.openapitools.server.model.PaginatedPokemonSummaryList;
import org.openapitools.server.model.PaginatedStatSummaryList;
import org.openapitools.server.model.PaginatedTypeSummaryList;
import org.openapitools.server.model.PokeathlonStatDetail;
import org.openapitools.server.model.PokemonColorDetail;
import org.openapitools.server.model.PokemonDetail;
import org.openapitools.server.model.PokemonFormDetail;
import org.openapitools.server.model.PokemonHabitatDetail;
import org.openapitools.server.model.PokemonShapeDetail;
import org.openapitools.server.model.PokemonSpeciesDetail;
import org.openapitools.server.model.StatDetail;
import org.openapitools.server.model.TypeDetail;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import java.util.Set;
import javax.ws.rs.*;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.MediaType;



import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;


/**
 * PokéAPI
 *
 * <p>All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 */

@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/v2")
public interface PokemonApi  {

    @GET
    @Path("/ability/")
    @Produces({ "application/json" })
    PaginatedAbilitySummaryList abilityList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    @GET
    @Path("/ability/{id}/")
    @Produces({ "application/json" })
    AbilityDetail abilityRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List charecterictics
     *
     * Characteristics indicate which stat contains a Pokémon&#39;s highest IV. A Pokémon&#39;s Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.
     *
     */
    @GET
    @Path("/characteristic/")
    @Produces({ "application/json" })
    PaginatedCharacteristicSummaryList characteristicList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get characteristic
     *
     * Characteristics indicate which stat contains a Pokémon&#39;s highest IV. A Pokémon&#39;s Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.
     *
     */
    @GET
    @Path("/characteristic/{id}/")
    @Produces({ "application/json" })
    CharacteristicDetail characteristicRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List egg groups
     *
     * Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.
     *
     */
    @GET
    @Path("/egg-group/")
    @Produces({ "application/json" })
    PaginatedEggGroupSummaryList eggGroupList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get egg group
     *
     * Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.
     *
     */
    @GET
    @Path("/egg-group/{id}/")
    @Produces({ "application/json" })
    EggGroupDetail eggGroupRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List genders
     *
     * Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.
     *
     */
    @GET
    @Path("/gender/")
    @Produces({ "application/json" })
    PaginatedGenderSummaryList genderList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get gender
     *
     * Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.
     *
     */
    @GET
    @Path("/gender/{id}/")
    @Produces({ "application/json" })
    GenderDetail genderRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List growth rates
     *
     * Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.
     *
     */
    @GET
    @Path("/growth-rate/")
    @Produces({ "application/json" })
    PaginatedGrowthRateSummaryList growthRateList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get growth rate
     *
     * Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.
     *
     */
    @GET
    @Path("/growth-rate/{id}/")
    @Produces({ "application/json" })
    GrowthRateDetail growthRateRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List move damage classes
     *
     * Damage classes moves can have, e.g. physical, special, or non-damaging.
     *
     */
    @GET
    @Path("/move-damage-class/")
    @Produces({ "application/json" })
    PaginatedMoveDamageClassSummaryList moveDamageClassList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get move damage class
     *
     * Damage classes moves can have, e.g. physical, special, or non-damaging.
     *
     */
    @GET
    @Path("/move-damage-class/{id}/")
    @Produces({ "application/json" })
    MoveDamageClassDetail moveDamageClassRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List natures
     *
     * Natures influence how a Pokémon&#39;s stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.
     *
     */
    @GET
    @Path("/nature/")
    @Produces({ "application/json" })
    PaginatedNatureSummaryList natureList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get nature
     *
     * Natures influence how a Pokémon&#39;s stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.
     *
     */
    @GET
    @Path("/nature/{id}/")
    @Produces({ "application/json" })
    NatureDetail natureRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokeathlon stats
     *
     * Pokeathlon Stats are different attributes of a Pokémon&#39;s performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.
     *
     */
    @GET
    @Path("/pokeathlon-stat/")
    @Produces({ "application/json" })
    PaginatedPokeathlonStatSummaryList pokeathlonStatList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokeathlon stat
     *
     * Pokeathlon Stats are different attributes of a Pokémon&#39;s performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.
     *
     */
    @GET
    @Path("/pokeathlon-stat/{id}/")
    @Produces({ "application/json" })
    PokeathlonStatDetail pokeathlonStatRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemon colors
     *
     * Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon&#39;s body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.
     *
     */
    @GET
    @Path("/pokemon-color/")
    @Produces({ "application/json" })
    PaginatedPokemonColorSummaryList pokemonColorList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemon color
     *
     * Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon&#39;s body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.
     *
     */
    @GET
    @Path("/pokemon-color/{id}/")
    @Produces({ "application/json" })
    PokemonColorDetail pokemonColorRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemon forms
     *
     * Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the &#39;Pokémon&#39; entity is used to represent such a variety.
     *
     */
    @GET
    @Path("/pokemon-form/")
    @Produces({ "application/json" })
    PaginatedPokemonFormSummaryList pokemonFormList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemon form
     *
     * Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the &#39;Pokémon&#39; entity is used to represent such a variety.
     *
     */
    @GET
    @Path("/pokemon-form/{id}/")
    @Produces({ "application/json" })
    PokemonFormDetail pokemonFormRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemom habitas
     *
     * Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.
     *
     */
    @GET
    @Path("/pokemon-habitat/")
    @Produces({ "application/json" })
    PaginatedPokemonHabitatSummaryList pokemonHabitatList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemom habita
     *
     * Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.
     *
     */
    @GET
    @Path("/pokemon-habitat/{id}/")
    @Produces({ "application/json" })
    PokemonHabitatDetail pokemonHabitatRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemon
     *
     * Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.
     *
     */
    @GET
    @Path("/pokemon/")
    @Produces({ "application/json" })
    PaginatedPokemonSummaryList pokemonList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemon
     *
     * Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.
     *
     */
    @GET
    @Path("/pokemon/{id}/")
    @Produces({ "application/json" })
    PokemonDetail pokemonRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemon shapes
     *
     * Shapes used for sorting Pokémon in a Pokédex.
     *
     */
    @GET
    @Path("/pokemon-shape/")
    @Produces({ "application/json" })
    PaginatedPokemonShapeSummaryList pokemonShapeList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemon shape
     *
     * Shapes used for sorting Pokémon in a Pokédex.
     *
     */
    @GET
    @Path("/pokemon-shape/{id}/")
    @Produces({ "application/json" })
    PokemonShapeDetail pokemonShapeRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List pokemon species
     *
     * A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.
     *
     */
    @GET
    @Path("/pokemon-species/")
    @Produces({ "application/json" })
    PaginatedPokemonSpeciesSummaryList pokemonSpeciesList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get pokemon species
     *
     * A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.
     *
     */
    @GET
    @Path("/pokemon-species/{id}/")
    @Produces({ "application/json" })
    PokemonSpeciesDetail pokemonSpeciesRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List stats
     *
     * Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.
     *
     */
    @GET
    @Path("/stat/")
    @Produces({ "application/json" })
    PaginatedStatSummaryList statList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get stat
     *
     * Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.
     *
     */
    @GET
    @Path("/stat/{id}/")
    @Produces({ "application/json" })
    StatDetail statRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;

    /**
     * List types
     *
     * Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
     *
     */
    @GET
    @Path("/type/")
    @Produces({ "application/json" })
    PaginatedTypeSummaryList typeList(@QueryParam("limit") Integer limit, @QueryParam("offset") Integer offset, @QueryParam("q") String q) throws ApiException, ProcessingException;

    /**
     * Get types
     *
     * Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
     *
     */
    @GET
    @Path("/type/{id}/")
    @Produces({ "application/json" })
    TypeDetail typeRetrieve(@PathParam("id") String id) throws ApiException, ProcessingException;
}
