openapi: 3.1.0
info:
  contact:
    email: blah+oapicf@cliffano.com
    name: OpenAPI Clients Factory
    url: https://github.com/oapicf/pokeapi-clients
  description: "All the Pokémon data you'll ever need in one place, easily accessible\
    \ through a modern free open-source RESTful API.\n\n## What is this?\n\nThis is\
    \ a full RESTful API linked to an extensive database detailing everything about\
    \ the Pokémon main game series.\n\nWe've covered everything from Pokémon to Berry\
    \ Flavors.\n\n## Where do I start?\n\nWe have awesome [documentation](https://pokeapi.co/docs/v2)\
    \ on how to use this API. It takes minutes to get started.\n\nThis API will always\
    \ be publicly available and will never require any extensive setup process to\
    \ consume.\n\nCreated by [**Paul Hallett**(]https://github.com/phalt) and other\
    \ [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing)\
    \ around the world. Pokémon and Pokémon character names are trademarks of Nintendo.\n\
    \    "
  title: PokéAPI
  version: 2.7.0
externalDocs:
  url: https://pokeapi.co/docs/v2
servers:
- url: https://pokeapi.co
tags:
- description: "Pokémon are the creatures that inhabit the world of the Pokémon games.\
    \ They can be caught using Pokéballs and trained by battling with other Pokémon.\
    \ Each Pokémon belongs to a specific species but may take on a variant which makes\
    \ it differ from other Pokémon of the same species, such as base stats, available\
    \ abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species))\
    \ for greater detail."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon
  name: pokemon
- description: Evolution is a process in which a Pokémon changes into a different
    species of Pokémon.
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Evolution
  name: evolution
- description: "Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness)\
    \ for greater detail."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Berry
  name: berries
- description: "An item is an object in the games which the player can pick up, keep\
    \ in their bag, and use in some manner. They have various uses, including healing,\
    \ powering up, helping catch Pokémon, or to access a new area."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Item
  name: items
- description: "Machines are the representation of items that teach moves to Poké\
    mon. They vary from version to version, so it is not certain that one specific\
    \ TM or HM corresponds to a single Machine."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/TM
  name: machines
- description: "Locations that can be visited within the games. Locations make up\
    \ sizable portions of regions, like cities or routes."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/List_of_locations_by_index_number
  name: location
- description: Pokémon Contests are a type of competition often contrasted with Pokémon
    battles and held in Contest Halls
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Contest
  name: contest
- description: "Moves are the skills of Pokémon in battle. In battle, a Pokémon uses\
    \ one move each turn. Some moves (including those learned by Hidden Machine) can\
    \ be used outside of battle as well, usually for the purpose of removing obstacles\
    \ or exploring new areas."
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/List_of_locations_by_name
  name: moves
- name: encounters
- description: The Pokémon games are all video games in the Pokémon franchise.
  externalDocs:
    description: Find more info here
    url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_games
  name: games
- name: utility
paths:
  /api/v2/ability/:
    get:
      description: "Abilities provide passive effects for Pokémon in battle or in\
        \ the overworld. Pokémon have multiple possible abilities but can have only\
        \ one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability)\
        \ for greater detail."
      operationId: ability_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAbilitySummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      tags:
      - pokemon
  /api/v2/ability/{id}/:
    get:
      description: "Abilities provide passive effects for Pokémon in battle or in\
        \ the overworld. Pokémon have multiple possible abilities but can have only\
        \ one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability)\
        \ for greater detail."
      operationId: ability_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          title: flavor_text
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbilityDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      tags:
      - pokemon
  /api/v2/berry/:
    get:
      description: "Berries are small fruits that can provide HP and status condition\
        \ restoration, stat enhancement, and even damage negation when eaten by Poké\
        mon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry)\
        \ for greater detail."
      operationId: berry_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBerrySummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List berries
      tags:
      - berries
  /api/v2/berry/{id}/:
    get:
      description: "Berries are small fruits that can provide HP and status condition\
        \ restoration, stat enhancement, and even damage negation when eaten by Poké\
        mon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry)\
        \ for greater detail."
      operationId: berry_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BerryDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get a berry
      tags:
      - berries
  /api/v2/berry-firmness/:
    get:
      description: "Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness)\
        \ for greater detail."
      operationId: berry_firmness_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBerryFirmnessSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List berry firmness
      tags:
      - berries
  /api/v2/berry-firmness/{id}/:
    get:
      description: "Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness)\
        \ for greater detail."
      operationId: berry_firmness_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BerryFirmnessDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get berry by firmness
      tags:
      - berries
  /api/v2/berry-flavor/:
    get:
      description: "Flavors determine whether a Pokémon will benefit or suffer from\
        \ eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor)\
        \ for greater detail."
      operationId: berry_flavor_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBerryFlavorSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List berry flavors
      tags:
      - berries
  /api/v2/berry-flavor/{id}/:
    get:
      description: "Flavors determine whether a Pokémon will benefit or suffer from\
        \ eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor)\
        \ for greater detail."
      operationId: berry_flavor_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BerryFlavorDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get berries by flavor
      tags:
      - berries
  /api/v2/characteristic/:
    get:
      description: "Characteristics indicate which stat contains a Pokémon's highest\
        \ IV. A Pokémon's Characteristic is determined by the remainder of its highest\
        \ IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic)\
        \ for greater detail."
      operationId: characteristic_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCharacteristicSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List charecterictics
      tags:
      - pokemon
  /api/v2/characteristic/{id}/:
    get:
      description: "Characteristics indicate which stat contains a Pokémon's highest\
        \ IV. A Pokémon's Characteristic is determined by the remainder of its highest\
        \ IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic)\
        \ for greater detail."
      operationId: characteristic_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacteristicDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get characteristic
      tags:
      - pokemon
  /api/v2/contest-type/:
    get:
      description: "Contest types are categories judges used to weigh a Pokémon's\
        \ condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition)\
        \ for greater detail."
      operationId: contest_type_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedContestTypeSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List contest types
      tags:
      - contests
  /api/v2/contest-type/{id}/:
    get:
      description: "Contest types are categories judges used to weigh a Pokémon's\
        \ condition in Pokémon contests. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Contest_condition)\
        \ for greater detail."
      operationId: contest_type_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContestTypeDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get contest type
      tags:
      - contests
  /api/v2/contest-effect/:
    get:
      description: Contest effects refer to the effects of moves when used in contests.
      operationId: contest_effect_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedContestEffectSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List contest effects
      tags:
      - contests
  /api/v2/contest-effect/{id}/:
    get:
      description: Contest effects refer to the effects of moves when used in contests.
      operationId: contest_effect_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContestEffectDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get contest effect
      tags:
      - contests
  /api/v2/egg-group/:
    get:
      description: "Egg Groups are categories which determine which Pokémon are able\
        \ to interbreed. Pokémon may belong to either one or two Egg Groups. Check\
        \ out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater\
        \ detail."
      operationId: egg_group_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEggGroupSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List egg groups
      tags:
      - pokemon
  /api/v2/egg-group/{id}/:
    get:
      description: "Egg Groups are categories which determine which Pokémon are able\
        \ to interbreed. Pokémon may belong to either one or two Egg Groups. Check\
        \ out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater\
        \ detail."
      operationId: egg_group_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EggGroupDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get egg group
      tags:
      - pokemon
  /api/v2/encounter-method/:
    get:
      description: "Methods by which the player might can encounter Pokémon in the\
        \ wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail."
      operationId: encounter_method_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEncounterMethodSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List encounter methods
      tags:
      - encounters
  /api/v2/encounter-method/{id}/:
    get:
      description: "Methods by which the player might can encounter Pokémon in the\
        \ wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail."
      operationId: encounter_method_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterMethodDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get encounter method
      tags:
      - encounters
  /api/v2/encounter-condition/:
    get:
      description: "Conditions which affect what pokemon might appear in the wild,\
        \ e.g., day or night."
      operationId: encounter_condition_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEncounterConditionSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List encounter conditions
      tags:
      - encounters
  /api/v2/encounter-condition/{id}/:
    get:
      description: "Conditions which affect what pokemon might appear in the wild,\
        \ e.g., day or night."
      operationId: encounter_condition_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterConditionDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get encounter condition
      tags:
      - encounters
  /api/v2/encounter-condition-value/:
    get:
      description: "Encounter condition values are the various states that an encounter\
        \ condition can have, i.e., time of day can be either day or night."
      operationId: encounter_condition_value_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEncounterConditionValueSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List encounter condition values
      tags:
      - encounters
  /api/v2/encounter-condition-value/{id}/:
    get:
      description: "Encounter condition values are the various states that an encounter\
        \ condition can have, i.e., time of day can be either day or night."
      operationId: encounter_condition_value_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncounterConditionValueDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get encounter condition value
      tags:
      - encounters
  /api/v2/evolution-chain/:
    get:
      description: Evolution chains are essentially family trees. They start with
        the lowest stage within a family and detail evolution conditions for each
        as well as Pokémon they can evolve into up through the hierarchy.
      operationId: evolution_chain_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEvolutionChainSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List evolution chains
      tags:
      - evolution
  /api/v2/evolution-chain/{id}/:
    get:
      description: Evolution chains are essentially family trees. They start with
        the lowest stage within a family and detail evolution conditions for each
        as well as Pokémon they can evolve into up through the hierarchy.
      operationId: evolution_chain_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolutionChainDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get evolution chain
      tags:
      - evolution
  /api/v2/evolution-trigger/:
    get:
      description: "Evolution triggers are the events and conditions that cause a\
        \ Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution)\
        \ for greater detail."
      operationId: evolution_trigger_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEvolutionTriggerSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List evolution triggers
      tags:
      - evolution
  /api/v2/evolution-trigger/{id}/:
    get:
      description: "Evolution triggers are the events and conditions that cause a\
        \ Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution)\
        \ for greater detail."
      operationId: evolution_trigger_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvolutionTriggerDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get evolution trigger
      tags:
      - evolution
  /api/v2/generation/:
    get:
      description: "A generation is a grouping of the Pokémon games that separates\
        \ them based on the Pokémon they include. In each generation, a new set of\
        \ Pokémon, Moves, Abilities and Types that did not exist in the previous generation\
        \ are released."
      operationId: generation_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGenerationSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List genrations
      tags:
      - games
  /api/v2/generation/{id}/:
    get:
      description: "A generation is a grouping of the Pokémon games that separates\
        \ them based on the Pokémon they include. In each generation, a new set of\
        \ Pokémon, Moves, Abilities and Types that did not exist in the previous generation\
        \ are released."
      operationId: generation_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get genration
      tags:
      - games
  /api/v2/gender/:
    get:
      description: "Genders were introduced in Generation II for the purposes of breeding\
        \ Pokémon but can also result in visual differences or even different evolutionary\
        \ lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender)\
        \ for greater detail."
      operationId: gender_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGenderSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List genders
      tags:
      - pokemon
  /api/v2/gender/{id}/:
    get:
      description: "Genders were introduced in Generation II for the purposes of breeding\
        \ Pokémon but can also result in visual differences or even different evolutionary\
        \ lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender)\
        \ for greater detail."
      operationId: gender_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenderDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get gender
      tags:
      - pokemon
  /api/v2/growth-rate/:
    get:
      description: "Growth rates are the speed with which Pokémon gain levels through\
        \ experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience)\
        \ for greater detail."
      operationId: growth_rate_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedGrowthRateSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List growth rates
      tags:
      - pokemon
  /api/v2/growth-rate/{id}/:
    get:
      description: "Growth rates are the speed with which Pokémon gain levels through\
        \ experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience)\
        \ for greater detail."
      operationId: growth_rate_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthRateDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get growth rate
      tags:
      - pokemon
  /api/v2/item/:
    get:
      description: "An item is an object in the games which the player can pick up,\
        \ keep in their bag, and use in some manner. They have various uses, including\
        \ healing, powering up, helping catch Pokémon, or to access a new area."
      operationId: item_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItemSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List items
      tags:
      - items
  /api/v2/item/{id}/:
    get:
      description: "An item is an object in the games which the player can pick up,\
        \ keep in their bag, and use in some manner. They have various uses, including\
        \ healing, powering up, helping catch Pokémon, or to access a new area."
      operationId: item_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get item
      tags:
      - items
  /api/v2/item-category/:
    get:
      description: Item categories determine where items will be placed in the players
        bag.
      operationId: item_category_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItemCategorySummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List item categories
      tags:
      - items
  /api/v2/item-category/{id}/:
    get:
      description: Item categories determine where items will be placed in the players
        bag.
      operationId: item_category_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemCategoryDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get item category
      tags:
      - items
  /api/v2/item-attribute/:
    get:
      description: "Item attributes define particular aspects of items, e.g.\"usable\
        \ in battle\" or \"consumable\"."
      operationId: item_attribute_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItemAttributeSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List item attributes
      tags:
      - items
  /api/v2/item-attribute/{id}/:
    get:
      description: "Item attributes define particular aspects of items, e.g.\"usable\
        \ in battle\" or \"consumable\"."
      operationId: item_attribute_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemAttributeDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get item attribute
      tags:
      - items
  /api/v2/item-fling-effect/:
    get:
      description: The various effects of the move"Fling" when used with different
        items.
      operationId: item_fling_effect_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItemFlingEffectSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List item fling effects
      tags:
      - items
  /api/v2/item-fling-effect/{id}/:
    get:
      description: The various effects of the move"Fling" when used with different
        items.
      operationId: item_fling_effect_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemFlingEffectDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get item fling effect
      tags:
      - items
  /api/v2/item-pocket/:
    get:
      description: Pockets within the players bag used for storing items by category.
      operationId: item_pocket_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedItemPocketSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List item pockets
      tags:
      - items
  /api/v2/item-pocket/{id}/:
    get:
      description: Pockets within the players bag used for storing items by category.
      operationId: item_pocket_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemPocketDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get item pocket
      tags:
      - items
  /api/v2/language/:
    get:
      description: Languages for translations of API resource information.
      operationId: language_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedLanguageSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List languages
      tags:
      - utility
  /api/v2/language/{id}/:
    get:
      description: Languages for translations of API resource information.
      operationId: language_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get language
      tags:
      - utility
  /api/v2/location/:
    get:
      description: "Locations that can be visited within the games. Locations make\
        \ up sizable portions of regions, like cities or routes."
      operationId: location_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedLocationSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List locations
      tags:
      - location
  /api/v2/location/{id}/:
    get:
      description: "Locations that can be visited within the games. Locations make\
        \ up sizable portions of regions, like cities or routes."
      operationId: location_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get location
      tags:
      - location
  /api/v2/location-area/:
    get:
      description: "Location areas are sections of areas, such as floors in a building\
        \ or cave. Each area has its own set of possible Pokémon encounters."
      operationId: location_area_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedLocationAreaSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List location areas
      tags:
      - location
  /api/v2/location-area/{id}/:
    get:
      description: "Location areas are sections of areas, such as floors in a building\
        \ or cave. Each area has its own set of possible Pokémon encounters."
      operationId: location_area_retrieve
      parameters:
      - description: A unique integer value identifying this location area.
        explode: false
        in: path
        name: id
        required: true
        schema:
          title: game_index
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationAreaDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get location area
      tags:
      - location
  /api/v2/machine/:
    get:
      description: "Machines are the representation of items that teach moves to Poké\
        mon. They vary from version to version, so it is not certain that one specific\
        \ TM or HM corresponds to a single Machine."
      operationId: machine_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMachineSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List machines
      tags:
      - machines
  /api/v2/machine/{id}/:
    get:
      description: "Machines are the representation of items that teach moves to Poké\
        mon. They vary from version to version, so it is not certain that one specific\
        \ TM or HM corresponds to a single Machine."
      operationId: machine_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MachineDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get machine
      tags:
      - machines
  /api/v2/move/:
    get:
      description: "Moves are the skills of Pokémon in battle. In battle, a Pokémon\
        \ uses one move each turn. Some moves (including those learned by Hidden Machine)\
        \ can be used outside of battle as well, usually for the purpose of removing\
        \ obstacles or exploring new areas."
      operationId: move_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List moves
      tags:
      - moves
  /api/v2/move/{id}/:
    get:
      description: "Moves are the skills of Pokémon in battle. In battle, a Pokémon\
        \ uses one move each turn. Some moves (including those learned by Hidden Machine)\
        \ can be used outside of battle as well, usually for the purpose of removing\
        \ obstacles or exploring new areas."
      operationId: move_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move
      tags:
      - moves
  /api/v2/move-ailment/:
    get:
      description: "Move Ailments are status conditions caused by moves used during\
        \ battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition)\
        \ for greater detail."
      operationId: move_ailment_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveMetaAilmentSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move meta ailments
      tags:
      - moves
  /api/v2/move-ailment/{id}/:
    get:
      description: "Move Ailments are status conditions caused by moves used during\
        \ battle. See [Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Status_condition)\
        \ for greater detail."
      operationId: move_ailment_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveMetaAilmentDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move meta ailment
      tags:
      - moves
  /api/v2/move-battle-style/:
    get:
      description: "Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III))\
        \ for greater detail."
      operationId: move_battle_style_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveBattleStyleSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move battle styles
      tags:
      - moves
  /api/v2/move-battle-style/{id}/:
    get:
      description: "Styles of moves when used in the Battle Palace. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Battle_Frontier_(Generation_III))\
        \ for greater detail."
      operationId: move_battle_style_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveBattleStyleDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move battle style
      tags:
      - moves
  /api/v2/move-category/:
    get:
      description: Very general categories that loosely group move effects.
      operationId: move_category_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveMetaCategorySummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move meta categories
      tags:
      - moves
  /api/v2/move-category/{id}/:
    get:
      description: Very general categories that loosely group move effects.
      operationId: move_category_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveMetaCategoryDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move meta category
      tags:
      - moves
  /api/v2/move-damage-class/:
    get:
      description: "Damage classes moves can have, e.g. physical, special, or non-damaging."
      operationId: move_damage_class_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveDamageClassSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move damage classes
      tags:
      - pokemon
  /api/v2/move-damage-class/{id}/:
    get:
      description: "Damage classes moves can have, e.g. physical, special, or non-damaging."
      operationId: move_damage_class_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveDamageClassDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move damage class
      tags:
      - pokemon
  /api/v2/move-learn-method/:
    get:
      description: Methods by which Pokémon can learn moves.
      operationId: move_learn_method_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveLearnMethodSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move learn methods
      tags:
      - moves
  /api/v2/move-learn-method/{id}/:
    get:
      description: Methods by which Pokémon can learn moves.
      operationId: move_learn_method_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveLearnMethodDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move learn method
      tags:
      - moves
  /api/v2/move-target/:
    get:
      description: "Targets moves can be directed at during battle. Targets can be\
        \ Pokémon, environments or even other moves."
      operationId: move_target_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMoveTargetSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List move targets
      tags:
      - moves
  /api/v2/move-target/{id}/:
    get:
      description: "Targets moves can be directed at during battle. Targets can be\
        \ Pokémon, environments or even other moves."
      operationId: move_target_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveTargetDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get move target
      tags:
      - moves
  /api/v2/nature/:
    get:
      description: "Natures influence how a Pokémon's stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature)\
        \ for greater detail."
      operationId: nature_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedNatureSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List natures
      tags:
      - pokemon
  /api/v2/nature/{id}/:
    get:
      description: "Natures influence how a Pokémon's stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature)\
        \ for greater detail."
      operationId: nature_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NatureDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get nature
      tags:
      - pokemon
  /api/v2/pal-park-area/:
    get:
      description: Areas used for grouping Pokémon encounters in Pal Park. They're
        like habitats that are specific to Pal Park.
      operationId: pal_park_area_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPalParkAreaSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pal park areas
      tags:
      - location
  /api/v2/pal-park-area/{id}/:
    get:
      description: Areas used for grouping Pokémon encounters in Pal Park. They're
        like habitats that are specific to Pal Park.
      operationId: pal_park_area_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PalParkAreaDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pal park area
      tags:
      - location
  /api/v2/pokedex/:
    get:
      description: "A Pokédex is a handheld electronic encyclopedia device; one which\
        \ is capable of recording and retaining information of the various Pokémon\
        \ in a given region with the exception of the national dex and some smaller\
        \ dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex)\
        \ for greater detail."
      operationId: pokedex_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokedexSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokedex
      tags:
      - games
  /api/v2/pokedex/{id}/:
    get:
      description: "A Pokédex is a handheld electronic encyclopedia device; one which\
        \ is capable of recording and retaining information of the various Pokémon\
        \ in a given region with the exception of the national dex and some smaller\
        \ dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex)\
        \ for greater detail."
      operationId: pokedex_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokedexDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokedex
      tags:
      - games
  /api/v2/pokemon/:
    get:
      description: "Pokémon are the creatures that inhabit the world of the Pokémon\
        \ games. They can be caught using Pokéballs and trained by battling with other\
        \ Pokémon. Each Pokémon belongs to a specific species but may take on a variant\
        \ which makes it differ from other Pokémon of the same species, such as base\
        \ stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species))\
        \ for greater detail."
      operationId: pokemon_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemon
      tags:
      - pokemon
  /api/v2/pokemon/{id}/:
    get:
      description: "Pokémon are the creatures that inhabit the world of the Pokémon\
        \ games. They can be caught using Pokéballs and trained by battling with other\
        \ Pokémon. Each Pokémon belongs to a specific species but may take on a variant\
        \ which makes it differ from other Pokémon of the same species, such as base\
        \ stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species))\
        \ for greater detail."
      operationId: pokemon_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemon
      tags:
      - pokemon
  /api/v2/pokemon-color/:
    get:
      description: Colors used for sorting Pokémon in a Pokédex. The color listed
        in the Pokédex is usually the color most apparent or covering each Pokémon's
        body. No orange category exists; Pokémon that are primarily orange are listed
        as red or brown.
      operationId: pokemon_color_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonColorSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemon colors
      tags:
      - pokemon
  /api/v2/pokemon-color/{id}/:
    get:
      description: Colors used for sorting Pokémon in a Pokédex. The color listed
        in the Pokédex is usually the color most apparent or covering each Pokémon's
        body. No orange category exists; Pokémon that are primarily orange are listed
        as red or brown.
      operationId: pokemon_color_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonColorDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemon color
      tags:
      - pokemon
  /api/v2/pokemon-form/:
    get:
      description: "Some Pokémon may appear in one of multiple, visually different\
        \ forms. These differences are purely cosmetic. For variations within a Poké\
        mon species, which do differ in more than just visuals, the 'Pokémon' entity\
        \ is used to represent such a variety."
      operationId: pokemon_form_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonFormSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemon forms
      tags:
      - pokemon
  /api/v2/pokemon-form/{id}/:
    get:
      description: "Some Pokémon may appear in one of multiple, visually different\
        \ forms. These differences are purely cosmetic. For variations within a Poké\
        mon species, which do differ in more than just visuals, the 'Pokémon' entity\
        \ is used to represent such a variety."
      operationId: pokemon_form_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonFormDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemon form
      tags:
      - pokemon
  /api/v2/pokemon-habitat/:
    get:
      description: Habitats are generally different terrain Pokémon can be found in
        but can also be areas designated for rare or legendary Pokémon.
      operationId: pokemon_habitat_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonHabitatSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemom habitas
      tags:
      - pokemon
  /api/v2/pokemon-habitat/{id}/:
    get:
      description: Habitats are generally different terrain Pokémon can be found in
        but can also be areas designated for rare or legendary Pokémon.
      operationId: pokemon_habitat_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonHabitatDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemom habita
      tags:
      - pokemon
  /api/v2/pokemon-shape/:
    get:
      description: Shapes used for sorting Pokémon in a Pokédex.
      operationId: pokemon_shape_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonShapeSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemon shapes
      tags:
      - pokemon
  /api/v2/pokemon-shape/{id}/:
    get:
      description: Shapes used for sorting Pokémon in a Pokédex.
      operationId: pokemon_shape_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonShapeDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemon shape
      tags:
      - pokemon
  /api/v2/pokemon-species/:
    get:
      description: "A Pokémon Species forms the basis for at least one Pokémon. Attributes\
        \ of a Pokémon species are shared across all varieties of Pokémon within the\
        \ species. A good example is Wormadam; Wormadam is the species which can be\
        \ found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant."
      operationId: pokemon_species_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokemonSpeciesSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokemon species
      tags:
      - pokemon
  /api/v2/pokemon-species/{id}/:
    get:
      description: "A Pokémon Species forms the basis for at least one Pokémon. Attributes\
        \ of a Pokémon species are shared across all varieties of Pokémon within the\
        \ species. A good example is Wormadam; Wormadam is the species which can be\
        \ found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant."
      operationId: pokemon_species_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokemonSpeciesDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokemon species
      tags:
      - pokemon
  /api/v2/pokeathlon-stat/:
    get:
      description: "Pokeathlon Stats are different attributes of a Pokémon's performance\
        \ in Pokéathlons. In Pokéathlons, competitions happen on different courses;\
        \ one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon)\
        \ for greater detail."
      operationId: pokeathlon_stat_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPokeathlonStatSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List pokeathlon stats
      tags:
      - pokemon
  /api/v2/pokeathlon-stat/{id}/:
    get:
      description: "Pokeathlon Stats are different attributes of a Pokémon's performance\
        \ in Pokéathlons. In Pokéathlons, competitions happen on different courses;\
        \ one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon)\
        \ for greater detail."
      operationId: pokeathlon_stat_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PokeathlonStatDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get pokeathlon stat
      tags:
      - pokemon
  /api/v2/region/:
    get:
      description: "A region is an organized area of the Pokémon world. Most often,\
        \ the main difference between regions is the species of Pokémon that can be\
        \ encountered within them."
      operationId: region_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRegionSummaryList"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: List regions
      tags:
      - location
  /api/v2/region/{id}/:
    get:
      description: "A region is an organized area of the Pokémon world. Most often,\
        \ the main difference between regions is the species of Pokémon that can be\
        \ encountered within them."
      operationId: region_retrieve
      parameters:
      - description: This parameter can be a string or an integer.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionDetail"
          description: ""
      security:
      - cookieAuth: []
      - basicAuth: []
      - {}
      summary: Get region
      tags:
      - location
  /api/v2/stat/:
    get:
      description: Stats determine certain aspects of battles. Each Pokémon has a
        value for each stat which grows as they gain levels and can be altered momentarily
        by effects in battles.
      operationId: stat_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
          Case-insensitive query applied on the `name` property. "
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedStatSummaryList"
          description: ""
      security:
      - cookieAuth: []
[...]
