openapi: 3.0.0
info:
  description: ""
  title: ""
  version: "20220523"
servers:
- url: https://pokeapi.co/
paths:
  /api/v2/ability/:
    get:
      operationId: ability_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ability_list_200_response'
          description: A list of abilities
      tags:
      - ability
  /api/v2/ability/{id}/:
    get:
      operationId: ability_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this ability.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
          description: Successful response
      tags:
      - ability
  /api/v2/berry-firmness/:
    get:
      operationId: berry-firmness_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_firmness_list_200_response'
          description: OK
      tags:
      - berry-firmness
  /api/v2/berry-firmness/{id}/:
    get:
      operationId: berry-firmness_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry firmness.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BerryFirmness'
          description: Successful response
      tags:
      - berry-firmness
  /api/v2/berry-flavor/:
    get:
      operationId: berry-flavor_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/berry_flavor_list_200_response'
          description: OK
      tags:
      - berry-flavor
  /api/v2/berry-flavor/{id}/:
    get:
      operationId: berry-flavor_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry flavor.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BerryFlavor'
          description: Successful response
      tags:
      - berry-flavor
  /api/v2/berry/:
    get:
      operationId: berry_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Berry'
                type: array
          description: OK
      tags:
      - berry
  /api/v2/berry/{id}/:
    get:
      operationId: berry_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this berry.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Berry'
          description: Successful response
      tags:
      - berry
  /api/v2/characteristic/:
    get:
      operationId: characteristic_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Characteristic'
                type: array
          description: Successful response with a list of characteristics
      tags:
      - characteristic
  /api/v2/characteristic/{id}/:
    get:
      operationId: characteristic_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this characteristic.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Characteristic'
          description: Successful response
      tags:
      - characteristic
  /api/v2/contest-effect/:
    get:
      operationId: contest-effect_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contest_effect_list_200_response'
          description: A list of contest effects
      tags:
      - contest-effect
  /api/v2/contest-effect/{id}/:
    get:
      operationId: contest-effect_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this contest effect.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestEffect'
          description: Successful response
      tags:
      - contest-effect
  /api/v2/contest-type/:
    get:
      operationId: contest-type_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contest_type_list_200_response'
          description: Successful response containing a list of contest types
      tags:
      - contest-type
  /api/v2/contest-type/{id}/:
    get:
      operationId: contest-type_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this contest type.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContestType'
          description: Successful response
      tags:
      - contest-type
  /api/v2/egg-group/:
    get:
      operationId: egg-group_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EggGroup'
                type: array
          description: OK
      tags:
      - egg-group
  /api/v2/egg-group/{id}/:
    get:
      operationId: egg-group_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this egg group.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EggGroup'
          description: Successful response
      tags:
      - egg-group
  /api/v2/encounter-condition-value/:
    get:
      operationId: encounter-condition-value_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EncounterConditionValue'
                type: array
          description: Successful response containing a list of encounter condition
            values
      tags:
      - encounter-condition-value
  /api/v2/encounter-condition-value/{id}/:
    get:
      operationId: encounter-condition-value_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter condition
            value.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterConditionValue'
          description: Successful response
      tags:
      - encounter-condition-value
  /api/v2/encounter-condition/:
    get:
      operationId: encounter-condition_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encounter_condition_list_200_response'
          description: OK
      tags:
      - encounter-condition
  /api/v2/encounter-condition/{id}/:
    get:
      operationId: encounter-condition_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter condition.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterCondition'
          description: Successful response
      tags:
      - encounter-condition
  /api/v2/encounter-method/:
    get:
      operationId: encounter-method_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encounter_method_list_200_response'
          description: OK
      tags:
      - encounter-method
  /api/v2/encounter-method/{id}/:
    get:
      operationId: encounter-method_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this encounter method.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterMethod'
          description: Successful response
      tags:
      - encounter-method
  /api/v2/evolution-chain/:
    get:
      operationId: evolution-chain_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evolution_chain_list_200_response'
          description: OK
      tags:
      - evolution-chain
  /api/v2/evolution-chain/{id}/:
    get:
      operationId: evolution-chain_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this evolution chain.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolutionChain'
          description: Successful response
      tags:
      - evolution-chain
  /api/v2/evolution-trigger/:
    get:
      operationId: evolution-trigger_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/evolution_trigger_list_200_response'
          description: OK
      tags:
      - evolution-trigger
  /api/v2/evolution-trigger/{id}/:
    get:
      operationId: evolution-trigger_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this evolution trigger.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolutionTrigger'
          description: Successful response
      tags:
      - evolution-trigger
  /api/v2/gender/:
    get:
      operationId: gender_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gender_list_200_response'
          description: OK
      tags:
      - gender
  /api/v2/gender/{id}/:
    get:
      operationId: gender_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this gender.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gender'
          description: Successful response
      tags:
      - gender
  /api/v2/generation/:
    get:
      operationId: generation_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generation_list_200_response'
          description: OK
      tags:
      - generation
  /api/v2/generation/{id}/:
    get:
      operationId: generation_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this generation.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generation'
          description: Successful response
      tags:
      - generation
  /api/v2/growth-rate/:
    get:
      operationId: growth-rate_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/growth_rate_list_200_response'
          description: OK
      tags:
      - growth-rate
  /api/v2/growth-rate/{id}/:
    get:
      operationId: growth-rate_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this growth rate.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrowthRate'
          description: Successful response
      tags:
      - growth-rate
  /api/v2/item-attribute/:
    get:
      operationId: item-attribute_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_attribute_list_200_response'
          description: OK
      tags:
      - item-attribute
  /api/v2/item-attribute/{id}/:
    get:
      operationId: item-attribute_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item attribute.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemAttribute'
          description: Successful response
      tags:
      - item-attribute
  /api/v2/item-category/:
    get:
      operationId: item-category_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_category_list_200_response'
          description: OK
      tags:
      - item-category
  /api/v2/item-category/{id}/:
    get:
      operationId: item-category_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item category.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCategory'
          description: Successful response
      tags:
      - item-category
  /api/v2/item-fling-effect/:
    get:
      operationId: item-fling-effect_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_fling_effect_list_200_response'
          description: OK
      tags:
      - item-fling-effect
  /api/v2/item-fling-effect/{id}/:
    get:
      operationId: item-fling-effect_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item fling effect.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemFlingEffect'
          description: Successful response
      tags:
      - item-fling-effect
  /api/v2/item-pocket/:
    get:
      operationId: item-pocket_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_pocket_list_200_response'
          description: OK
      tags:
      - item-pocket
  /api/v2/item-pocket/{id}/:
    get:
      operationId: item-pocket_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item pocket.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPocket'
          description: Successful response
      tags:
      - item-pocket
  /api/v2/item/:
    get:
      operationId: item_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_list_200_response'
          description: OK
      tags:
      - item
  /api/v2/item/{id}/:
    get:
      operationId: item_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this item.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: Successful response
      tags:
      - item
  /api/v2/language/:
    get:
      operationId: language_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/language_list_200_response'
          description: OK
      tags:
      - language
  /api/v2/language/{id}/:
    get:
      operationId: language_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this language.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Language'
          description: Successful response
      tags:
      - language
  /api/v2/location-area/:
    get:
      operationId: location-area_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location_area_list_200_response'
          description: OK
      tags:
      - location-area
  /api/v2/location-area/{id}/:
    get:
      operationId: location-area_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this location area.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationArea'
          description: Successful response
      tags:
      - location-area
  /api/v2/location/:
    get:
      operationId: location_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/location_list_200_response'
          description: OK
      tags:
      - location
  /api/v2/location/{id}/:
    get:
      operationId: location_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this location.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Successful response
      tags:
      - location
  /api/v2/machine/:
    get:
      operationId: machine_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/machine_list_200_response'
          description: OK
      tags:
      - machine
  /api/v2/machine/{id}/:
    get:
      operationId: machine_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this machine.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: Successful response
      tags:
      - machine
  /api/v2/move-ailment/:
    get:
      operationId: move-ailment_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_ailment_list_200_response'
          description: OK
      tags:
      - move-ailment
  /api/v2/move-ailment/{id}/:
    get:
      operationId: move-ailment_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move meta ailment.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveAilment'
          description: Successful response
      tags:
      - move-ailment
  /api/v2/move-battle-style/:
    get:
      operationId: move-battle-style_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_battle_style_list_200_response'
          description: OK
      tags:
      - move-battle-style
  /api/v2/move-battle-style/{id}/:
    get:
      operationId: move-battle-style_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move battle style.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveBattleStyle'
          description: Successful response
      tags:
      - move-battle-style
  /api/v2/move-category/:
    get:
      operationId: move-category_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_category_list_200_response'
          description: OK
      tags:
      - move-category
  /api/v2/move-category/{id}/:
    get:
      operationId: move-category_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move meta category.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCategory'
          description: Successful response
      tags:
      - move-category
  /api/v2/move-damage-class/:
    get:
      operationId: move-damage-class_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_damage_class_list_200_response'
          description: OK
      tags:
      - move-damage-class
  /api/v2/move-damage-class/{id}/:
    get:
      operationId: move-damage-class_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move damage class.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveDamageClass'
          description: Successful response
      tags:
      - move-damage-class
  /api/v2/move-learn-method/:
    get:
      operationId: move-learn-method_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_learn_method_list_200_response'
          description: OK
      tags:
      - move-learn-method
  /api/v2/move-learn-method/{id}/:
    get:
      operationId: move-learn-method_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move learn method.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveLearnMethod'
          description: Successful response
      tags:
      - move-learn-method
  /api/v2/move-target/:
    get:
      operationId: move-target_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_target_list_200_response'
          description: OK
      tags:
      - move-target
  /api/v2/move-target/{id}/:
    get:
      operationId: move-target_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move target.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveTarget'
          description: Successful response
      tags:
      - move-target
  /api/v2/move/:
    get:
      operationId: move_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/move_list_200_response'
          description: OK
      tags:
      - move
  /api/v2/move/{id}/:
    get:
      operationId: move_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this move.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Move'
          description: Successful response
      tags:
      - move
  /api/v2/nature/:
    get:
      operationId: nature_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nature_list_200_response'
          description: OK
      tags:
      - nature
  /api/v2/nature/{id}/:
    get:
      operationId: nature_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this nature.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nature'
          description: Successful response
      tags:
      - nature
  /api/v2/pal-park-area/:
    get:
      operationId: pal-park-area_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pal_park_area_list_200_response'
          description: OK
      tags:
      - pal-park-area
  /api/v2/pal-park-area/{id}/:
    get:
      operationId: pal-park-area_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pal park area.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PalParkArea'
          description: Successful response
      tags:
      - pal-park-area
  /api/v2/pokeathlon-stat/:
    get:
      operationId: pokeathlon-stat_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokeathlon_stat_list_200_response'
          description: OK
      tags:
      - pokeathlon-stat
  /api/v2/pokeathlon-stat/{id}/:
    get:
      operationId: pokeathlon-stat_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokeathlon stat.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokeathlonStat'
          description: Successful response
      tags:
      - pokeathlon-stat
  /api/v2/pokedex/:
    get:
      operationId: pokedex_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokedex_list_200_response'
          description: OK
      tags:
      - pokedex
  /api/v2/pokedex/{id}/:
    get:
      operationId: pokedex_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokedex.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pokedex'
          description: Successful response
      tags:
      - pokedex
  /api/v2/pokemon-color/:
    get:
      operationId: pokemon-color_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_color_list_200_response'
          description: OK
      tags:
      - pokemon-color
  /api/v2/pokemon-color/{id}/:
    get:
      operationId: pokemon-color_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon color.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonColor'
          description: Successful response
      tags:
      - pokemon-color
  /api/v2/pokemon-form/:
    get:
      operationId: pokemon-form_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_form_list_200_response'
          description: OK
      tags:
      - pokemon-form
  /api/v2/pokemon-form/{id}/:
    get:
      operationId: pokemon-form_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon form.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonForm'
          description: Successful response
      tags:
      - pokemon-form
  /api/v2/pokemon-habitat/:
    get:
      operationId: pokemon-habitat_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_habitat_list_200_response'
          description: OK
      tags:
      - pokemon-habitat
  /api/v2/pokemon-habitat/{id}/:
    get:
      operationId: pokemon-habitat_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon habitat.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonHabitat'
          description: Successful response
      tags:
      - pokemon-habitat
  /api/v2/pokemon-shape/:
    get:
      operationId: pokemon-shape_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_shape_list_200_response'
          description: OK
      tags:
      - pokemon-shape
  /api/v2/pokemon-shape/{id}/:
    get:
      operationId: pokemon-shape_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon shape.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonShape'
          description: Successful response
      tags:
      - pokemon-shape
  /api/v2/pokemon-species/:
    get:
      operationId: pokemon-species_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_species_list_200_response'
          description: OK
      tags:
      - pokemon-species
  /api/v2/pokemon-species/{id}/:
    get:
      operationId: pokemon-species_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon species.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonSpecies'
          description: Successful response
      tags:
      - pokemon-species
  /api/v2/pokemon/:
    get:
      operationId: pokemon_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pokemon_list_200_response'
          description: OK
      tags:
      - pokemon
  /api/v2/pokemon/{id}/:
    get:
      operationId: pokemon_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this pokemon.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pokemon'
          description: Successful response
      tags:
      - pokemon
  /api/v2/region/:
    get:
      operationId: region_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/region_list_200_response'
          description: OK
      tags:
      - region
  /api/v2/region/{id}/:
    get:
      operationId: region_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this region.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
          description: Successful response
      tags:
      - region
  /api/v2/stat/:
    get:
      operationId: stat_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stat_list_200_response'
          description: OK
      tags:
      - stat
  /api/v2/stat/{id}/:
    get:
      operationId: stat_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this stat.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat'
          description: Successful response
      tags:
      - stat
  /api/v2/super-contest-effect/:
    get:
      operationId: super-contest-effect_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/super_contest_effect_list_200_response'
          description: OK
      tags:
      - super-contest-effect
  /api/v2/super-contest-effect/{id}/:
    get:
      operationId: super-contest-effect_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this super contest effect.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperContestEffect'
          description: Successful response
      tags:
      - super-contest-effect
  /api/v2/type/:
    get:
      operationId: type_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/type_list_200_response'
          description: OK
      tags:
      - type
  /api/v2/type/{id}/:
    get:
      operationId: type_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this type.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
          description: Successful response
      tags:
      - type
  /api/v2/version-group/:
    get:
      operationId: version-group_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version_group_list_200_response'
          description: OK
      tags:
      - version-group
  /api/v2/version-group/{id}/:
    get:
      operationId: version-group_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this version group.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionGroup'
          description: Successful response
      tags:
      - version-group
  /api/v2/version/:
    get:
      operationId: version_list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          description: Number of results to return per page.
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          description: The initial index from which to return the results.
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version_list_200_response'
          description: OK
      tags:
      - version
  /api/v2/version/{id}/:
    get:
      operationId: version_read
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: A unique integer value identifying this version.
          title: ID
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
          description: Successful response
      tags:
      - version
components:
  schemas:
    Ability:
      example:
        is_main_series: true
        generation:
          name: name
          url: url
        names:
        - name: name
          language:
            name: name
            url: url
        - name: name
          language:
            name: name
            url: url
        name: name
        id: 6
      properties:
        id:
          description: The identifier for this ability resource.
          format: int32
          type: integer
        name:
          description: The name for this ability resource.
          type: string
        is_main_series:
          description: Whether or not this ability originated in the main series of
            the video games.
          type: boolean
        generation:
          $ref: '#/components/schemas/Ability_generation'
        names:
          items:
            $ref: '#/components/schemas/Ability_names_inner'
          type: array
      type: object
    AbilityEffectChange:
      example:
        effect_entries:
        - generation:
            abilities:
            - name: name
              is_hidden: true
              slot: 7
            - name: name
              is_hidden: true
              slot: 7
            names:
            - name: name
              language:
                iso639: iso639
                names:
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                name: name
                official: true
                id: 3
                iso3166: iso3166
            - name: name
              language:
                iso639: iso639
                names:
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                name: name
                official: true
                id: 3
                iso3166: iso3166
            name: name
            id: 4
          stat_changes:
          - stat:
              name: name
              url: https://openapi-generator.tech
            change: 1
          - stat:
              name: name
              url: https://openapi-generator.tech
            change: 1
          contest_combos:
            super:
              use_after:
              - null
              - null
              use_before:
              - null
              - null
            normal:
              use_after:
              - null
              - null
              use_before:
              - null
              - null
          super_contest_effect:
            moves:
            - name: name
              url: https://openapi-generator.tech
            - name: name
              url: https://openapi-generator.tech
            flavor_text_entries:
            - language:
                name: name
                url: https://openapi-generator.tech
              version:
                name: name
                url: https://openapi-generator.tech
              flavor_text: flavor_text
            - language:
                name: name
                url: https://openapi-generator.tech
              version:
                name: name
                url: https://openapi-generator.tech
              flavor_text: flavor_text
            id: 4
            appeal: 5
          effect_changes:
          - null
          - null
          effect_entries:
          - effect: effect
            language:
              iso639: iso639
              names:
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              name: name
              official: true
              id: 3
              iso3166: iso3166
          - effect: effect
            language:
              iso639: iso639
              names:
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              name: name
              official: true
              id: 3
              iso3166: iso3166
          contest_type:
            berry_flavor:
              name: name
              id: 0
              berries:
              - flavor: null
                potency: 6
              - flavor: null
                potency: 6
            names:
            - name: Beauty
            - name: Beauty
            name: name
            id: 6
          short_effect: "null"
          meta:
            healing: 1
            min_hits: 9
            max_hits: 3
            crit_rate: 1
            ailment_chance: 1
            flinch_chance: 6
            min_turns: 2
            ailment:
              name: name
              url: https://openapi-generator.tech
            category:
              name: name
              url: https://openapi-generator.tech
            max_turns: 4
            drain: 7
            stat_chance: 7
          target_species:
            evolution_chain: null
            genera:
            - genus: genus
              language:
                iso639: iso639
                names:
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                name: name
                official: true
                id: 3
                iso3166: iso3166
            - genus: genus
              language:
                iso639: iso639
                names:
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                - name: name
                  language:
                    name: name
                    url: https://openapi-generator.tech
                name: name
                official: true
                id: 3
                iso3166: iso3166
            habitat:
              name: cave
              id: 1
            color:
              name: red
              id: 1
            egg_groups:
            - names:
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              name: name
              id: 0
              pokemon_species:
              - name: name
                url: https://openapi-generator.tech
              - name: name
                url: https://openapi-generator.tech
            - names:
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              - name: name
                language:
                  name: name
                  url: https://openapi-generator.tech
              name: name
              id: 0
              pokemon_species:
              - name: name
                url: https://openapi-generator.tech
              - name: name
                url: https://openapi-generator.tech
            capture_rate: 5
            pokedex_numbers:
            - entry_number: 2
              pokedex:
                name: name
                url: https://openapi-generator.tech
            - entry_number: 2
              pokedex:
                name: name
                url: https://openapi-generator.tech
            forms_switchable: true
            growth_rate:
              name: name
              formula: formula
              id: 9
              descriptions:
              - description: description
                language:
                  iso639: iso639
                  names:
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  name: name
                  official: true
                  id: 3
                  iso3166: iso3166
              - description: description
                language:
                  iso639: iso639
                  names:
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  name: name
                  official: true
                  id: 3
                  iso3166: iso3166
            flavor_text_entries:
            - language:
                name: name
                url: https://openapi-generator.tech
              version:
                name: name
                url: https://openapi-generator.tech
              flavor_text: flavor_text
            - language:
                name: name
                url: https://openapi-generator.tech
              version:
                name: name
                url: https://openapi-generator.tech
              flavor_text: flavor_text
            id: 6
            order: 1
            is_baby: true
            generation:
              abilities:
              - name: name
                is_hidden: true
                slot: 7
              - name: name
                is_hidden: true
                slot: 7
              names:
              - name: name
                language:
                  iso639: iso639
                  names:
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  name: name
                  official: true
                  id: 3
                  iso3166: iso3166
              - name: name
                language:
                  iso639: iso639
                  names:
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  - name: name
                    language:
                      name: name
                      url: https://openapi-generator.tech
                  name: name
                  official: true
                  id: 3
                  iso3166: iso3166
              name: name
              id: 4
            pal_park_encounters:
            - area:
                name: name
                url: https://openapi-generator.tech
              base_score: 1
              rate: 1
            - area:
                name: name
                url: https://openapi-generator.tech
              base_score: 1
              rate: 1
            shape:
              name: ball
              id: 1
            base_happiness: 2
            names:
            - name: name
              language:
                name: name
                url: https://openapi-generator.tech
            - name: name
              language:
                name: name
                url: https://openapi-generator.tech
            varieties:
            - pokemon:
                location_area_encounters: location_area_encounters
                types:
                - slot: 6
                  type:
                    name: name
                    url: https://openapi-generator.tech
                - slot: 6
                  type:
                    name: name
                    url: https://openapi-generator.tech
                base_experience: 6
                held_items:
                - item:
                    effect_entries:
                    - effect: Raises the user's Defense by 1 stage.
                    - effect: Raises the user's Defense by 1 stage.
                    cost: 9
                    flavor_text_entries:
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    name: name
                    fling_power: 6
                    attributes:
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    id: 9
                    category:
                      name: name
                      id: 9
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    fling_effect:
                      effect_entries:
                      - effect: Raises the user's Defense by 1 stage.
                      - effect: Raises the user's Defense by 1 stage.
                      name: name
                      id: 6
                      items:
                      - null
                      - null
                  version_details:
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                - item:
                    effect_entries:
                    - effect: Raises the user's Defense by 1 stage.
                    - effect: Raises the user's Defense by 1 stage.
                    cost: 9
                    flavor_text_entries:
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    name: name
                    fling_power: 6
                    attributes:
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    id: 9
                    category:
                      name: name
                      id: 9
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    fling_effect:
                      effect_entries:
                      - effect: Raises the user's Defense by 1 stage.
                      - effect: Raises the user's Defense by 1 stage.
                      name: name
                      id: 6
                      items:
                      - null
                      - null
                  version_details:
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                weight: 4
                is_default: true
                sprites:
                  back_shiny_female: https://openapi-generator.tech
                  back_female: https://openapi-generator.tech
                  front_shiny_female: https://openapi-generator.tech
                  back_default: https://openapi-generator.tech
                  front_default: https://openapi-generator.tech
                  front_female: https://openapi-generator.tech
                  back_shiny: https://openapi-generator.tech
                  front_shiny: https://openapi-generator.tech
                abilities:
                - is_hidden: true
                  slot: 5
                  ability:
                    is_main_series: true
                    generation:
                      name: name
                      url: url
                    names:
                    - name: name
                      language:
                        name: name
                        url: url
                    - name: name
                      language:
                        name: name
                        url: url
                    name: name
                    id: 6
                - is_hidden: true
                  slot: 5
                  ability:
                    is_main_series: true
                    generation:
                      name: name
                      url: url
                    names:
                    - name: name
                      language:
                        name: name
                        url: url
                    - name: name
                      language:
                        name: name
                        url: url
                    name: name
                    id: 6
                game_indices:
                - game_index: 12
                  version:
                    name: name
                    url: https://openapi-generator.tech
                - game_index: 12
                  version:
                    name: name
                    url: https://openapi-generator.tech
                species:
                  name: name
                  url: https://openapi-generator.tech
                stats:
                - stat:
                    name: name
                    url: https://openapi-generator.tech
                  base_stat: 2
                  effort: 1
                - stat:
                    name: name
                    url: https://openapi-generator.tech
                  base_stat: 2
                  effort: 1
                moves:
                - version_group_details:
                  - level_learned_at: 0
                    version_group:
                      name: name
                      url: https://openapi-generator.tech
                    move_learn_method:
                      name: name
                      url: https://openapi-generator.tech
                  - level_learned_at: 0
                    version_group:
                      name: name
                      url: https://openapi-generator.tech
                    move_learn_method:
                      name: name
                      url: https://openapi-generator.tech
                  move:
                    name: name
                    url: https://openapi-generator.tech
                - version_group_details:
                  - level_learned_at: 0
                    version_group:
                      name: name
                      url: https://openapi-generator.tech
                    move_learn_method:
                      name: name
                      url: https://openapi-generator.tech
                  - level_learned_at: 0
                    version_group:
                      name: name
                      url: https://openapi-generator.tech
                    move_learn_method:
                      name: name
                      url: https://openapi-generator.tech
                  move:
                    name: name
                    url: https://openapi-generator.tech
                name: name
                id: 1
                forms:
                - name: bulbasaur
                  id: 1
                - name: bulbasaur
                  id: 1
                height: 7
                order: 1
              name: Bulbasaur
              is_default: true
            - pokemon:
                location_area_encounters: location_area_encounters
                types:
                - slot: 6
                  type:
                    name: name
                    url: https://openapi-generator.tech
                - slot: 6
                  type:
                    name: name
                    url: https://openapi-generator.tech
                base_experience: 6
                held_items:
                - item:
                    effect_entries:
                    - effect: Raises the user's Defense by 1 stage.
                    - effect: Raises the user's Defense by 1 stage.
                    cost: 9
                    flavor_text_entries:
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    name: name
                    fling_power: 6
                    attributes:
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    id: 9
                    category:
                      name: name
                      id: 9
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    fling_effect:
                      effect_entries:
                      - effect: Raises the user's Defense by 1 stage.
                      - effect: Raises the user's Defense by 1 stage.
                      name: name
                      id: 6
                      items:
                      - null
                      - null
                  version_details:
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                - item:
                    effect_entries:
                    - effect: Raises the user's Defense by 1 stage.
                    - effect: Raises the user's Defense by 1 stage.
                    cost: 9
                    flavor_text_entries:
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    - language:
                        name: name
                        url: https://openapi-generator.tech
                      version:
                        name: name
                        url: https://openapi-generator.tech
                      flavor_text: flavor_text
                    name: name
                    fling_power: 6
                    attributes:
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    - name: name
                      id: 8
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    id: 9
                    category:
                      name: name
                      id: 9
                      items:
                      - name: name
                        url: https://openapi-generator.tech
                      - name: name
                        url: https://openapi-generator.tech
                    fling_effect:
                      effect_entries:
                      - effect: Raises the user's Defense by 1 stage.
                      - effect: Raises the user's Defense by 1 stage.
                      name: name
                      id: 6
                      items:
                      - null
                      - null
                  version_details:
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                  - version:
                      names:
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      - name: name
                        language:
                          name: name
                          url: https://openapi-generator.tech
                      version_group:
                        name: name
                        url: https://openapi-generator.tech
                      name: name
                      id: 6
                    rarity: 3
                weight: 4
                is_default: true
                sprites:
                  back_shiny_female: https://openapi-generator.tech
                  back_female: https://openapi-generator.tech
                  front_shiny_female: https://openapi-generator.tech
                  back_default: https://openapi-generator.tech
                  front_default: https://openapi-generator.tech
                  front_female: https://openapi-generator.tech
                  back_shiny: https://openapi-generator.tech
                  front_shiny: https://openapi-generator.tech
                abilities:
                - is_hidden: true
                  slot: 5
                  ability:
                    is_main_series: true
                    generation:
                      name: name
                      url: url
                    names:
                    - name: name
                      language:
                        name: name
                        url: url
                    - name: name
                      language:
                        name: name
                        url: url
                    name: name
                    id: 6
                - is_hidden: true
                  slot: 5
                  ability:
                    is_main_series: true
                    generation:
                      name: name
                      url: url
                    names:
                    - name: name
                      language:
                        name: name
                        url: url
                    - name: name
                      language:
                        name: name
                        url: url
                    name: name
                    id: 6
                game_indices:
                - game_index: 12
                  version:
                    name: name
                    url: https://openapi-generator.tech
                - game_index: 12
                  version:
                    name: name
                    url: https://openapi-generator.tech
                species:
                  name: name
                  url: https://openapi-generator.tech
                stats:
                - stat:
                    name: name
                    url: https://openapi-generator.tech
                  base_stat: 2
                  effort: 1
                - stat:
                    name: name
                    url: https://openapi-generator.tech
                  base_stat: 2
                  effort: 1
                moves:
                - version_group_details:
[...]
