# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Berries do
  @moduledoc """
  API calls for all endpoints tagged `Berries`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List berry firmness
  Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedBerryFirmnessSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_firmness_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedBerryFirmnessSummaryList.t} | {:error, Tesla.Env.t}
  def berry_firmness_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry-firmness/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedBerryFirmnessSummaryList}
    ])
  end

  @doc """
  Get berry by firmness
  Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.BerryFirmnessDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_firmness_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.BerryFirmnessDetail.t} | {:error, Tesla.Env.t}
  def berry_firmness_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry-firmness/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.BerryFirmnessDetail}
    ])
  end

  @doc """
  List berry flavors
  Flavors determine whether a Pokémon will benefit or suffer from eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedBerryFlavorSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_flavor_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedBerryFlavorSummaryList.t} | {:error, Tesla.Env.t}
  def berry_flavor_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry-flavor/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedBerryFlavorSummaryList}
    ])
  end

  @doc """
  Get berries by flavor
  Flavors determine whether a Pokémon will benefit or suffer from eating a berry based on their **nature**. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Flavor) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.BerryFlavorDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_flavor_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.BerryFlavorDetail.t} | {:error, Tesla.Env.t}
  def berry_flavor_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry-flavor/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.BerryFlavorDetail}
    ])
  end

  @doc """
  List berries
  Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedBerrySummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedBerrySummaryList.t} | {:error, Tesla.Env.t}
  def berry_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedBerrySummaryList}
    ])
  end

  @doc """
  Get a berry
  Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Berry) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.BerryDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec berry_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.BerryDetail.t} | {:error, Tesla.Env.t}
  def berry_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/berry/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.BerryDetail}
    ])
  end
end
