# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Encounters do
  @moduledoc """
  API calls for all endpoints tagged `Encounters`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List encounter conditions
  Conditions which affect what pokemon might appear in the wild, e.g., day or night.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEncounterConditionSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_condition_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEncounterConditionSummaryList.t} | {:error, Tesla.Env.t}
  def encounter_condition_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-condition/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEncounterConditionSummaryList}
    ])
  end

  @doc """
  Get encounter condition
  Conditions which affect what pokemon might appear in the wild, e.g., day or night.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EncounterConditionDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_condition_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EncounterConditionDetail.t} | {:error, Tesla.Env.t}
  def encounter_condition_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-condition/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EncounterConditionDetail}
    ])
  end

  @doc """
  List encounter condition values
  Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEncounterConditionValueSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_condition_value_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEncounterConditionValueSummaryList.t} | {:error, Tesla.Env.t}
  def encounter_condition_value_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-condition-value/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEncounterConditionValueSummaryList}
    ])
  end

  @doc """
  Get encounter condition value
  Encounter condition values are the various states that an encounter condition can have, i.e., time of day can be either day or night.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EncounterConditionValueDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_condition_value_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EncounterConditionValueDetail.t} | {:error, Tesla.Env.t}
  def encounter_condition_value_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-condition-value/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EncounterConditionValueDetail}
    ])
  end

  @doc """
  List encounter methods
  Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEncounterMethodSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_method_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEncounterMethodSummaryList.t} | {:error, Tesla.Env.t}
  def encounter_method_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-method/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEncounterMethodSummaryList}
    ])
  end

  @doc """
  Get encounter method
  Methods by which the player might can encounter Pokémon in the wild, e.g., walking in tall grass. Check out Bulbapedia for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EncounterMethodDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec encounter_method_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EncounterMethodDetail.t} | {:error, Tesla.Env.t}
  def encounter_method_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/encounter-method/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EncounterMethodDetail}
    ])
  end
end
