# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Evolution do
  @moduledoc """
  API calls for all endpoints tagged `Evolution`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List evolution chains
  Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEvolutionChainSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec evolution_chain_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEvolutionChainSummaryList.t} | {:error, Tesla.Env.t}
  def evolution_chain_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/evolution-chain/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEvolutionChainSummaryList}
    ])
  end

  @doc """
  Get evolution chain
  Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EvolutionChainDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec evolution_chain_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EvolutionChainDetail.t} | {:error, Tesla.Env.t}
  def evolution_chain_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/evolution-chain/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EvolutionChainDetail}
    ])
  end

  @doc """
  List evolution triggers
  Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEvolutionTriggerSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec evolution_trigger_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEvolutionTriggerSummaryList.t} | {:error, Tesla.Env.t}
  def evolution_trigger_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/evolution-trigger/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEvolutionTriggerSummaryList}
    ])
  end

  @doc """
  Get evolution trigger
  Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Methods_of_evolution) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EvolutionTriggerDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec evolution_trigger_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EvolutionTriggerDetail.t} | {:error, Tesla.Env.t}
  def evolution_trigger_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/evolution-trigger/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EvolutionTriggerDetail}
    ])
  end
end
