# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Games do
  @moduledoc """
  API calls for all endpoints tagged `Games`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List genrations
  A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedGenerationSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec generation_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedGenerationSummaryList.t} | {:error, Tesla.Env.t}
  def generation_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/generation/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedGenerationSummaryList}
    ])
  end

  @doc """
  Get genration
  A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.GenerationDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec generation_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.GenerationDetail.t} | {:error, Tesla.Env.t}
  def generation_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/generation/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.GenerationDetail}
    ])
  end

  @doc """
  List pokedex
  A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokedexSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokedex_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokedexSummaryList.t} | {:error, Tesla.Env.t}
  def pokedex_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokedex/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokedexSummaryList}
    ])
  end

  @doc """
  Get pokedex
  A Pokédex is a handheld electronic encyclopedia device; one which is capable of recording and retaining information of the various Pokémon in a given region with the exception of the national dex and some smaller dexes related to portions of a region. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pokedex) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokedexDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokedex_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokedexDetail.t} | {:error, Tesla.Env.t}
  def pokedex_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokedex/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokedexDetail}
    ])
  end

  @doc """
  List version groups
  Version groups categorize highly similar versions of the games.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedVersionGroupSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec version_group_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedVersionGroupSummaryList.t} | {:error, Tesla.Env.t}
  def version_group_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/version-group/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedVersionGroupSummaryList}
    ])
  end

  @doc """
  Get version group
  Version groups categorize highly similar versions of the games.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.VersionGroupDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec version_group_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.VersionGroupDetail.t} | {:error, Tesla.Env.t}
  def version_group_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/version-group/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.VersionGroupDetail}
    ])
  end

  @doc """
  List versions
  Versions of the games, e.g., Red, Blue or Yellow.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedVersionSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec version_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedVersionSummaryList.t} | {:error, Tesla.Env.t}
  def version_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/version/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedVersionSummaryList}
    ])
  end

  @doc """
  Get version
  Versions of the games, e.g., Red, Blue or Yellow.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.VersionDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec version_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.VersionDetail.t} | {:error, Tesla.Env.t}
  def version_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/version/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.VersionDetail}
    ])
  end
end
