# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Location do
  @moduledoc """
  API calls for all endpoints tagged `Location`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List location areas
  Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedLocationAreaSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec location_area_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedLocationAreaSummaryList.t} | {:error, Tesla.Env.t}
  def location_area_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/location-area/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedLocationAreaSummaryList}
    ])
  end

  @doc """
  Get location area
  Location areas are sections of areas, such as floors in a building or cave. Each area has its own set of possible Pokémon encounters.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (integer()): A unique integer value identifying this location area.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.LocationAreaDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec location_area_retrieve(Tesla.Env.client, integer(), keyword()) :: {:ok, PokéAPI.Model.LocationAreaDetail.t} | {:error, Tesla.Env.t}
  def location_area_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/location-area/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.LocationAreaDetail}
    ])
  end

  @doc """
  List locations
  Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedLocationSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec location_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedLocationSummaryList.t} | {:error, Tesla.Env.t}
  def location_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/location/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedLocationSummaryList}
    ])
  end

  @doc """
  Get location
  Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.LocationDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec location_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.LocationDetail.t} | {:error, Tesla.Env.t}
  def location_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/location/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.LocationDetail}
    ])
  end

  @doc """
  List pal park areas
  Areas used for grouping Pokémon encounters in Pal Park. They're like habitats that are specific to Pal Park.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPalParkAreaSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pal_park_area_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPalParkAreaSummaryList.t} | {:error, Tesla.Env.t}
  def pal_park_area_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pal-park-area/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPalParkAreaSummaryList}
    ])
  end

  @doc """
  Get pal park area
  Areas used for grouping Pokémon encounters in Pal Park. They're like habitats that are specific to Pal Park.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PalParkAreaDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pal_park_area_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PalParkAreaDetail.t} | {:error, Tesla.Env.t}
  def pal_park_area_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pal-park-area/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PalParkAreaDetail}
    ])
  end

  @doc """
  List regions
  A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedRegionSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec region_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedRegionSummaryList.t} | {:error, Tesla.Env.t}
  def region_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/region/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedRegionSummaryList}
    ])
  end

  @doc """
  Get region
  A region is an organized area of the Pokémon world. Most often, the main difference between regions is the species of Pokémon that can be encountered within them.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.RegionDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec region_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.RegionDetail.t} | {:error, Tesla.Env.t}
  def region_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/region/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.RegionDetail}
    ])
  end
end
