# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Machines do
  @moduledoc """
  API calls for all endpoints tagged `Machines`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List machines
  Machines are the representation of items that teach moves to Pokémon. They vary from version to version, so it is not certain that one specific TM or HM corresponds to a single Machine.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedMachineSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec machine_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedMachineSummaryList.t} | {:error, Tesla.Env.t}
  def machine_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/machine/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedMachineSummaryList}
    ])
  end

  @doc """
  Get machine
  Machines are the representation of items that teach moves to Pokémon. They vary from version to version, so it is not certain that one specific TM or HM corresponds to a single Machine.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.MachineDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec machine_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.MachineDetail.t} | {:error, Tesla.Env.t}
  def machine_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/machine/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.MachineDetail}
    ])
  end
end
