# NOTE: This file is auto generated by OpenAPI Generator 7.24.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Pokemon do
  @moduledoc """
  API calls for all endpoints tagged `Pokemon`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible abilities but can have only one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedAbilitySummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ability_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedAbilitySummaryList.t} | {:error, Tesla.Env.t}
  def ability_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/ability/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedAbilitySummaryList}
    ])
  end

  @doc """
  Abilities provide passive effects for Pokémon in battle or in the overworld. Pokémon have multiple possible abilities but can have only one ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.AbilityDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ability_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.AbilityDetail.t} | {:error, Tesla.Env.t}
  def ability_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/ability/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.AbilityDetail}
    ])
  end

  @doc """
  List charecterictics
  Characteristics indicate which stat contains a Pokémon's highest IV. A Pokémon's Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedCharacteristicSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec characteristic_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedCharacteristicSummaryList.t} | {:error, Tesla.Env.t}
  def characteristic_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/characteristic/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedCharacteristicSummaryList}
    ])
  end

  @doc """
  Get characteristic
  Characteristics indicate which stat contains a Pokémon's highest IV. A Pokémon's Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo). Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Characteristic) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.CharacteristicDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec characteristic_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.CharacteristicDetail.t} | {:error, Tesla.Env.t}
  def characteristic_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/characteristic/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.CharacteristicDetail}
    ])
  end

  @doc """
  List egg groups
  Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedEggGroupSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec egg_group_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedEggGroupSummaryList.t} | {:error, Tesla.Env.t}
  def egg_group_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/egg-group/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedEggGroupSummaryList}
    ])
  end

  @doc """
  Get egg group
  Egg Groups are categories which determine which Pokémon are able to interbreed. Pokémon may belong to either one or two Egg Groups. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Egg_Group) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.EggGroupDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec egg_group_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.EggGroupDetail.t} | {:error, Tesla.Env.t}
  def egg_group_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/egg-group/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.EggGroupDetail}
    ])
  end

  @doc """
  List genders
  Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedGenderSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gender_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedGenderSummaryList.t} | {:error, Tesla.Env.t}
  def gender_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/gender/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedGenderSummaryList}
    ])
  end

  @doc """
  Get gender
  Genders were introduced in Generation II for the purposes of breeding Pokémon but can also result in visual differences or even different evolutionary lines. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Gender) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.GenderDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gender_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.GenderDetail.t} | {:error, Tesla.Env.t}
  def gender_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/gender/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.GenderDetail}
    ])
  end

  @doc """
  List growth rates
  Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedGrowthRateSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec growth_rate_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedGrowthRateSummaryList.t} | {:error, Tesla.Env.t}
  def growth_rate_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/growth-rate/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedGrowthRateSummaryList}
    ])
  end

  @doc """
  Get growth rate
  Growth rates are the speed with which Pokémon gain levels through experience. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Experience) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.GrowthRateDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec growth_rate_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.GrowthRateDetail.t} | {:error, Tesla.Env.t}
  def growth_rate_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/growth-rate/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.GrowthRateDetail}
    ])
  end

  @doc """
  List move damage classes
  Damage classes moves can have, e.g. physical, special, or non-damaging.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedMoveDamageClassSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec move_damage_class_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedMoveDamageClassSummaryList.t} | {:error, Tesla.Env.t}
  def move_damage_class_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/move-damage-class/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedMoveDamageClassSummaryList}
    ])
  end

  @doc """
  Get move damage class
  Damage classes moves can have, e.g. physical, special, or non-damaging.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.MoveDamageClassDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec move_damage_class_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.MoveDamageClassDetail.t} | {:error, Tesla.Env.t}
  def move_damage_class_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/move-damage-class/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.MoveDamageClassDetail}
    ])
  end

  @doc """
  List natures
  Natures influence how a Pokémon's stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedNatureSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec nature_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedNatureSummaryList.t} | {:error, Tesla.Env.t}
  def nature_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/nature/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedNatureSummaryList}
    ])
  end

  @doc """
  Get nature
  Natures influence how a Pokémon's stats grow. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Nature) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.NatureDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec nature_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.NatureDetail.t} | {:error, Tesla.Env.t}
  def nature_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/nature/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.NatureDetail}
    ])
  end

  @doc """
  List pokeathlon stats
  Pokeathlon Stats are different attributes of a Pokémon's performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokeathlonStatSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokeathlon_stat_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokeathlonStatSummaryList.t} | {:error, Tesla.Env.t}
  def pokeathlon_stat_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokeathlon-stat/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokeathlonStatSummaryList}
    ])
  end

  @doc """
  Get pokeathlon stat
  Pokeathlon Stats are different attributes of a Pokémon's performance in Pokéathlons. In Pokéathlons, competitions happen on different courses; one for each of the different Pokéathlon stats. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9athlon) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokeathlonStatDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokeathlon_stat_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokeathlonStatDetail.t} | {:error, Tesla.Env.t}
  def pokeathlon_stat_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokeathlon-stat/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokeathlonStatDetail}
    ])
  end

  @doc """
  List pokemon colors
  Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon's body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonColorSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_color_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonColorSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_color_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-color/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonColorSummaryList}
    ])
  end

  @doc """
  Get pokemon color
  Colors used for sorting Pokémon in a Pokédex. The color listed in the Pokédex is usually the color most apparent or covering each Pokémon's body. No orange category exists; Pokémon that are primarily orange are listed as red or brown.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonColorDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_color_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonColorDetail.t} | {:error, Tesla.Env.t}
  def pokemon_color_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-color/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonColorDetail}
    ])
  end

  @doc """
  List pokemon forms
  Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the 'Pokémon' entity is used to represent such a variety.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonFormSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_form_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonFormSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_form_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-form/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonFormSummaryList}
    ])
  end

  @doc """
  Get pokemon form
  Some Pokémon may appear in one of multiple, visually different forms. These differences are purely cosmetic. For variations within a Pokémon species, which do differ in more than just visuals, the 'Pokémon' entity is used to represent such a variety.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonFormDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_form_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonFormDetail.t} | {:error, Tesla.Env.t}
  def pokemon_form_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-form/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonFormDetail}
    ])
  end

  @doc """
  List pokemom habitas
  Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonHabitatSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_habitat_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonHabitatSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_habitat_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-habitat/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonHabitatSummaryList}
    ])
  end

  @doc """
  Get pokemom habita
  Habitats are generally different terrain Pokémon can be found in but can also be areas designated for rare or legendary Pokémon.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonHabitatDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_habitat_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonHabitatDetail.t} | {:error, Tesla.Env.t}
  def pokemon_habitat_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-habitat/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonHabitatDetail}
    ])
  end

  @doc """
  List pokemon
  Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonSummaryList}
    ])
  end

  @doc """
  Get pokemon
  Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)) for greater detail.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonDetail.t} | {:error, Tesla.Env.t}
  def pokemon_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonDetail}
    ])
  end

  @doc """
  List pokemon shapes
  Shapes used for sorting Pokémon in a Pokédex.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonShapeSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_shape_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonShapeSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_shape_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-shape/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonShapeSummaryList}
    ])
  end

  @doc """
  Get pokemon shape
  Shapes used for sorting Pokémon in a Pokédex.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonShapeDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_shape_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonShapeDetail.t} | {:error, Tesla.Env.t}
  def pokemon_shape_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-shape/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonShapeDetail}
    ])
  end

  @doc """
  List pokemon species
  A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedPokemonSpeciesSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_species_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedPokemonSpeciesSummaryList.t} | {:error, Tesla.Env.t}
  def pokemon_species_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-species/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedPokemonSpeciesSummaryList}
    ])
  end

  @doc """
  Get pokemon species
  A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.PokemonSpeciesDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec pokemon_species_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.PokemonSpeciesDetail.t} | {:error, Tesla.Env.t}
  def pokemon_species_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/pokemon-species/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PokemonSpeciesDetail}
    ])
  end

  @doc """
  List stats
  Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedStatSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stat_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedStatSummaryList.t} | {:error, Tesla.Env.t}
  def stat_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/stat/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedStatSummaryList}
    ])
  end

  @doc """
  Get stat
  Stats determine certain aspects of battles. Each Pokémon has a value for each stat which grows as they gain levels and can be altered momentarily by effects in battles.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.StatDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stat_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.StatDetail.t} | {:error, Tesla.Env.t}
  def stat_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/stat/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.StatDetail}
    ])
  end

  @doc """
  List types
  Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedTypeSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec type_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedTypeSummaryList.t} | {:error, Tesla.Env.t}
  def type_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/type/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedTypeSummaryList}
    ])
  end

  @doc """
  Get types
  Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.TypeDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec type_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.TypeDetail.t} | {:error, Tesla.Env.t}
  def type_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/type/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.TypeDetail}
    ])
  end
end
