# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule PokéAPI.Api.Utility do
  @moduledoc """
  API calls for all endpoints tagged `Utility`.
  """

  alias PokéAPI.Connection
  import PokéAPI.RequestBuilder

  @doc """
  List languages
  Languages for translations of API resource information.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Number of results to return per page.
    - `:offset` (integer()): The initial index from which to return the results.
    - `:q` (String.t): > Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the `name` property. 

  ### Returns

  - `{:ok, PokéAPI.Model.PaginatedLanguageSummaryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec language_list(Tesla.Env.client, keyword()) :: {:ok, PokéAPI.Model.PaginatedLanguageSummaryList.t} | {:error, Tesla.Env.t}
  def language_list(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :q => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v2/language/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.PaginatedLanguageSummaryList}
    ])
  end

  @doc """
  Get language
  Languages for translations of API resource information.

  ### Parameters

  - `connection` (PokéAPI.Connection): Connection to server
  - `id` (String.t): This parameter can be a string or an integer.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, PokéAPI.Model.LanguageDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec language_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, PokéAPI.Model.LanguageDetail.t} | {:error, Tesla.Env.t}
  def language_retrieve(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v2/language/#{id}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, PokéAPI.Model.LanguageDetail}
    ])
  end
end
