//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.BerryDetail
import org.openapitools.server.model.BerryFirmnessDetail
import org.openapitools.server.model.BerryFlavorDetail
import org.openapitools.server.model.PaginatedBerryFirmnessSummaryList
import org.openapitools.server.model.PaginatedBerryFlavorSummaryList
import org.openapitools.server.model.PaginatedBerrySummaryList

class BerriesRoutes(service : BerriesService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Berry
    @cask.get("/api/v2/berry", true)
    def routeWorkAroundForGETApiV2Berry(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => berryFirmnessList(request,limit, offset, q)
            case Seq() => berryFlavorList(request,limit, offset, q)
            case Seq() => berryList(request,limit, offset, q)
            case Seq(id) => berryRetrieve(id,request)
            case Seq("-firmness",id) => berryFirmnessRetrieve(id,request)
            case Seq("-flavor",id) => berryFlavorRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Berryflavor
    @cask.get("/api/v2/berry-flavor", true)
    def routeWorkAroundForGETApiV2Berryflavor(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => berryFlavorList(request,limit, offset, q)
            case Seq("-flavor",id) => berryFlavorRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Berryfirmness
    @cask.get("/api/v2/berry-firmness", true)
    def routeWorkAroundForGETApiV2Berryfirmness(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => berryFirmnessList(request,limit, offset, q)
            case Seq("-firmness",id) => berryFirmnessRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List berry firmness
         * 
         */
        // conflicts with [/api/v2/berry-firmness/{id}/, /api/v2/berry-firmness/] after/api/v2/berry-firmness, ignoring // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry-firmness/")
        def berryFirmnessList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.berryFirmnessList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedBerryFirmnessSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedBerryFirmnessSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get berry by firmness
         * 
         */
        // conflicts with [/api/v2/berry-firmness/{id}/, /api/v2/berry-firmness/] after/api/v2/berry-firmness, ignoring // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry-firmness/:id/")
        def berryFirmnessRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.berryFirmnessRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import BerryFirmnessDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : BerryFirmnessDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List berry flavors
         * 
         */
        // conflicts with [/api/v2/berry-flavor/{id}/, /api/v2/berry-flavor/] after/api/v2/berry-flavor, ignoring // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry-flavor/")
        def berryFlavorList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.berryFlavorList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedBerryFlavorSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedBerryFlavorSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get berries by flavor
         * 
         */
        // conflicts with [/api/v2/berry-flavor/{id}/, /api/v2/berry-flavor/] after/api/v2/berry-flavor, ignoring // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry-flavor/:id/")
        def berryFlavorRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.berryFlavorRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import BerryFlavorDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : BerryFlavorDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List berries
         * 
         */
        // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry/")
        def berryList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.berryList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedBerrySummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedBerrySummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get a berry
         * 
         */
        // conflicts with [/api/v2/berry/{id}/, /api/v2/berry-firmness/, /api/v2/berry-firmness/{id}/, /api/v2/berry-flavor/, /api/v2/berry-flavor/{id}/, /api/v2/berry/] after/api/v2/berry, ignoring @cask.get("/api/v2/berry/:id/")
        def berryRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.berryRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import BerryDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : BerryDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
