//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.ContestEffectDetail
import org.openapitools.server.model.ContestTypeDetail
import org.openapitools.server.model.PaginatedContestEffectSummaryList
import org.openapitools.server.model.PaginatedContestTypeSummaryList
import org.openapitools.server.model.PaginatedSuperContestEffectSummaryList
import org.openapitools.server.model.SuperContestEffectDetail

class ContestsRoutes(service : ContestsService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Contesttype
    @cask.get("/api/v2/contest-type", true)
    def routeWorkAroundForGETApiV2Contesttype(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => contestTypeList(request,limit, offset, q)
            case Seq(id) => contestTypeRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Contesteffect
    @cask.get("/api/v2/contest-effect", true)
    def routeWorkAroundForGETApiV2Contesteffect(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => contestEffectList(request,limit, offset, q)
            case Seq(id) => contestEffectRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Supercontesteffect
    @cask.get("/api/v2/super-contest-effect", true)
    def routeWorkAroundForGETApiV2Supercontesteffect(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => superContestEffectList(request,limit, offset, q)
            case Seq(id) => superContestEffectRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List contest effects
         * 
         */
        // conflicts with [/api/v2/contest-effect/{id}/, /api/v2/contest-effect/] after/api/v2/contest-effect, ignoring @cask.get("/api/v2/contest-effect/")
        def contestEffectList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.contestEffectList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedContestEffectSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedContestEffectSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get contest effect
         * 
         */
        // conflicts with [/api/v2/contest-effect/{id}/, /api/v2/contest-effect/] after/api/v2/contest-effect, ignoring @cask.get("/api/v2/contest-effect/:id/")
        def contestEffectRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.contestEffectRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import ContestEffectDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : ContestEffectDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List contest types
         * 
         */
        // conflicts with [/api/v2/contest-type/{id}/, /api/v2/contest-type/] after/api/v2/contest-type, ignoring @cask.get("/api/v2/contest-type/")
        def contestTypeList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.contestTypeList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedContestTypeSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedContestTypeSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get contest type
         * 
         */
        // conflicts with [/api/v2/contest-type/{id}/, /api/v2/contest-type/] after/api/v2/contest-type, ignoring @cask.get("/api/v2/contest-type/:id/")
        def contestTypeRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.contestTypeRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import ContestTypeDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : ContestTypeDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List super contest effects
         * 
         */
        // conflicts with [/api/v2/super-contest-effect/{id}/, /api/v2/super-contest-effect/] after/api/v2/super-contest-effect, ignoring @cask.get("/api/v2/super-contest-effect/")
        def superContestEffectList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.superContestEffectList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedSuperContestEffectSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedSuperContestEffectSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get super contest effect
         * 
         */
        // conflicts with [/api/v2/super-contest-effect/{id}/, /api/v2/super-contest-effect/] after/api/v2/super-contest-effect, ignoring @cask.get("/api/v2/super-contest-effect/:id/")
        def superContestEffectRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.superContestEffectRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import SuperContestEffectDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : SuperContestEffectDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
