//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.EncounterConditionDetail
import org.openapitools.server.model.EncounterConditionValueDetail
import org.openapitools.server.model.EncounterMethodDetail
import org.openapitools.server.model.PaginatedEncounterConditionSummaryList
import org.openapitools.server.model.PaginatedEncounterConditionValueSummaryList
import org.openapitools.server.model.PaginatedEncounterMethodSummaryList

class EncountersRoutes(service : EncountersService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Encountermethod
    @cask.get("/api/v2/encounter-method", true)
    def routeWorkAroundForGETApiV2Encountermethod(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => encounterMethodList(request,limit, offset, q)
            case Seq(id) => encounterMethodRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Encounterconditionvalue
    @cask.get("/api/v2/encounter-condition-value", true)
    def routeWorkAroundForGETApiV2Encounterconditionvalue(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq("-value") => encounterConditionValueList(request,limit, offset, q)
            case Seq("-value",id) => encounterConditionValueRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Encountercondition
    @cask.get("/api/v2/encounter-condition", true)
    def routeWorkAroundForGETApiV2Encountercondition(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => encounterConditionList(request,limit, offset, q)
            case Seq("-value") => encounterConditionValueList(request,limit, offset, q)
            case Seq(id) => encounterConditionRetrieve(id,request)
            case Seq("-value",id) => encounterConditionValueRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List encounter conditions
         * 
         */
        // conflicts with [/api/v2/encounter-condition/{id}/, /api/v2/encounter-condition/, /api/v2/encounter-condition-value/, /api/v2/encounter-condition-value/{id}/] after/api/v2/encounter-condition, ignoring @cask.get("/api/v2/encounter-condition/")
        def encounterConditionList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.encounterConditionList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedEncounterConditionSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedEncounterConditionSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get encounter condition
         * 
         */
        // conflicts with [/api/v2/encounter-condition/{id}/, /api/v2/encounter-condition/, /api/v2/encounter-condition-value/, /api/v2/encounter-condition-value/{id}/] after/api/v2/encounter-condition, ignoring @cask.get("/api/v2/encounter-condition/:id/")
        def encounterConditionRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.encounterConditionRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import EncounterConditionDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : EncounterConditionDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List encounter condition values
         * 
         */
        // conflicts with [/api/v2/encounter-condition/{id}/, /api/v2/encounter-condition/, /api/v2/encounter-condition-value/, /api/v2/encounter-condition-value/{id}/] after/api/v2/encounter-condition, ignoring // conflicts with [/api/v2/encounter-condition-value/{id}/, /api/v2/encounter-condition-value/] after/api/v2/encounter-condition-value, ignoring @cask.get("/api/v2/encounter-condition-value/")
        def encounterConditionValueList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.encounterConditionValueList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedEncounterConditionValueSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedEncounterConditionValueSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get encounter condition value
         * 
         */
        // conflicts with [/api/v2/encounter-condition/{id}/, /api/v2/encounter-condition/, /api/v2/encounter-condition-value/, /api/v2/encounter-condition-value/{id}/] after/api/v2/encounter-condition, ignoring // conflicts with [/api/v2/encounter-condition-value/{id}/, /api/v2/encounter-condition-value/] after/api/v2/encounter-condition-value, ignoring @cask.get("/api/v2/encounter-condition-value/:id/")
        def encounterConditionValueRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.encounterConditionValueRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import EncounterConditionValueDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : EncounterConditionValueDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List encounter methods
         * 
         */
        // conflicts with [/api/v2/encounter-method/{id}/, /api/v2/encounter-method/] after/api/v2/encounter-method, ignoring @cask.get("/api/v2/encounter-method/")
        def encounterMethodList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.encounterMethodList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedEncounterMethodSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedEncounterMethodSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get encounter method
         * 
         */
        // conflicts with [/api/v2/encounter-method/{id}/, /api/v2/encounter-method/] after/api/v2/encounter-method, ignoring @cask.get("/api/v2/encounter-method/:id/")
        def encounterMethodRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.encounterMethodRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import EncounterMethodDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : EncounterMethodDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
