//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.EvolutionChainDetail
import org.openapitools.server.model.EvolutionTriggerDetail
import org.openapitools.server.model.PaginatedEvolutionChainSummaryList
import org.openapitools.server.model.PaginatedEvolutionTriggerSummaryList

class EvolutionRoutes(service : EvolutionService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Evolutiontrigger
    @cask.get("/api/v2/evolution-trigger", true)
    def routeWorkAroundForGETApiV2Evolutiontrigger(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => evolutionTriggerList(request,limit, offset, q)
            case Seq(id) => evolutionTriggerRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Evolutionchain
    @cask.get("/api/v2/evolution-chain", true)
    def routeWorkAroundForGETApiV2Evolutionchain(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => evolutionChainList(request,limit, offset, q)
            case Seq(id) => evolutionChainRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List evolution chains
         * 
         */
        // conflicts with [/api/v2/evolution-chain/{id}/, /api/v2/evolution-chain/] after/api/v2/evolution-chain, ignoring @cask.get("/api/v2/evolution-chain/")
        def evolutionChainList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.evolutionChainList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedEvolutionChainSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedEvolutionChainSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get evolution chain
         * 
         */
        // conflicts with [/api/v2/evolution-chain/{id}/, /api/v2/evolution-chain/] after/api/v2/evolution-chain, ignoring @cask.get("/api/v2/evolution-chain/:id/")
        def evolutionChainRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.evolutionChainRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import EvolutionChainDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : EvolutionChainDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List evolution triggers
         * 
         */
        // conflicts with [/api/v2/evolution-trigger/{id}/, /api/v2/evolution-trigger/] after/api/v2/evolution-trigger, ignoring @cask.get("/api/v2/evolution-trigger/")
        def evolutionTriggerList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.evolutionTriggerList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedEvolutionTriggerSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedEvolutionTriggerSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get evolution trigger
         * 
         */
        // conflicts with [/api/v2/evolution-trigger/{id}/, /api/v2/evolution-trigger/] after/api/v2/evolution-trigger, ignoring @cask.get("/api/v2/evolution-trigger/:id/")
        def evolutionTriggerRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.evolutionTriggerRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import EvolutionTriggerDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : EvolutionTriggerDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
