//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.GenerationDetail
import org.openapitools.server.model.PaginatedGenerationSummaryList
import org.openapitools.server.model.PaginatedPokedexSummaryList
import org.openapitools.server.model.PaginatedVersionGroupSummaryList
import org.openapitools.server.model.PaginatedVersionSummaryList
import org.openapitools.server.model.PokedexDetail
import org.openapitools.server.model.VersionDetail
import org.openapitools.server.model.VersionGroupDetail

class GamesRoutes(service : GamesService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Generation
    @cask.get("/api/v2/generation", true)
    def routeWorkAroundForGETApiV2Generation(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => generationList(request,limit, offset, q)
            case Seq(id) => generationRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Version
    @cask.get("/api/v2/version", true)
    def routeWorkAroundForGETApiV2Version(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => versionGroupList(request,limit, offset, q)
            case Seq() => versionList(request,limit, offset, q)
            case Seq(id) => versionRetrieve(id,request)
            case Seq("-group",id) => versionGroupRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Versiongroup
    @cask.get("/api/v2/version-group", true)
    def routeWorkAroundForGETApiV2Versiongroup(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => versionGroupList(request,limit, offset, q)
            case Seq("-group",id) => versionGroupRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Pokedex
    @cask.get("/api/v2/pokedex", true)
    def routeWorkAroundForGETApiV2Pokedex(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => pokedexList(request,limit, offset, q)
            case Seq(id) => pokedexRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List genrations
         * 
         */
        // conflicts with [/api/v2/generation/{id}/, /api/v2/generation/] after/api/v2/generation, ignoring @cask.get("/api/v2/generation/")
        def generationList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.generationList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedGenerationSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedGenerationSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get genration
         * 
         */
        // conflicts with [/api/v2/generation/{id}/, /api/v2/generation/] after/api/v2/generation, ignoring @cask.get("/api/v2/generation/:id/")
        def generationRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.generationRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import GenerationDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : GenerationDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List pokedex
         * 
         */
        // conflicts with [/api/v2/pokedex/{id}/, /api/v2/pokedex/] after/api/v2/pokedex, ignoring @cask.get("/api/v2/pokedex/")
        def pokedexList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.pokedexList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedPokedexSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedPokedexSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get pokedex
         * 
         */
        // conflicts with [/api/v2/pokedex/{id}/, /api/v2/pokedex/] after/api/v2/pokedex, ignoring @cask.get("/api/v2/pokedex/:id/")
        def pokedexRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.pokedexRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PokedexDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PokedexDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List version groups
         * 
         */
        // conflicts with [/api/v2/version-group/{id}/, /api/v2/version-group/] after/api/v2/version-group, ignoring // conflicts with [/api/v2/version/{id}/, /api/v2/version-group/, /api/v2/version-group/{id}/, /api/v2/version/] after/api/v2/version, ignoring @cask.get("/api/v2/version-group/")
        def versionGroupList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.versionGroupList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedVersionGroupSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedVersionGroupSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get version group
         * 
         */
        // conflicts with [/api/v2/version-group/{id}/, /api/v2/version-group/] after/api/v2/version-group, ignoring // conflicts with [/api/v2/version/{id}/, /api/v2/version-group/, /api/v2/version-group/{id}/, /api/v2/version/] after/api/v2/version, ignoring @cask.get("/api/v2/version-group/:id/")
        def versionGroupRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.versionGroupRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import VersionGroupDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : VersionGroupDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List versions
         * 
         */
        // conflicts with [/api/v2/version/{id}/, /api/v2/version-group/, /api/v2/version-group/{id}/, /api/v2/version/] after/api/v2/version, ignoring @cask.get("/api/v2/version/")
        def versionList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.versionList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedVersionSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedVersionSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get version
         * 
         */
        // conflicts with [/api/v2/version/{id}/, /api/v2/version-group/, /api/v2/version-group/{id}/, /api/v2/version/] after/api/v2/version, ignoring @cask.get("/api/v2/version/:id/")
        def versionRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.versionRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import VersionDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : VersionDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
