//> using scala "3.3.1"
//> using lib "com.lihaoyi::cask:0.8.3"
//> using lib "com.lihaoyi::scalatags:0.12.0"
/**
 * PokéAPI
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.     
 *
 * OpenAPI spec version: 2.7.0
 *
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 *
 * https://openapi-generator.tech
 */


// this is generated from apiRoutes.mustache
package org.openapitools.server.api

import org.openapitools.server.model.*

import upickle.default.{ReadWriter => RW, macroRW}
import upickle.default.*
import scala.util.Try

import org.openapitools.server.model.LocationAreaDetail
import org.openapitools.server.model.LocationDetail
import org.openapitools.server.model.PaginatedLocationAreaSummaryList
import org.openapitools.server.model.PaginatedLocationSummaryList
import org.openapitools.server.model.PaginatedPalParkAreaSummaryList
import org.openapitools.server.model.PaginatedRegionSummaryList
import org.openapitools.server.model.PalParkAreaDetail
import org.openapitools.server.model.RegionDetail

class LocationRoutes(service : LocationService[Try]) extends cask.Routes {

    // route group for routeWorkAroundForGETApiV2Palparkarea
    @cask.get("/api/v2/pal-park-area", true)
    def routeWorkAroundForGETApiV2Palparkarea(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => palParkAreaList(request,limit, offset, q)
            case Seq(id) => palParkAreaRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Location
    @cask.get("/api/v2/location", true)
    def routeWorkAroundForGETApiV2Location(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => locationAreaList(request,limit, offset)
            case Seq() => locationList(request,limit, offset, q)
            case Seq(id) => locationRetrieve(id,request)
            case Seq("-area",id) => locationAreaRetrieve(id.toInt,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Region
    @cask.get("/api/v2/region", true)
    def routeWorkAroundForGETApiV2Region(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None,q : Option[String] = None) = {
        request.remainingPathSegments match {
            case Seq() => regionList(request,limit, offset, q)
            case Seq(id) => regionRetrieve(id,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }
    // route group for routeWorkAroundForGETApiV2Locationarea
    @cask.get("/api/v2/location-area", true)
    def routeWorkAroundForGETApiV2Locationarea(request: cask.Request,limit : Option[Int] = None,offset : Option[Int] = None) = {
        request.remainingPathSegments match {
            case Seq() => locationAreaList(request,limit, offset)
            case Seq("-area",id) => locationAreaRetrieve(id.toInt,request)
            case _          => cask.Response("Not Found", statusCode = 404)
        }
    }

        /** List location areas
         * 
         */
        // conflicts with [/api/v2/location-area/{id}/, /api/v2/location-area/] after/api/v2/location-area, ignoring // conflicts with [/api/v2/location/{id}/, /api/v2/location-area/, /api/v2/location-area/{id}/, /api/v2/location/] after/api/v2/location, ignoring @cask.get("/api/v2/location-area/")
        def locationAreaList(request: cask.Request, limit : Option[Int], offset : Option[Int]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.locationAreaList(limit, offset))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedLocationAreaSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedLocationAreaSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get location area
         * 
         */
        // conflicts with [/api/v2/location-area/{id}/, /api/v2/location-area/] after/api/v2/location-area, ignoring // conflicts with [/api/v2/location/{id}/, /api/v2/location-area/, /api/v2/location-area/{id}/, /api/v2/location/] after/api/v2/location, ignoring @cask.get("/api/v2/location-area/:id/")
        def locationAreaRetrieve(id : Int, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.locationAreaRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import LocationAreaDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : LocationAreaDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List locations
         * 
         */
        // conflicts with [/api/v2/location/{id}/, /api/v2/location-area/, /api/v2/location-area/{id}/, /api/v2/location/] after/api/v2/location, ignoring @cask.get("/api/v2/location/")
        def locationList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.locationList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedLocationSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedLocationSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get location
         * 
         */
        // conflicts with [/api/v2/location/{id}/, /api/v2/location-area/, /api/v2/location-area/{id}/, /api/v2/location/] after/api/v2/location, ignoring @cask.get("/api/v2/location/:id/")
        def locationRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.locationRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import LocationDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : LocationDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List pal park areas
         * 
         */
        // conflicts with [/api/v2/pal-park-area/{id}/, /api/v2/pal-park-area/] after/api/v2/pal-park-area, ignoring @cask.get("/api/v2/pal-park-area/")
        def palParkAreaList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.palParkAreaList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedPalParkAreaSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedPalParkAreaSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get pal park area
         * 
         */
        // conflicts with [/api/v2/pal-park-area/{id}/, /api/v2/pal-park-area/] after/api/v2/pal-park-area, ignoring @cask.get("/api/v2/pal-park-area/:id/")
        def palParkAreaRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.palParkAreaRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PalParkAreaDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PalParkAreaDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** List regions
         * 
         */
        // conflicts with [/api/v2/region/{id}/, /api/v2/region/] after/api/v2/region, ignoring @cask.get("/api/v2/region/")
        def regionList(request: cask.Request, limit : Option[Int], offset : Option[Int], q : Option[String]) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            resultTry <- Parsed.eval(service.regionList(limit, offset, q))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import PaginatedRegionSummaryList.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : PaginatedRegionSummaryList) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }
        /** Get region
         * 
         */
        // conflicts with [/api/v2/region/{id}/, /api/v2/region/] after/api/v2/region, ignoring @cask.get("/api/v2/region/:id/")
        def regionRetrieve(id : String, request: cask.Request) = {
            // auth method basicAuth : http, keyParamName: 
            // auth method cookieAuth : apiKey, keyParamName: sessionid

        def failFast = request.queryParams.keySet.contains("failFast")

        val result =         for {
            id <- Parsed(id)
            resultTry <- Parsed.eval(service.regionRetrieve(id))
            result <- Parsed.fromTry(resultTry)
        } yield result

        import RegionDetail.{given, *} // this brings in upickle in the case of union (oneOf) types

        (result : @unchecked) match {
          case Left(error) => cask.Response(error, 500)
          case Right(value : RegionDetail) => cask.Response(data = write(value), 200, headers = Seq("Content-Type" -> "application/json"))
          case Right(other) => cask.Response(s"$other", 200)
        }
      }

    initialize()
}
