<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractBerriesApi
{

    /**
     * Operation berryFirmnessList
     *
     * Path: `/api/v2/berry-firmness/`
     *
     * List berry firmness
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedBerryFirmnessSummaryList|null
     */
    public function berryFirmnessList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedBerryFirmnessSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryFirmnessList (stream)
     *
     * Path: `/api/v2/berry-firmness/`
     *
     * List berry firmness
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function berryFirmnessListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation berryFirmnessRetrieve
     *
     * Path: `/api/v2/berry-firmness/{id}/`
     *
     * Get berry by firmness
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\BerryFirmnessDetail|null
     */
    public function berryFirmnessRetrieve(string $id): \OpenAPIServer\Model\BerryFirmnessDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryFirmnessRetrieve (stream)
     *
     * Path: `/api/v2/berry-firmness/{id}/`
     *
     * Get berry by firmness
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function berryFirmnessRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation berryFlavorList
     *
     * Path: `/api/v2/berry-flavor/`
     *
     * List berry flavors
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedBerryFlavorSummaryList|null
     */
    public function berryFlavorList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedBerryFlavorSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryFlavorList (stream)
     *
     * Path: `/api/v2/berry-flavor/`
     *
     * List berry flavors
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function berryFlavorListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation berryFlavorRetrieve
     *
     * Path: `/api/v2/berry-flavor/{id}/`
     *
     * Get berries by flavor
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\BerryFlavorDetail|null
     */
    public function berryFlavorRetrieve(string $id): \OpenAPIServer\Model\BerryFlavorDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryFlavorRetrieve (stream)
     *
     * Path: `/api/v2/berry-flavor/{id}/`
     *
     * Get berries by flavor
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function berryFlavorRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation berryList
     *
     * Path: `/api/v2/berry/`
     *
     * List berries
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedBerrySummaryList|null
     */
    public function berryList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedBerrySummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryList (stream)
     *
     * Path: `/api/v2/berry/`
     *
     * List berries
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function berryListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation berryRetrieve
     *
     * Path: `/api/v2/berry/{id}/`
     *
     * Get a berry
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\BerryDetail|null
     */
    public function berryRetrieve(string $id): \OpenAPIServer\Model\BerryDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation berryRetrieve (stream)
     *
     * Path: `/api/v2/berry/{id}/`
     *
     * Get a berry
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function berryRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
