<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractContestsApi
{

    /**
     * Operation contestEffectList
     *
     * Path: `/api/v2/contest-effect/`
     *
     * List contest effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedContestEffectSummaryList|null
     */
    public function contestEffectList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedContestEffectSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation contestEffectList (stream)
     *
     * Path: `/api/v2/contest-effect/`
     *
     * List contest effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function contestEffectListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation contestEffectRetrieve
     *
     * Path: `/api/v2/contest-effect/{id}/`
     *
     * Get contest effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ContestEffectDetail|null
     */
    public function contestEffectRetrieve(string $id): \OpenAPIServer\Model\ContestEffectDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation contestEffectRetrieve (stream)
     *
     * Path: `/api/v2/contest-effect/{id}/`
     *
     * Get contest effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function contestEffectRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation contestTypeList
     *
     * Path: `/api/v2/contest-type/`
     *
     * List contest types
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedContestTypeSummaryList|null
     */
    public function contestTypeList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedContestTypeSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation contestTypeList (stream)
     *
     * Path: `/api/v2/contest-type/`
     *
     * List contest types
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function contestTypeListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation contestTypeRetrieve
     *
     * Path: `/api/v2/contest-type/{id}/`
     *
     * Get contest type
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ContestTypeDetail|null
     */
    public function contestTypeRetrieve(string $id): \OpenAPIServer\Model\ContestTypeDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation contestTypeRetrieve (stream)
     *
     * Path: `/api/v2/contest-type/{id}/`
     *
     * Get contest type
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function contestTypeRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation superContestEffectList
     *
     * Path: `/api/v2/super-contest-effect/`
     *
     * List super contest effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedSuperContestEffectSummaryList|null
     */
    public function superContestEffectList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedSuperContestEffectSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation superContestEffectList (stream)
     *
     * Path: `/api/v2/super-contest-effect/`
     *
     * List super contest effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function superContestEffectListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation superContestEffectRetrieve
     *
     * Path: `/api/v2/super-contest-effect/{id}/`
     *
     * Get super contest effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\SuperContestEffectDetail|null
     */
    public function superContestEffectRetrieve(string $id): \OpenAPIServer\Model\SuperContestEffectDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation superContestEffectRetrieve (stream)
     *
     * Path: `/api/v2/super-contest-effect/{id}/`
     *
     * Get super contest effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function superContestEffectRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
