<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractLocationApi
{

    /**
     * Operation locationAreaList
     *
     * Path: `/api/v2/location-area/`
     *
     * List location areas
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedLocationAreaSummaryList|null
     */
    public function locationAreaList(?int $limit, ?int $offset): \OpenAPIServer\Model\PaginatedLocationAreaSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation locationAreaList (stream)
     *
     * Path: `/api/v2/location-area/`
     *
     * List location areas
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     *
     */
    public function locationAreaListStream(?int $limit, ?int $offset): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation locationAreaRetrieve
     *
     * Path: `/api/v2/location-area/{id}/`
     *
     * Get location area
     *
     * @param int $id A unique integer value identifying this location area. (required)
     *
     * @return \OpenAPIServer\Model\LocationAreaDetail|null
     */
    public function locationAreaRetrieve(int $id): \OpenAPIServer\Model\LocationAreaDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation locationAreaRetrieve (stream)
     *
     * Path: `/api/v2/location-area/{id}/`
     *
     * Get location area
     *
     * @param int $id A unique integer value identifying this location area. (required)
     *
     */
    public function locationAreaRetrieveStream(int $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation locationList
     *
     * Path: `/api/v2/location/`
     *
     * List locations
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedLocationSummaryList|null
     */
    public function locationList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedLocationSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation locationList (stream)
     *
     * Path: `/api/v2/location/`
     *
     * List locations
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function locationListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation locationRetrieve
     *
     * Path: `/api/v2/location/{id}/`
     *
     * Get location
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\LocationDetail|null
     */
    public function locationRetrieve(string $id): \OpenAPIServer\Model\LocationDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation locationRetrieve (stream)
     *
     * Path: `/api/v2/location/{id}/`
     *
     * Get location
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function locationRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation palParkAreaList
     *
     * Path: `/api/v2/pal-park-area/`
     *
     * List pal park areas
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedPalParkAreaSummaryList|null
     */
    public function palParkAreaList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedPalParkAreaSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation palParkAreaList (stream)
     *
     * Path: `/api/v2/pal-park-area/`
     *
     * List pal park areas
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function palParkAreaListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation palParkAreaRetrieve
     *
     * Path: `/api/v2/pal-park-area/{id}/`
     *
     * Get pal park area
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\PalParkAreaDetail|null
     */
    public function palParkAreaRetrieve(string $id): \OpenAPIServer\Model\PalParkAreaDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation palParkAreaRetrieve (stream)
     *
     * Path: `/api/v2/pal-park-area/{id}/`
     *
     * Get pal park area
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function palParkAreaRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation regionList
     *
     * Path: `/api/v2/region/`
     *
     * List regions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedRegionSummaryList|null
     */
    public function regionList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedRegionSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation regionList (stream)
     *
     * Path: `/api/v2/region/`
     *
     * List regions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function regionListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation regionRetrieve
     *
     * Path: `/api/v2/region/{id}/`
     *
     * Get region
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\RegionDetail|null
     */
    public function regionRetrieve(string $id): \OpenAPIServer\Model\RegionDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation regionRetrieve (stream)
     *
     * Path: `/api/v2/region/{id}/`
     *
     * Get region
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function regionRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
