<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractMachinesApi
{

    /**
     * Operation machineList
     *
     * Path: `/api/v2/machine/`
     *
     * List machines
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMachineSummaryList|null
     */
    public function machineList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMachineSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation machineList (stream)
     *
     * Path: `/api/v2/machine/`
     *
     * List machines
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function machineListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation machineRetrieve
     *
     * Path: `/api/v2/machine/{id}/`
     *
     * Get machine
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MachineDetail|null
     */
    public function machineRetrieve(string $id): \OpenAPIServer\Model\MachineDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation machineRetrieve (stream)
     *
     * Path: `/api/v2/machine/{id}/`
     *
     * Get machine
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function machineRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
