<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractGamesApi
{

    /**
     * Operation generationList
     *
     * Path: `/api/v2/generation/`
     *
     * List genrations
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedGenerationSummaryList|null
     */
    public function generationList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedGenerationSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation generationList (stream)
     *
     * Path: `/api/v2/generation/`
     *
     * List genrations
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function generationListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation generationRetrieve
     *
     * Path: `/api/v2/generation/{id}/`
     *
     * Get genration
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\GenerationDetail|null
     */
    public function generationRetrieve(string $id): \OpenAPIServer\Model\GenerationDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation generationRetrieve (stream)
     *
     * Path: `/api/v2/generation/{id}/`
     *
     * Get genration
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function generationRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pokedexList
     *
     * Path: `/api/v2/pokedex/`
     *
     * List pokedex
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedPokedexSummaryList|null
     */
    public function pokedexList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedPokedexSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pokedexList (stream)
     *
     * Path: `/api/v2/pokedex/`
     *
     * List pokedex
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function pokedexListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation pokedexRetrieve
     *
     * Path: `/api/v2/pokedex/{id}/`
     *
     * Get pokedex
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\PokedexDetail|null
     */
    public function pokedexRetrieve(string $id): \OpenAPIServer\Model\PokedexDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation pokedexRetrieve (stream)
     *
     * Path: `/api/v2/pokedex/{id}/`
     *
     * Get pokedex
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function pokedexRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation versionGroupList
     *
     * Path: `/api/v2/version-group/`
     *
     * List version groups
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedVersionGroupSummaryList|null
     */
    public function versionGroupList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedVersionGroupSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation versionGroupList (stream)
     *
     * Path: `/api/v2/version-group/`
     *
     * List version groups
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function versionGroupListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation versionGroupRetrieve
     *
     * Path: `/api/v2/version-group/{id}/`
     *
     * Get version group
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\VersionGroupDetail|null
     */
    public function versionGroupRetrieve(string $id): \OpenAPIServer\Model\VersionGroupDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation versionGroupRetrieve (stream)
     *
     * Path: `/api/v2/version-group/{id}/`
     *
     * Get version group
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function versionGroupRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation versionList
     *
     * Path: `/api/v2/version/`
     *
     * List versions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedVersionSummaryList|null
     */
    public function versionList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedVersionSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation versionList (stream)
     *
     * Path: `/api/v2/version/`
     *
     * List versions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function versionListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation versionRetrieve
     *
     * Path: `/api/v2/version/{id}/`
     *
     * Get version
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\VersionDetail|null
     */
    public function versionRetrieve(string $id): \OpenAPIServer\Model\VersionDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation versionRetrieve (stream)
     *
     * Path: `/api/v2/version/{id}/`
     *
     * Get version
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function versionRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
