<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractItemsApi
{

    /**
     * Operation itemAttributeList
     *
     * Path: `/api/v2/item-attribute/`
     *
     * List item attributes
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedItemAttributeSummaryList|null
     */
    public function itemAttributeList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedItemAttributeSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemAttributeList (stream)
     *
     * Path: `/api/v2/item-attribute/`
     *
     * List item attributes
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function itemAttributeListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemAttributeRetrieve
     *
     * Path: `/api/v2/item-attribute/{id}/`
     *
     * Get item attribute
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ItemAttributeDetail|null
     */
    public function itemAttributeRetrieve(string $id): \OpenAPIServer\Model\ItemAttributeDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemAttributeRetrieve (stream)
     *
     * Path: `/api/v2/item-attribute/{id}/`
     *
     * Get item attribute
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function itemAttributeRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemCategoryList
     *
     * Path: `/api/v2/item-category/`
     *
     * List item categories
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedItemCategorySummaryList|null
     */
    public function itemCategoryList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedItemCategorySummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemCategoryList (stream)
     *
     * Path: `/api/v2/item-category/`
     *
     * List item categories
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function itemCategoryListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemCategoryRetrieve
     *
     * Path: `/api/v2/item-category/{id}/`
     *
     * Get item category
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ItemCategoryDetail|null
     */
    public function itemCategoryRetrieve(string $id): \OpenAPIServer\Model\ItemCategoryDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemCategoryRetrieve (stream)
     *
     * Path: `/api/v2/item-category/{id}/`
     *
     * Get item category
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function itemCategoryRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemFlingEffectList
     *
     * Path: `/api/v2/item-fling-effect/`
     *
     * List item fling effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedItemFlingEffectSummaryList|null
     */
    public function itemFlingEffectList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedItemFlingEffectSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemFlingEffectList (stream)
     *
     * Path: `/api/v2/item-fling-effect/`
     *
     * List item fling effects
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function itemFlingEffectListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemFlingEffectRetrieve
     *
     * Path: `/api/v2/item-fling-effect/{id}/`
     *
     * Get item fling effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ItemFlingEffectDetail|null
     */
    public function itemFlingEffectRetrieve(string $id): \OpenAPIServer\Model\ItemFlingEffectDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemFlingEffectRetrieve (stream)
     *
     * Path: `/api/v2/item-fling-effect/{id}/`
     *
     * Get item fling effect
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function itemFlingEffectRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemList
     *
     * Path: `/api/v2/item/`
     *
     * List items
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedItemSummaryList|null
     */
    public function itemList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedItemSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemList (stream)
     *
     * Path: `/api/v2/item/`
     *
     * List items
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function itemListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemPocketList
     *
     * Path: `/api/v2/item-pocket/`
     *
     * List item pockets
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedItemPocketSummaryList|null
     */
    public function itemPocketList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedItemPocketSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemPocketList (stream)
     *
     * Path: `/api/v2/item-pocket/`
     *
     * List item pockets
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function itemPocketListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemPocketRetrieve
     *
     * Path: `/api/v2/item-pocket/{id}/`
     *
     * Get item pocket
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ItemPocketDetail|null
     */
    public function itemPocketRetrieve(string $id): \OpenAPIServer\Model\ItemPocketDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemPocketRetrieve (stream)
     *
     * Path: `/api/v2/item-pocket/{id}/`
     *
     * Get item pocket
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function itemPocketRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation itemRetrieve
     *
     * Path: `/api/v2/item/{id}/`
     *
     * Get item
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\ItemDetail|null
     */
    public function itemRetrieve(string $id): \OpenAPIServer\Model\ItemDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation itemRetrieve (stream)
     *
     * Path: `/api/v2/item/{id}/`
     *
     * Get item
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function itemRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
