<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractEncountersApi
{

    /**
     * Operation encounterConditionList
     *
     * Path: `/api/v2/encounter-condition/`
     *
     * List encounter conditions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedEncounterConditionSummaryList|null
     */
    public function encounterConditionList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedEncounterConditionSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterConditionList (stream)
     *
     * Path: `/api/v2/encounter-condition/`
     *
     * List encounter conditions
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function encounterConditionListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation encounterConditionRetrieve
     *
     * Path: `/api/v2/encounter-condition/{id}/`
     *
     * Get encounter condition
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\EncounterConditionDetail|null
     */
    public function encounterConditionRetrieve(string $id): \OpenAPIServer\Model\EncounterConditionDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterConditionRetrieve (stream)
     *
     * Path: `/api/v2/encounter-condition/{id}/`
     *
     * Get encounter condition
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function encounterConditionRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation encounterConditionValueList
     *
     * Path: `/api/v2/encounter-condition-value/`
     *
     * List encounter condition values
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedEncounterConditionValueSummaryList|null
     */
    public function encounterConditionValueList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedEncounterConditionValueSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterConditionValueList (stream)
     *
     * Path: `/api/v2/encounter-condition-value/`
     *
     * List encounter condition values
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function encounterConditionValueListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation encounterConditionValueRetrieve
     *
     * Path: `/api/v2/encounter-condition-value/{id}/`
     *
     * Get encounter condition value
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\EncounterConditionValueDetail|null
     */
    public function encounterConditionValueRetrieve(string $id): \OpenAPIServer\Model\EncounterConditionValueDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterConditionValueRetrieve (stream)
     *
     * Path: `/api/v2/encounter-condition-value/{id}/`
     *
     * Get encounter condition value
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function encounterConditionValueRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation encounterMethodList
     *
     * Path: `/api/v2/encounter-method/`
     *
     * List encounter methods
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedEncounterMethodSummaryList|null
     */
    public function encounterMethodList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedEncounterMethodSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterMethodList (stream)
     *
     * Path: `/api/v2/encounter-method/`
     *
     * List encounter methods
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function encounterMethodListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation encounterMethodRetrieve
     *
     * Path: `/api/v2/encounter-method/{id}/`
     *
     * Get encounter method
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\EncounterMethodDetail|null
     */
    public function encounterMethodRetrieve(string $id): \OpenAPIServer\Model\EncounterMethodDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation encounterMethodRetrieve (stream)
     *
     * Path: `/api/v2/encounter-method/{id}/`
     *
     * Get encounter method
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function encounterMethodRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
