<?php

/**
 * PokéAPI
 * PHP version 8.x
 *
 * @package OpenAPIServer
 * @author  OpenAPI Generator team
 * @link    https://github.com/openapitools/openapi-generator
 */

/**
 * All the Pokémon data you'll ever need in one place, easily accessible through a modern free open-source RESTful API.  ## What is this?  This is a full RESTful API linked to an extensive database detailing everything about the Pokémon main game series.  We've covered everything from Pokémon to Berry Flavors.  ## Where do I start?  We have awesome [documentation](https://pokeapi.co/docs/v2) on how to use this API. It takes minutes to get started.  This API will always be publicly available and will never require any extensive setup process to consume.  Created by [**Paul Hallett**(]https://github.com/phalt) and other [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing) around the world. Pokémon and Pokémon character names are trademarks of Nintendo.
 * The version of the OpenAPI document: 2.7.0
 * Contact: blah+oapicf@cliffano.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

namespace OpenAPIServer\Api;


abstract class AbstractMovesApi
{

    /**
     * Operation moveAilmentList
     *
     * Path: `/api/v2/move-ailment/`
     *
     * List move meta ailments
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveMetaAilmentSummaryList|null
     */
    public function moveAilmentList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveMetaAilmentSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveAilmentList (stream)
     *
     * Path: `/api/v2/move-ailment/`
     *
     * List move meta ailments
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveAilmentListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveAilmentRetrieve
     *
     * Path: `/api/v2/move-ailment/{id}/`
     *
     * Get move meta ailment
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveMetaAilmentDetail|null
     */
    public function moveAilmentRetrieve(string $id): \OpenAPIServer\Model\MoveMetaAilmentDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveAilmentRetrieve (stream)
     *
     * Path: `/api/v2/move-ailment/{id}/`
     *
     * Get move meta ailment
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveAilmentRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveBattleStyleList
     *
     * Path: `/api/v2/move-battle-style/`
     *
     * List move battle styles
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveBattleStyleSummaryList|null
     */
    public function moveBattleStyleList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveBattleStyleSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveBattleStyleList (stream)
     *
     * Path: `/api/v2/move-battle-style/`
     *
     * List move battle styles
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveBattleStyleListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveBattleStyleRetrieve
     *
     * Path: `/api/v2/move-battle-style/{id}/`
     *
     * Get move battle style
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveBattleStyleDetail|null
     */
    public function moveBattleStyleRetrieve(string $id): \OpenAPIServer\Model\MoveBattleStyleDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveBattleStyleRetrieve (stream)
     *
     * Path: `/api/v2/move-battle-style/{id}/`
     *
     * Get move battle style
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveBattleStyleRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveCategoryList
     *
     * Path: `/api/v2/move-category/`
     *
     * List move meta categories
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveMetaCategorySummaryList|null
     */
    public function moveCategoryList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveMetaCategorySummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveCategoryList (stream)
     *
     * Path: `/api/v2/move-category/`
     *
     * List move meta categories
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveCategoryListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveCategoryRetrieve
     *
     * Path: `/api/v2/move-category/{id}/`
     *
     * Get move meta category
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveMetaCategoryDetail|null
     */
    public function moveCategoryRetrieve(string $id): \OpenAPIServer\Model\MoveMetaCategoryDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveCategoryRetrieve (stream)
     *
     * Path: `/api/v2/move-category/{id}/`
     *
     * Get move meta category
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveCategoryRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveLearnMethodList
     *
     * Path: `/api/v2/move-learn-method/`
     *
     * List move learn methods
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveLearnMethodSummaryList|null
     */
    public function moveLearnMethodList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveLearnMethodSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveLearnMethodList (stream)
     *
     * Path: `/api/v2/move-learn-method/`
     *
     * List move learn methods
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveLearnMethodListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveLearnMethodRetrieve
     *
     * Path: `/api/v2/move-learn-method/{id}/`
     *
     * Get move learn method
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveLearnMethodDetail|null
     */
    public function moveLearnMethodRetrieve(string $id): \OpenAPIServer\Model\MoveLearnMethodDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveLearnMethodRetrieve (stream)
     *
     * Path: `/api/v2/move-learn-method/{id}/`
     *
     * Get move learn method
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveLearnMethodRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveList
     *
     * Path: `/api/v2/move/`
     *
     * List moves
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveSummaryList|null
     */
    public function moveList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveList (stream)
     *
     * Path: `/api/v2/move/`
     *
     * List moves
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveRetrieve
     *
     * Path: `/api/v2/move/{id}/`
     *
     * Get move
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveDetail|null
     */
    public function moveRetrieve(string $id): \OpenAPIServer\Model\MoveDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveRetrieve (stream)
     *
     * Path: `/api/v2/move/{id}/`
     *
     * Get move
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveTargetList
     *
     * Path: `/api/v2/move-target/`
     *
     * List move targets
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     * @return \OpenAPIServer\Model\PaginatedMoveTargetSummaryList|null
     */
    public function moveTargetList(?int $limit, ?int $offset, ?string $q): \OpenAPIServer\Model\PaginatedMoveTargetSummaryList|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveTargetList (stream)
     *
     * Path: `/api/v2/move-target/`
     *
     * List move targets
     *
     * @param ?int $limit Number of results to return per page. (optional)
     * @param ?int $offset The initial index from which to return the results. (optional)
     * @param ?string $q &gt; Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2) Case-insensitive query applied on the &#x60;name&#x60; property. (optional)
     *
     */
    public function moveTargetListStream(?int $limit, ?int $offset, ?string $q): void
    {
        throw new \Exception('Not implemented');
    }
    /**
     * Operation moveTargetRetrieve
     *
     * Path: `/api/v2/move-target/{id}/`
     *
     * Get move target
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     * @return \OpenAPIServer\Model\MoveTargetDetail|null
     */
    public function moveTargetRetrieve(string $id): \OpenAPIServer\Model\MoveTargetDetail|null
    {
        throw new \Exception('Not implemented');
    }

    /**
     * Operation moveTargetRetrieve (stream)
     *
     * Path: `/api/v2/move-target/{id}/`
     *
     * Get move target
     *
     * @param string $id This parameter can be a string or an integer. (required)
     *
     */
    public function moveTargetRetrieveStream(string $id): void
    {
        throw new \Exception('Not implemented');
    }
}
